<header title="Blueprints">
  <buttons>
    <button ui-sref="createBlueprint" class="btn btn-default" type="submit">Create</button>
  </buttons>
</header>

<div class="container-fluid">
  <table class="table">
    <tr>
      <th>Name:</th>
      <th></th>
    </tr>
    <tr ng-repeat="blueprint in $ctrl.blueprints">
      <td>{{blueprint.name}}</td>
      <td>
        <div class="pull-right">
          <button ng-click="$ctrl.openDeployModal(blueprint)" class="btn btn-default">Deploy</button>
          <button ui-sref="updateBlueprint({id: blueprint.name})" class="btn btn-default">Edit</button>
          <button ng-click="$ctrl.openDeleteModal(blueprint.name)" class="btn btn-default">Delete</button>
        </div>
      </td>
    </tr>
  </table>
</div>