.artifact {
  &-table {
    border-spacing: 0 10px;
    text-align: left;
    width: 100%;

    a:not(.button):not(.artifact-name) {
      color: $blue-mid;
    }

    thead {
      margin-bottom: 1em;;
    }

    td:last-child,
    th:last-child {
      text-align: right;
    }

    td,
    th {
      padding: 1em;
    }

    td {
      background-color: lighten( $blue , 10% );

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }
    }

    th {
      color: $blue-mid;
    }
  }
}

.artifact {
  &-header {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    font-weight: bold;
    margin: 10px 0;
    padding: 1em;

    &-link {
      color: $blue-mid;
      // text-decoration: none;
    }

    h2 {
      font-size: 1rem;
      margin: 0;
    }
  }

  &-name {
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
  }

  &-options {
    min-width: 160px;
    text-align: right;

    a + a,
    .button + .button {
      margin-left: 0.5em;
    }
  }
}
