.button {
  cursor: pointer;
  display: inline-block;
  background-color: $blue-mid;
  border: 0;
  border-radius: 99em;
  color: white;
  font-weight: bold;
  padding: 0.375em 1em;
  text-decoration: none;
  transition: all 250ms ease;

  &:hover {
    background-color: lighten( $blue-mid , 10% );
  }

  &-attention {
    background-color: $pink;

    &:hover {
      background-color: lighten( $pink , 10% );
    }
  }

  &-subtle {
    background-color: transparent;
    border: solid 1px;
    color: $blue-mid;
    padding: calc( 0.375em - 1px ) calc( 1em - 1px );

    &:hover {
      background-color: transparent;
      color: white;
    }
  }
}
