<div>
    <editable ng-if="!$ctrl.editMode" active="$ctrl.active" on-click="$ctrl.setEditModeActive()">
        <span ng-transclude></span>
    </editable>
    <div ng-if="$ctrl.editMode">
        <form class="editable-text" novalidate name="form" ng-submit="$ctrl.edited({value: $ctrl.change}); $ctrl.setEditModeInactive()">
            <input ng-model="$ctrl.change" type="text">
            <div class="editable-text-buttons">
                <button type="submit">
                    <i class="fa fa-check"></i>
                </button>
                <button ng-click="$ctrl.setEditModeInactive()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </form>
    </div>
</div>