<div>
    <editable ng-if="!$ctrl.editMode" active="$ctrl.active" on-click="$ctrl.setEditModeActive()">
        <span ng-transclude></span>
    </editable>
    <div class="editable-text" ng-if="$ctrl.editMode">
        <rzslider class="slider" rz-slider-model="$ctrl.change" rz-slider-options="$ctrl.sliderOptions"></rzslider>
        <div class="pull-right">
            <button ng-click="$ctrl.edited({value: $ctrl.change}); $ctrl.setEditModeInactive()">
                <i class="fa fa-check"></i>
            </button>
            <button ng-click="$ctrl.setEditModeInactive()">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</div>