$widths: (
	widescreen: 76.8rem,
	desktop: 64rem,
	tablet : 48rem,
	mobile : 767px,
);

@function width($width) {
	@return map-get($widths, $width);
}

// Mixins
@mixin widescreen {
	@media (min-width: width(widescreen)) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: width(desktop)) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: width(tablet)) {
		@content;
	}
}

@mixin phablet {
	@media (min-width: width(tablet)) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: width(mobile)) {
		@content;
	}
}

// .so = Show on ... ; Switch on ...
@each $screen, $width in $widths {
  .s-#{$screen} {
    display: none;
    @media ( min-width: width( $screen ) ) {
      display: block;
    }
  }

	.h-#{$screen} {
		@media ( min-width: width( $screen ) ) {
			display: none;
		}
	}
}
