$border-radius: 6px;

/* Brand colors */
$blue: #308ed6;
$blue-dark: #2e3b4c;
$pink: #FF4081;
$orange: #f15a24;

$grey-light: #f6f7fa;

/* Couple various colors to UI elements */
$color-bg: $grey-light;
$color-primary: $blue-dark;
$color-action: $blue;
$color-contrast: $pink;
$color-highlight: $orange;

/* Couple UI colors to components */
$text-color: $color-primary;
$link-color: $color-action;
$link-color-hover: $color-contrast;
$headings-color: $color-primary;
