.page {
    height: 100%;
    background-color: $dark-grey;


    .info {
        height: 4.6rem;
        background-color: $light-grey;
        padding: 0 1rem;

        display: flex;
        align-items: center;

        .title {
            margin: 0;
            padding: 0;
            color: white;
            font-weight: normal;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }
}
