<div ng-controller="DeploymentController as $ctrl" ng-show="$ctrl.deployment">
    <header title="{{$ctrl.title}}">
        <buttons>
            <button class="btn btn-lg btn-circle" type="submit" title="EDIT" ng-click="$ctrl.edit()">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-lg btn-circle red" type="submit" title="DELETE"
                    ng-disabled="!$ctrl.deployment"
                    ng-click="$ctrl.delete()">
                <i class="fa fa-trash-o"></i>
            </button>
        </buttons>
    </header>
    <div class="container-fluid deployment">
        <div class="row deployment-charts">
            <div class="col-md-4 deployment-chart-column">
                <p>HEALTH&nbsp;
                    <span ng-if="$ctrl.last['health'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['health'] != 'none', 'label-red-alert': $ctrl.last['health'] == 'none'}">
                        {{ $ctrl.last['health'] == 'none' ? 'none' : $ctrl.last['health'] + ' %' }}
                    </span>
                </p>
                <canvas class="chart" id="health" width="330"></canvas>
            </div>
            <div class="col-md-4 deployment-chart-column">
                <p>CPU&nbsp;
                    <span ng-if="$ctrl.last['cpu'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['cpu'] != 'none', 'label-red-alert': $ctrl.last['cpu'] == 'none'}">
                        {{ $ctrl.last['cpu'] == 'none' ? 'none' : $ctrl.last['cpu'] }}
                    </span>
                </p>
                <canvas class="chart" id="cpu" width="330"></canvas>
            </div>
            <div class="col-md-4 deployment-chart-column">
                <p>MEMORY&nbsp;
                    <span ng-if="$ctrl.last['memory'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['memory'] != 'none', 'label-red-alert': $ctrl.last['memory'] == 'none'}">
                        {{ $ctrl.last['memory'] == 'none' ? 'none' : $ctrl.last['memory'] + ' MB' }}
                    </span>
                </p>
                <canvas class="chart" id="memory" width="330"></canvas>
            </div>
        </div>
        <div class="row deployment-cluster" ng-repeat="cluster in $ctrl.deployment.clusters | namify | orderBy:'name'">
            <div class="row deployment-cluster-row-header">
                <div class="col-md-4 deployment-row-no-padding">
                    <div class="col-sm-6 deployment-cluster-name">
                        <span class="label">CLUSTER : {{ cluster.name | uppercase }}</span>
                    </div>
                    <div class="col-sm-6 deployment-row-center">HEALTH</div>
                </div>
                <div class="col-md-4 deployment-row">
                    <div class="col-sm-6">SCALE</div>
                    <div class="col-sm-6">INSTANCES</div>
                </div>
                <div class="col-md-4 deployment-row">
                    <div class="col-sm-6">PORTS</div>
                    <div class="col-sm-6">ENV VARS</div>
                </div>
            </div>
            <div class="row deployment-cluster-service-row"
                 ng-repeat="service in cluster.services | orderBy:'breed.name'">
                <div class="col-md-4 deployment-cluster-service">
                    <div class="col-sm-6 deployment-row-center deployment-cluster-service-name">
                        <span class="label"
                              ng-class="{'label-success': $ctrl.serviceStatus(service) === 'running', 'label-info': $ctrl.serviceStatus(service) === 'updating', 'label-red-alert': $ctrl.serviceStatus(service) === 'failed', 'highlight': $ctrl.addedService(cluster, service)}">
                            {{service.breed.name}}
                            <i ng-if="$ctrl.serviceStatus(service) !== 'running'"
                               class="fa"
                               ng-class="{'fa-cog': $ctrl.serviceStatus(service) === 'updating', 'fa-spin': $ctrl.serviceStatus(service) === 'updating', 'fa-exclamation-triangle': $ctrl.serviceStatus(service) === 'failed'}"></i>
                        </span>
                    </div>
                    <div class="col-sm-6 deployment-row-center deployment-column-sparkline">
                        <canvas class="chart" id="health-{{service.breed.name}}" width="100"
                                height="40"></canvas>
                        <p>
                            <span ng-if="$ctrl.last['health-' + service.breed.name] != null" class="label"
                                  ng-class="{'label-success': $ctrl.last['health-' + service.breed.name] != 'none', 'label-red-alert': $ctrl.last['health-' + service.breed.name] == 'none'}">
                            {{ $ctrl.last['health-' + service.breed.name] == 'none' ? 'none' : $ctrl.last['health-' + service.breed.name] + ' %'}}
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 deployment-row">
                    <div class="col-sm-6 deployment-row deployment-cluster-list deployment-action-icons">
                        <div class="deployment-column-scale">
                            <div class="deployment-float-1">
                                <ul>
                                    <li><span class="title">cpu: </span> {{service.scale.cpu}}</li>
                                    <li><span class="title">memory: </span> {{service.scale.memory}}</li>
                                    <li><span class="title">instances: </span> {{service.scale.instances}}</li>
                                </ul>
                            </div>
                            <div class="deployment-float-2">
                                <i class="fa fa-pencil" ng-click="$ctrl.editScale(cluster, service)"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 deployment-row deployment-cluster-list deployment-action-icons">
                        <div class="deployment-column-instances">
                            <div class="deployment-float-1">
                                <ul>
                                    <li ng-repeat="instance in service.instances | limitTo: 5">
                                <span class="label label-success"
                                      ng-class="{'highlight': service.scale.instances != service.instances.length}">
                                    {{instance.host}}
                                </span>
                                    </li>
                                    <li>
                                        <i ng-if="service.instances.length > 5" class="fa fa-ellipsis-h"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="deployment-float-2">
                                <i class="fa fa-arrows-alt" ng-click="$ctrl.showInstances(cluster, service)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 deployment-row">
                    <div class="col-sm-6 deployment-column-ports">
                        <p ng-repeat="(portName, port) in service.breed.ports | orderByKeys">
                            <a ui-sref="gatewaysView({name: '{{$ctrl.deployment.name}}/{{cluster.name}}/{{portName}}'})"
                               href="">{{portName}}</a>
                        </p>
                    </div>
                    <div class="col-sm-6 deployment-cluster-list deployment-action-icons">
                        <div>
                            <div class="deployment-float-1">
                                <ul>
                                    <li ng-repeat="env in service.environment_variables | limitTo: 5">
                                        {{env.name | limitTo: 15 }}{{env.name.length > 15 ? ' ...' : '' }}
                                    </li>
                                    <li>
                                        <i ng-if="service.environment_variables.length > 5"
                                           class="fa fa-ellipsis-h"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="deployment-float-2">
                                <i class="fa fa-arrows-alt"
                                   ng-click="$ctrl.showEnvironmentVariables(cluster, service)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
