<div ng-show="$ctrl.deployment">
    <header title="{{$ctrl.title}}">
        <buttons>
            <button class="btn btn-ghost btn-primary" type="submit" title="VIEW" ng-click="$ctrl.edit()">
                View source
            </button>
            <button class="btn btn-ghost btn-danger" type="submit" title="DELETE"
                    ng-disabled="!$ctrl.deployment"
                    ng-click="$ctrl.delete()">
                Delete
            </button>
        </buttons>
    </header>
    <div class="container-fluid deployment">
        <div class="row deployment-charts">
            <div class="col-md-4 deployment-chart-column">
                <p>HEALTH&nbsp;
                    <span ng-if="$ctrl.last['health'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['health'] != 'none', 'label-red-alert': $ctrl.last['health'] == 'none'}">
                        {{ $ctrl.last['health'] == 'none' ? 'none' : $ctrl.last['health'] + ' %' }}
                    </span>
                </p>
                <canvas class="chart" id="health" width="330"></canvas>
            </div>
            <div class="col-md-4 deployment-chart-column">
                <p>CPU&nbsp;
                    <span ng-if="$ctrl.last['cpu'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['cpu'] != 'none', 'label-red-alert': $ctrl.last['cpu'] == 'none'}">
                        {{ $ctrl.last['cpu'] == 'none' ? 'none' : $ctrl.last['cpu'] }}
                    </span>
                </p>
                <canvas class="chart" id="cpu" width="330"></canvas>
            </div>
            <div class="col-md-4 deployment-chart-column">
                <p>MEMORY&nbsp;
                    <span ng-if="$ctrl.last['memory'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['memory'] != 'none', 'label-red-alert': $ctrl.last['memory'] == 'none'}">
                        {{ $ctrl.last['memory'] == 'none' ? 'none' : $ctrl.last['memory'] + ' MB' }}
                    </span>
                </p>
                <canvas class="chart" id="memory" width="330"></canvas>
            </div>
        </div>

        <div class="vamp-table cluster-table">
            <div class="vamp-table__group" ng-repeat="cluster in $ctrl.deployment.clusters | namify | orderBy: 'name'">
                <div class="vamp-table__group__name">
                    <span class="v-value">{{ cluster.name | uppercase }}</span>
                    <span class="v-label">&nbsp;CLUSTER</span>
                </div>

                <div class="vamp-table__headers">
                    <div class="vamp-table__header name-col">
                        <span class="v-label">Name</span>
                    </div>
                    <div class="vamp-table__header health-col">
                        <span class="v-label">HEALTH</span>
                    </div>
                    <div class="vamp-table__header scale-col">
                        <span class="v-label">SCALE</span>
                    </div>
                    <div class="vamp-table__header instances-col">
                        <span class="v-label">INSTANCES</span>
                    </div>
                    <div class="vamp-table__header ports-col">
                        <span class="v-label">PORTS</span>
                    </div>
                    <div class="vamp-table__header env-col">
                        <span class="v-label">ENV VARS</span>
                    </div>
                </div>

                <div class="vamp-table__row" ng-repeat="service in cluster.services | orderBy:'breed.name'">
                    <div class="vamp-table__col name-col">
                        <span class="v-value v-value--emphasis v-value--state"
                              ng-class="{'v-value--state--update': $ctrl.serviceStatus(service) === 'updating' || $ctrl.serviceStatus(service) === 'deploying' || $ctrl.serviceStatus(service) === 'undeploying', 'v-value--state--error-alert': $ctrl.serviceStatus(service) === 'failed', 'v-value--state--highlight': $ctrl.addedService(cluster, service)}">
                            {{service.breed.name}}

                            <i class="fa"
                               ng-class="{'fa-cog': $ctrl.serviceStatus(service) === 'updating' || $ctrl.serviceStatus(service) === 'deploying' || $ctrl.serviceStatus(service) === 'undeploying', 'fa-spin': $ctrl.serviceStatus(service) === 'updating' || $ctrl.serviceStatus(service) === 'deploying' || $ctrl.serviceStatus(service) === 'undeploying', 'fa-exclamation-triangle': $ctrl.serviceStatus(service) === 'failed'}"></i>
                        </span>
                    </div>

                    <div class="vamp-table__col vamp-table__col--chart health-col">
                        <canvas class="chart" id="health-{{service.breed.name}}" width="100" height="40"></canvas>
                        <p>
                            <span ng-if="$ctrl.last['health-' + service.breed.name] != null" class="label"
                                  ng-class="{'label-success': $ctrl.last['health-' + service.breed.name] != 'none', 'label-red-alert': $ctrl.last['health-' + service.breed.name] == 'none'}">
                            {{ $ctrl.last['health-' + service.breed.name] == 'none' ? 'none' : $ctrl.last['health-' + service.breed.name] + ' %'}}
                            </span>
                        </p>
                    </div>

                    <div class="vamp-table__col scale-col">
                        <div class="vamp-table__col__list">
                            <div class="vamp-table__col__list__action" ng-click="$ctrl.editScale(cluster, service)">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="vamp-table__col__list__item">
                                <span class="v-label">CPU:&nbsp;</span>
                                <span class="v-value">{{service.scale.cpu}}</span>

                            </div>

                            <div class="vamp-table__col__list__item">
                                <span class="v-label">Memory:&nbsp;</span>
                                <span class="v-value">{{service.scale.memory}}</span>
                            </div>

                            <div class="vamp-table__col__list__item">
                                <span class="v-label">Instances:&nbsp;</span>
                                <span class="v-value">{{service.scale.instances}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="vamp-table__col instances-col">
                        <div class="vamp-table__col__list">
                            <div class="vamp-table__col__list__action" ng-show="service.instances.length > 0"
                                 ng-click="$ctrl.showInstances(cluster, service)">
                                <i class="fa fa-arrows-alt"></i>
                            </div>

                            <div class="vamp-table__col__list__item"
                                 ng-repeat="instance in service.instances">
                                <span ng-class="{'v-value--state--highlight': service.scale.instances != service.instances.length}">
                                    {{instance.name | limitTo: 25 }}
                                </span>
                                <div ng-repeat="(portName, port) in instance.ports | orderByKeys">
                                    <span class="v-value v-value--state"
                                          ng-if="!$ctrl.proxy(cluster, service, instance, portName)">
                                        {{portName}}
                                    </span>
                                    <span class="label label-success"
                                          ng-if="$ctrl.proxy(cluster, service, instance, portName)">
                                        <a class="proxy-anchor"
                                           ng-click="$ctrl.proxy(cluster, service, instance, portName, $event)">
                                            {{portName}}
                                        </a>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vamp-table__col ports-col">
                        <div class="vamp-table__col__list">
                            <div class="vamp-table__col__list__item"
                                 ng-repeat="(portName, port) in service.breed.ports | orderByKeys">
                                <span class="v-value">
                                    <a ui-sref="artifacts.view({kind: 'gateways', name: '{{$ctrl.deployment.name}}/{{cluster.name}}/{{portName}}'})"
                                       href="">{{portName}}</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="vamp-table__col env-col">
                        <div class="vamp-table__col__list">
                            <div class="vamp-table__col__list__action"
                                 ng-show="service.environment_variables.length > 0"
                                 ng-click="$ctrl.showEnvironmentVariables(cluster, service)">
                                <i class="fa fa-arrows-alt"></i>
                            </div>

                            <div class="vamp-table__col__list__item"
                                 ng-repeat="env in service.environment_variables | limitTo: 3">
                                <span class="v-value">
                                    {{env.name | limitTo: 15 }}{{env.name.length > 15 ? ' ...' : '' }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
