<div ng-controller="DeploymentController as $ctrl" ng-show="$ctrl.deployment">
    <header title="{{$ctrl.title}}">
        <buttons>
            <button class="btn btn-lg btn-circle" type="submit" title="EDIT" ng-click="$ctrl.edit()">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-lg btn-circle red" type="submit" title="DELETE"
                    ng-disabled="!$ctrl.deployment"
                    ng-click="$ctrl.delete()">
                <i class="fa fa-trash-o"></i>
            </button>
        </buttons>
    </header>
    <div class="container-fluid deployment">
        <div class="row deployment-charts">
            <div class="col-md-4 deployment-row">
                <p>HEALTH&nbsp;
                    <span ng-if="$ctrl.last['health'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['health'] != 'none', 'label-red-alert': $ctrl.last['health'] == 'none'}">
                        {{ $ctrl.last['health'] == 'none' ? 'none' : $ctrl.last['health'] + ' %' }}
                    </span>
                </p>
                <canvas class="chart" id="health" width="330"></canvas>
            </div>
            <div class="col-md-4 deployment-row">
                <p>CPU&nbsp;
                    <span ng-if="$ctrl.last['cpu'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['cpu'] != 'none', 'label-red-alert': $ctrl.last['cpu'] == 'none'}">
                        {{ $ctrl.last['cpu'] == 'none' ? 'none' : $ctrl.last['cpu'] }}
                    </span>
                </p>
                <canvas class="chart" id="cpu" width="330"></canvas>
            </div>
            <div class="col-md-4 deployment-row">
                <p>MEMORY&nbsp;
                    <span ng-if="$ctrl.last['memory'] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['memory'] != 'none', 'label-red-alert': $ctrl.last['memory'] == 'none'}">
                        {{ $ctrl.last['memory'] == 'none' ? 'none' : $ctrl.last['memory'] + ' MB' }}
                    </span>
                </p>
                <canvas class="chart" id="memory" width="330"></canvas>
            </div>
        </div>
        <br>
        <div class="row deployment-cluster" ng-repeat="cluster in $ctrl.deployment.clusters | namify | orderBy:'name'">
            <div class="row deployment-cluster-row-header">
                <div class="col-md-4 deployment-row">
                    <div class="col-sm-6 deployment-row">
                        <span class="label">CLUSTER : {{ cluster.name | uppercase }}</span>
                    </div>
                    <div class="col-sm-6 deployment-row">HEALTH</div>
                </div>
                <div class="col-md-4 deployment-row">
                    <div class="col-sm-6 deployment-row"><p>SCALE</p></div>
                    <div class="col-sm-6 deployment-row"><p>INSTANCES</p></div>
                </div>
                <div class="col-md-4 deployment-row">
                    <div class="col-sm-6 deployment-row"><p>PORTS</p></div>
                    <div class="col-sm-6 deployment-row"><p>ENV VARS</p></div>
                </div>
            </div>
            <div class="row deployment-cluster-service-row" ng-repeat="service in cluster.services | orderBy:'name'">
                <br>
                <div class="col-md-4 deployment-cluster-service">
                    <div class="col-sm-6 deployment-row">
                        <span class="label"
                              ng-class="{'label-success': $ctrl.serviceStatus(service) === 'running', 'label-info': $ctrl.serviceStatus(service) === 'updating', 'label-red-alert': $ctrl.serviceStatus(service) === 'failed'}">
                            {{service.breed.name}}
                            <i ng-if="$ctrl.serviceStatus(service) !== 'running'"
                               class="fa"
                               ng-class="{'fa-cog': $ctrl.serviceStatus(service) === 'updating', 'fa-spin': $ctrl.serviceStatus(service) === 'updating', 'fa-exclamation-triangle': $ctrl.serviceStatus(service) === 'failed'}"></i>
                        </span>
                    </div>
                    <div class="col-sm-6 deployment-row">
                        <canvas class="chart" id="health-{{$ctrl.serviceLookup(service)}}" width="100"
                                height="40"></canvas>
                        <span ng-if="$ctrl.last['health-' + $ctrl.serviceLookup(service)] != null" class="label"
                              ng-class="{'label-success': $ctrl.last['health-' + $ctrl.serviceLookup(service)] != 'none', 'label-red-alert': $ctrl.last['health-' + $ctrl.serviceLookup(service)] == 'none'}">
                        {{ $ctrl.last['health-' + $ctrl.serviceLookup(service)] == 'none' ? 'none' : $ctrl.last['health-' + $ctrl.serviceLookup(service)] + ' %'}}
                        </span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-6 deployment-row deployment-cluster-list deployment-action-icons grouped">
                        <ul>
                            <editable on-click="$ctrl.editScale(cluster, service)" active="true">
                                <li></li>
                            </editable>
                            <li>instances : {{service.scale.instances}}</li>
                            <li>cpu : {{service.scale.cpu}}</li>
                            <li>memory : {{service.scale.memory}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 deployment-row deployment-cluster-list deployment-action-icons">
                        <ul>
                            <i class="fa fa-arrows-alt" ng-click="$ctrl.showInstances(cluster, service)"></i>
                            <li ng-repeat="instance in service.instances | limitTo: 5">
                                <span class="label label-success">{{instance.host}}</span>
                            </li>
                            <li>
                                <i ng-if="service.instances.length > 5" class="fa fa-ellipsis-h"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-6 deployment-row">
                        <p ng-repeat="(portName, port) in service.breed.ports | orderByKeys">
                            <a ui-sref="gatewaysView({name: '{{$ctrl.deployment.name}}/{{cluster.name}}/{{portName}}'})"
                               href="">{{portName}}</a>
                        </p>
                    </div>
                    <div class="col-sm-6 deployment-row deployment-cluster-list deployment-action-icons">
                        <ul>
                            <i class="fa fa-arrows-alt" ng-click="$ctrl.showEnvironmentVariables(cluster, service)"></i>
                            <li ng-repeat="env in service.environment_variables | limitTo: 5">
                                {{env.name | limitTo: 15 }}{{env.name.length > 15 ? ' ...' : '' }}
                            </li>
                            <li>
                                <i ng-if="service.environment_variables.length > 5" class="fa fa-ellipsis-h"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>