.card-list .list-item {
	display: inline-block;
	box-sizing: border-box;
	width: 31.933%;
	//min-height: 300px;
	padding: 1rem 1rem 0;
	//margin: 0.7%;
	background-color: white;
	border: 1rem solid $off-white;
	cursor: pointer;

	p {
		margin: 0;
	}
	&:hover {
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
	}
	
	.item-ports {
		display: inline-block;
		box-sizing: border-box;
		margin-top: 1rem;
		
		.ports-label {
			display: block;
			font-size: $xs-size;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	.item-meta-list {
		display: block;
		list-style-type: none;
		padding: 0;
		border-top: 1px solid $grey-light;
		margin-top: 1rem;

	}
	.item-meta {
		display: inline-block;
		list-style-type: none;
		width: 33.3%;
		padding: 0.35rem;
		box-sizing: border-box;
		
		&:first-of-type {
			display: none;
		}
	}
	.item-meta-title {
		font-size: $xs-size;
	}
}


/**
 * RESPONSIVE
 */
@include large-and-below {
	.card-list .list-item {
		width: 48%;
	}
}
@include medium-and-below {
	.card-list .list-item {
		width: 98%;
		margin-bottom: 2%;
	}
}