#header {
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	z-index: 10;
	position: relative;
}
.branding {
	display: inline-block;
	height: 26px;
	padding: 7px 1rem 0;
}
.logo {
	display: inline-block;
	width: 121px;
	height: 26px;
	outline: none;
	
	img {
		width: 84px;
		height: 26px;
	}
	.alpha {
		color: $pink;
		text-transform: uppercase;
		font-size: 9px;
		vertical-align: top;
		margin: 0 0 0 3px;
		line-height: 1em;
	}
}