/**
 * 	General lists
 */
.general-list,
.card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	//padding: 0.35rem;
	list-style-type: none;
}
.list-item,
.list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem 1rem;
	border-top: 1px solid $off-white;
	background-color: white;

	&:nth-child(odd) {
		background-color: $off-white;
	}
	
	p,h2,h3 {
		display: inline-block;
	}
	p {
		margin: 0;
	}
	.item-deployable {
		font-size: $h2-size;
		color: $blue;
		font-weight: 400;
	}

	.item-ports {
		//display: none;
	}
	// .item-meta-list {
	// 	display: inline-block;
	// 	width: 100%;
	// 	list-style-type: none;
	// 	padding: 0;
	// 	border-top: 1px solid $grey-light;
	// 	margin-top: 0.7rem;

	// }
	// .item-meta {
	// 	display: inline-block;
	// 	list-style-type: none;
	// 	width: 25%;
	// 	padding: 0.35rem;
	// 	box-sizing: border-box;
	// 	//background-color: $grey-light;
	// }
	// .item-meta-title {
	// 	font-size: $xs-size;
	// }
}
.list-header {
	background-color: white!important;
	h4 {
		color: $grey;
		font-weight: 600;
	}
	.list-section { 
		padding: 2rem 0;
	}
}
.list-section {
	box-sizing: border-box;
	padding: 0;
}
.list-controls {
	text-align: right;
}

/**
 * 	Deploymentlist
 */
#deployments-list {

	.list-item {
			
	}
	.list-header .list-section:first-of-type {
		padding-left: 2rem;
	}
}

/**
 * 	Filterlist
 */
.filters-list {
	input {
		display: inline-block;
		box-sizing: border-box;
		max-width: 100%;
	}
	input[disabled] {
		padding: 0;
	}
}