.general-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0.35rem;
	list-style-type: none;
}
.list-item {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	min-height: 100px;
	padding: 0.7rem 0.7rem 0;
	margin: 0.7%;
	background-color: white;
	//border: 0.35rem solid $off-white;
	cursor: pointer;

	p {
		margin: 0;
	}
	&:hover {
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
	}

	.item-name {
		color: $grey-medium;
		font-size: $xs-size;
		text-transform: uppercase;
	}
	.item-deployable {
		font-size: $h2-size;
		color: $pink;
	}
	.item-ports {
		box-sizing: border-box;
		margin-top: 0.7rem;
		
		.ports-label {
			display: block;
			font-size: $xs-size;
			text-transform: uppercase;
			font-weight: 600;
		}
		.badge {
			padding: 0 0.25rem 0 0;
			background-color: $grey-light;
			color: $grey;
			margin-right: 0.35rem;
		}
		.badge-label {
			display: inline-block;
			padding: 0 0.25rem;
			margin-right: 0.25rem;
			background-color: $blue;
			color: white;
			border-radius: 3px 0 0 3px;
		}
	}
	.item-meta-list {
		list-style-type: none;
		padding: 0;
		border-top: 1px solid $grey-light;
		margin-top: 0.7rem;

	}
	.item-meta {
		display: inline-block;
		list-style-type: none;
		width: 33.3%;
		padding: 0.35rem;
		box-sizing: border-box;
		//background-color: $grey-light;
	}
	.item-meta-title {
		font-size: $xs-size;
	}
}


/**
 * RESPONSIVE
 */
@include large-and-below {
	.card {
		width: 48%;
	}
}
@include medium-and-below {
	.card {
		width: 98%;
		margin-bottom: 2%;
	}
}