#general-metrics {
	margin-bottom: 1rem;
}
.metrics-chart {
	display: inline-block;
	
	div {
		vertical-align: middle;
		display: inline-block;
		width: 80%;
		height: 100%;
	}

	.metrics-requests {
		width: 20%;
	}

	h3 {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 0.2em;
	}
}
.metrics-requests {
	display: inline-block;
	font-weight: 400;
}

// .service-metrics-container {
// 	display: inline-block;
// 	width: 5rem;

// 	.metrics-chart {
// 		height: 64px;
// 		width: 100%;
// 		padding-bottom: 1rem;
// 	}

// 	.metrics-requests {
// 		vertical-align: top;
// 		width: 100%;
// 	}
// }

.deployment-metrics-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	
	.metrics-chart {
		height: 150px;
		width: 45%;
	}
}