#general-metrics {
	margin-bottom: 1rem;
}
.metrics-chart {
	display: inline-block;
	
	div {
		vertical-align: middle;
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	h5 {
		display: inline-block;
		margin: 0 0.2rem;
		line-height: 1rem;
		color: $grey;

		strong {
			color: $grey;
			font-size: 2em;
		}
	}

	.metrics-requests {
		display: inline-flex;
		font-weight: 400;
		width: auto;
		height: auto;
		//background-color: rgba(248,248,248,1);
		position: absolute;
		z-index: 1;
		right: 2rem;
		//left: 0;
		color: inherit;
		bottom: 2.5rem;
		//margin: 0 auto;
		padding: 0.2rem 0.5rem;
		text-align: right;
		align-items: center;
		justify-content: flex-end;
	}
}

.metrics-loader {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	align-items: center;
  	width: 100%;
  	height: 100%;
}

.deployment-metrics-container {
	display: flex;
	box-sizing: border-box;
	background-color: white;
	
	.metrics-chart {
		padding: 1rem 1rem 2rem 1rem;
		flex: 1;
		height: 200px;
		width: 49.35%;
		border-right: 2px solid $off-white;
		box-sizing: border-box;

		&:last-of-type {
			border-right: none;
		}
	}
}