.main-navigation {
	display: flex;
	flex-direction: row;
  	align-items: center;
}
.navigation-list {
	display: inline-block;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navigation-item {
	display: inline-block;
	font-size: 0.875rem;

	a { 
		display: inline-block;
		padding: 1rem 2rem;
		font-weight: 600;
		color: $pink;
		cursor: hover;
		background-color: white;
		border-bottom: 2px solid white;
		transition: background-color 0.3s, border-bottom 0.3s;

		&:hover {
			background-color: $pink;
			color: white;
			border-bottom: 2px solid $pink;
		}

		&.active,
		&.active &:hover {
			border-bottom: 2px solid $pink;

		}
	}
}