.main-navigation {
	display: flex;
	flex-direction: row;
  	align-items: center;
}
.navigation-list {
	display: inline-block;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navigation-item {
	display: inline-block;
	font-size: 0.875rem;

	a { 
		display: inline-block;
		padding: 2em;
		font-weight: 600;
		color: $pink;
		cursor: hover;
		background-color: white;
		border-bottom: 2px solid white;
		transition: background-color 0.3s, border-bottom 0.3s;

		&:hover {
			border-bottom: 2px solid $pink;
		}

		&.active,
		&.active &:hover {
			background-color: $pink;
			color: white;
			border-bottom: 2px solid $pink;
		}
	}
}

// /**
//  * 	Responsive
//  */

// @include medium-and-below {
// 	.main-navigation {
// 		position: absolute;
// 		opacity: 0;
// 		left: 0;
// 		top: -100vh;
// 		width: 100%;
// 		height: 100vh;
// 		z-index: 100;
// 		background-color: white;
// 	}
// 	.nav-menu {
// 		height: 100vh;
// 		@include box-sizing(border-box);
// 		@include display-flex;
// 		@include flex-direction(column);
// 		@include justify-content(center);
// 	}

// 	.menu-item {
// 		display: block;
// 		text-align: center;
// 		font-size: 1.2em;
// 		font-weight: bold;
// 		width: 100%;
// 		a {
// 			color: $red;
// 		}
// 	}
// }