.options-pane {
	position: absolute;
	top: 0;
	right: -15vw;
	width: 40vw;
	height: 100vh;
	z-index: 0;
	transition: transform 0.4s ease;
	background-color: $blue-dark;
	color: white;
	overflow: hidden;
	
	input {
		color: $grey;
	}
	h4 {
		color: inherit;
		padding-top: 1rem;
		margin-bottom: 0.5rem;
	}
	dt, dd {
		width: 50%;
		display: inline-block;
		margin: 0;
		font-size: $s-size;
		box-sizing: border-box;
	}
	dt {
		vertical-align: top;
		font-weight: 600;
		color: $grey-medium;

		&.warning {
			color: $red!important;
			padding-left: 1.5rem;
		  	background-image: url(/images/alert.svg);
		  	background-size: 1rem;
		  	background-repeat: no-repeat;
		  	background-position: 0;
		}
	}
}
.inner-options-pane {
	box-sizing: border-box;
	padding: 1rem;
}
.options-pane-opened {
	.wrapper {
		transform: translateX(-40vw);
	}
	.options-pane { 
		transform: translateX(-15vw);
		height: auto;
		min-height: 100vh;
	}
}