.section {
	background-color: $off-white;
	padding: 4em 0;

	&:nth-child(even) {
		background-color: white;
	}
}
.section-thin {
	width: 650px;
	text-align: center;
	margin: 0 auto;
}
.section-header {
	margin: 0 auto;
	text-align: center;
	max-width: 650px;
}
.section-author {
	img {
		margin: 2em 0;
		@include border-radius(50%);
	}
	figcaption {
		font-family: 'Reenie Beanie', serif;
		font-size: 3em;
		color: $orange;
	}	
}
.section-footer {
	padding-top: 2em;
	text-align: center;
}
