.service-box {
	border-left: 2px solid white;
	display: flex;
	background-color: white;
	margin-bottom: 2px;
	
	&:hover {
		border-left: 2px solid $blue;
		background-color: #fafafa;
	}
}
.service-section {
	flex: 1;
	background-color: inherit;

	p {
		margin: 0;
	}
}
.service-name {
	h3, h5 {
		margin: 0;
	}
}
.service-status {
	p {
		font-size: $s-size;

		&:first-of-type {
			font-weight: 600;
		}
	}
}
.server-host, .server-ports {
	font-size: $m-size;
	display: inline-block;
	color: $grey;
}