.service-box {
	border-left: 2px solid white;
	display: flex;
	background-color: white;
	margin-bottom: 2px;
	flex-wrap: wrap;
	
	&:hover {
		border-left: 2px solid $blue;
		background-color: #fafafa;
	}

	.dialog {
		flex-basis: 100%;
	}
}
.service-section {
	//flex: 1;
	background-color: inherit;
	// transition: max-height 0.2s;
	// max-height: 220px;
	// display: inline-block!important;
	// visibility: visible;
	// overflow: hidden;

	// &.hidden {
	// 	max-height: 0px;
	// 	display: inline-block!important;
	// 	visibility: visible;
	// }

	p {
		margin: 0;
	}
}
.service-name {
	h3, h5 {
		margin: 0;
	}
}
.service-status {
	p {
		font-size: $s-size;

		&:first-of-type {
			font-weight: 600;
		}
	}
}
.server-host, .server-ports {
	font-size: $m-size;
	display: inline-block;
	color: $grey;
}