.status-indicator {	
	margin-top: 0.6rem;
	margin-bottom: 2rem;

	li {
		display: flex;
		line-height: $line-height;
		height: $line-height;
		text-transform: lowercase;
		font-weight: 600;
		//margin-bottom: 2px; <-- used for splitting the 2 halves, don't remove!
		vertical-align: middle;
	}
}

.indicator-circle {
	display: inline-block;
	height: $line-height;
	min-width: $line-height * 2;
	margin-right: 1rem;
	
	&.indicator-top {
		border-radius: $line-height $line-height 0 0;
	}

	&.indicator-bottom {
		border-radius: 0 0 $line-height $line-height;
	}

	&.indicator-success {
		background-color: $green;
	}
	&.indicator-waiting {
		background-color: $yellow;
	}
	&.indicator-danger {
		background-color: $red;
	}
}
.deployment-status {
	border: 5px solid $green;
	background-color: white;
	border-radius: 50%;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-flex;
	padding: 0.5rem 0.6rem;
}
.status-text {
	overflow: hidden;
	min-width: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;

	//Quick fix for release, remove when 'up' status gets in
	transform: translate(0, 0.7rem);
}

.health-circle {
	margin-right: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    text-indent: -1000px;
    overflow: hidden;
}