.toolbar {
	background-color: white;
	width: 100%;
	box-sizing: border-box;
	padding: 0.7rem;
	border-top: 1px solid $off-white;

	input {
		background-color: white;
	}
}
.toggle-view-switch {
	display: inline-block;
	width: 118px;
	margin-right: 1.3rem;
	color: white;
}