.toolbar {
	position: relative;
	background-color: $off-white;
	width: 100%;
	box-sizing: border-box;
	padding: 1rem;
	z-index: 1;
	border-top: 1px solid $off-white;

	label {
		position: relative;
	}
	input[type=search] {
		padding-left: 2em;
		background-color: white;
		//box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
	}
	.search-icon {
		position: absolute;
		left: 0.5rem;
		top: 0;
	}
	.add-button {
		margin-left: auto;
	}
}
.filtering-tools-box {
	display: flex;
	flex-direction: row;
  	align-items: center;
  	flex-wrap: wrap;
  	opacity: 1;
  	transition: margin-top 0.3s, opacity 0.15s;
}
.add-artefact-box {
	width: 100%;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: height 0.3s, opacity 0.3s;

	h2 {
		padding-top: 2rem;
	}
	
	p {
		display: inline-block;
		width: 50%;
	}

	textarea { 
		outline: none;
		padding: 0.5rem 1rem;
		box-sizing: border-box;
		border: none;
		width: 100%;
		min-height: 71vh;
		margin-bottom: 1rem;
	}
	
	.actions {
		display: inline-block;
		width: 50%;
		text-align: right;
	}
	.button {
		margin: 0 0 1rem 1rem;
		min-width: 0;
	}
	.dialog {
		width: 100%;
  		margin-top: -1rem;
  		margin-left: -1rem;
	}
}

.toolbar.expanded {
	.add-artefact-box {
		min-height: 92vh;
		height: auto;
		opacity: 1;		
	}
	.filtering-tools-box {
		margin-top: -3.5em;
		opacity: 0;
	}
}

//.view-switch {
// 	vertical-align: top;
// 	display: inline-block;
// 	width: 2.125rem;
// 	height: 2.125rem;
// 	padding: 0.5rem;
// 	margin-right: 0.3rem;
// 	border: none;
// 	color: white;
// 	box-sizing: border-box;
// 	background-color: transparent;
// 	outline: none;

// 	img {
// 		display: block;
// 		width: 100%;
// 		height: 100%;
// 	}

// 	&:hover {
// 		background-color: $pink;
// 	}
// }