<div class="container-fluid page">  
  <page-header title="Blueprints">
    <buttons>
      <action-button text="Create" on-click="$ctrl.create"></action-button>
    </buttons>
  </page-header>

  <table ng-table="$ctrl.tableParams" class="table table-striped" show-filter="false">
      {{$data}}
      <tr ng-repeat="blueprint in $data">
          <td class="col-md-8" title="'Name'" filter="{name: 'text'}" sortable="'name'">
            {{blueprint.name}}
          </td>

          <td>
            <div class="pull-right">
              <button ng-click="$ctrl.deploy(blueprint)" class="btn btn-default">Deploy</button>
              <button class="btn btn-info">Edit</button>
              <action-button text="Delete" async="false" on-click="$ctrl.deleteIt" data="blueprint"></action-button>
            </div>
          </td>
      </tr>
  </table>


</div>