<div class="modal-header">
    <h4 class="modal-title">{{ title | uppercase }}</h4>
</div>
<div class="modal-body deployment-selection">
    <div>
        <p>{{ text }}</p>
    </div>
    <div>
        <div class="btn-group dropdown-menu-list" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary deployment-selection" uib-dropdown-toggle ng-disabled="disabled">
                {{ chosenDeployment ? chosenDeployment.name : 'Select deployment' }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="deployment in deployments" ng-click="deploymentChosen(deployment)">
                    <a href="">{{ deployment.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn {{ buttonClass }}" type="button" ng-disabled="!chosenDeployment" ng-click="ok()">
        {{ buttonText }}
    </button>
    <button class="btn ghost" type="button" ng-click="cancel()">Cancel</button>
</div>
