ol.breadcrumb {
  max-width: calc(100% - 8rem);
  background: none;
  padding:0;
  margin: 0;
  display: inline-block;
  font-weight: $font-weight-light;
  font-size: $font-size-large;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & > li {
    display: inline;

    & + li:before {
      content: '>'
    }

    & > a {
      color: $inactive-text-color;
    }
    & > span {
      color: $text-color;
    }
  }
}
