.btn,
.open .btn {
  font-weight: $font-weight-bold;
  color: $text-color;
  padding: 9px 12px;
  font-size: $font-size-normal;
  box-shadow: none;
  text-shadow: none;

  :not(.btn-group) > & + & {
    margin-left: 1rem;
  }

  &.pull-right {
    :not(.btn-group) > & + & {
      margin-right: 1rem;
    }
  }

  &.btn-small {
    font-size: $font-size-small;
    padding: 6px 12px;
  }

  &.btn-transparent {
    color: $inactive-text-color;
    background-color: transparent;

    &:hover {
      color: $inactive-text-color;
      background-color: transparent;
      border: 1px solid $outline-color;
    }

    &.active {
      color: $text-color;
      box-shadow: none;
      background-color: $outline-color;
    }
  }

  &.btn-ghost {
    background: none !important;
    text-shadow: none;
    box-shadow: none;
  }

  &.btn-success {
    @include colorize-btn($success-button-color);
  }

  &.btn-primary {
    @include colorize-btn($primary-button-color);
  }

  &.btn-info {
    @include colorize-btn($info-button-color);
  }

  &.btn-warning {
    @include colorize-btn($warning-button-color);
    color: black;
  }

  &.btn-danger {
    @include colorize-btn($danger-button-color);
  }

  &[disabled=disabled] {
    cursor: default !important;
    opacity: 0.35;
  }

  .btn-text {
    text-transform: capitalize;

    &:not(:first-child) {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
}
:not(.btn-group) > button.btn {
  min-width: $button-size-normal
}

span.btn {
  display: table-cell;
}
