.btn,
.open .btn {
  font-weight: $font-weight-bold;
  color: $white;
  height: $button-size-normal;
  font-size: $font-size-normal;
  box-shadow: none;
  text-shadow: none;

  :not(.btn-group) > & + & {
    margin-left: 1rem;
  }

  &.pull-right {
    :not(.btn-group) > & + & {
      margin-right: 1rem;
    }
  }

  &.btn-small {
    height: $button-size-small;
    font-size: $font-size-small;
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
  }

  &.btn-transparent {
    color: $blue;
    background-color: transparent;

    &:hover {
      color: $medium-blue;
      background-color: transparent;
      border: 1px solid $pitch;
    }

    &:active {
      //box-shadow: none;
    }

    &.active {
      color: $off-white;
      box-shadow: none;
      background-color: $pitch;

      &:hover {
        color: $off-white;
        background-color: $pitch;
      }

      &:active {
        //box-shadow: none;
      }
    }
  }

  &.btn-ghost {
    background: none !important;
    text-shadow: none;
    box-shadow: none;

    &.btn-success {
      @include colorize-ghost-btn($great-times);
    }

    &.btn-primary {
      @include colorize-ghost-btn($medium-blue);
    }

    &.btn-info {
      @include colorize-ghost-btn($informative);
    }

    &.btn-white {
      @include colorize-ghost-btn($white);
    }

    &.btn-warning {
      @include colorize-ghost-btn($warm-warning);
    }

    &.btn-danger {
      @include colorize-ghost-btn($vamp-red);
    }
  }

  &.btn-success {
    @include colorize-btn($great-times);
  }

  &.btn-primary {
    @include colorize-btn($blue);
  }

  &.btn-info {
    @include colorize-btn($informative);
  }

  &.btn-white {
    @include colorize-btn($white);
  }

  &.btn-warning {
    @include colorize-btn($warm-warning);
    color: #000;
  }

  &.btn-danger {
    @include colorize-btn($vamp-red);
  }

  &[disabled=disabled] {
    cursor: default !important;
    opacity: 0.35;
  }

  .btn-text {
    text-transform: capitalize;

    &:not(:first-child) {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
}
:not(.btn-group) > button.btn {
  min-width: $button-size-normal
}
