
/* Button styles */
@import "_buttons";

/* Drop down */
@import "_dropdown";

/* Popover style */
@import "_popover";

/* Lists style */
@import "_lists";

/* Table style */
@import "_table";

/* progressbar style */
@import "_progressbar";

/* Containers */
.container-fluid {

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.no-padding {
    padding:0;
  }

  &.main-view {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &.stretch-height {
    display: flex;
    flex-direction: column;
    height: calc(100%);
    padding-bottom: 1.5rem;

    .row:last-child {
      flex: 1;

      & > div:only-child {
        height: 100%;
        display: flex;
        flex-direction: column;

        & > div {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .row.section:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/* Inputs */

.form-control {
  font-size: $font-size-normal;
  color: $medium-blue;
  background-color: $pitch;
  border: none;
  min-height: $button-size-normal;
  border-radius: .5rem;

  &:hover,
  &:focus {
    border:none;
    box-shadow: none;
  }
}

.input-group-addon {
  font-size: $font-size-normal;
  color: $dark-blue ;
  background-color: $pitch;
  border: none;
  border-radius: .5rem;
}

.input-group {
  font-size: $font-size-normal;
  .form-control:not(:first-child) {
    padding-left: 0;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="text"]::-webkit-input-placeholder {
  color: $dark-blue !important;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: $dark-blue !important;
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
  color: $dark-blue !important;
}

input[type="text"]:-ms-input-placeholder {
  color: $dark-blue !important;
}

/* Tabs */
@import "_tabs";

/* toggle */

@import "_toggle";

/* Others */
/* Panels */
.panel {
 box-shadow: 0px -3px 5px $shadow;
 border:none;
 background-color: $night-sky;
 font-size: $font-size-normal;
 font-weight: $font-weight-light;
 color: $blue;

 .panel-heading {
   .panel-title {
     color: $white;
     display: inline-block;
     font-weight: $font-weight-light;
     font-size: $font-size-normal;
   }
   color: $blue;
   padding: 1.5rem;
   background: none;
   background-color: $night-sky;
   border-bottom: 1px solid $panel;
 }
}

/* Overlay */
.overlay-root {
  user-select:none;
  z-index:1100;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: block;
  background-color: rgba(0,0,0,0.8);

  &.active {
    display: block;
  }

  .error-container {
    width: 45rem;
    height: 30rem;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @import "_errors";
}

/* Alerts */
@import "_alerts";

/* Breadcrumb */
@import "_breadcrumbs";

/* Editor */
#editor {
  &.editor-error {
    border-top : 1px solid $vamp-red;
  }

  &.editor-changed {
    border-top : 1px solid $great-times;
  }
}

.status-point {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: .5rem;

  &.default {
    background-color: $new-gray;
    box-shadow: 0 0 .5rem $new-gray;
  }

  &.success {
    background-color: $great-times;
    box-shadow: 0 0 .5rem $great-times;
  }

  &.faliure {
    background-color: $vamp-red;
    box-shadow: 0 0 .5rem $vamp-red;
  }

}

// PRELOADING IMAGES
:root:before {
  content: url('/styles/resources/app/common/images/disconnected-triangle.svg');
  visibility: hidden;
  position: absolute;
}

@import "_header";
