// PRELOADING IMAGES
:root:before {
  // content: url('/styles/resources/app/common/images/disconnected-triangle.svg');
  visibility: hidden;
  position: absolute;
}

/* Button styles */
@import "_buttons";

/* Drop down */
@import "_dropdown";

/* Popover style */
@import "_popover";

/* Lists style */
@import "_lists";

/* Table style */
@import "_table";

/* progressbar style */
@import "_progressbar";

/* Containers */
.container-fluid {

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.no-padding {
    padding:0;
  }

  &.main-view {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &.stretch-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 1.5rem;
    position: absolute;

    .row:last-child {
      flex: 1 1 0;
      display: flex;

      & > div:only-child {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;

        & > div {
          flex: 1 1 0;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .row.section:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/* Inputs */

.form-control {
  font-size: $font-size-normal;
  color: $inactive-text-color;
  background-color: $background-color;
  border: none;
  min-height: $button-size-normal;
  border-radius: .5rem;

  &:hover,
  &:focus {
    border:none;
    box-shadow: none;
  }

  &[readonly] {
    background-color: lighten($background-color, 0.5);
    color: rgba(55, 100, 125, 0.7);
  }
}

.input-group-addon {
  font-size: $font-size-normal;
  color: $inactive-text-color;
  background-color: $background-color;
  border: none;
  border-radius: .5rem;
}

.input-group {
  font-size: $font-size-normal;
}

.form-horizontal .radio {
  padding-top: 10px;
}

.styled-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  vertical-align: middle;
  & > label {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $background-color;
    border: solid 1px $outline-color;
    border-radius: 3px;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked + label:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 6px;
    background: $background-color;
    top: 2px;
    left: 3px;
    border: 2px solid $outline-color;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="text"]::-webkit-input-placeholder {
  color: $inactive-text-color !important;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: $inactive-text-color !important;
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
  color: $inactive-text-color !important;
}

input[type="text"]:-ms-input-placeholder {
  color: $inactive-text-color !important;
}

/* Tabs */
@import "_tabs";

/* toggle */

@import "_toggle";

/* Others */
/* Panels */
.panel {
 box-shadow: 0px -3px 5px $shadow-color;
 border:none;
 background-color: $header-color;
 font-size: $font-size-normal;
 font-weight: $font-weight-light;
 color: $inactive-text-color;

 .panel-heading {
   .panel-title {
     color: $text-color;
     display: inline-block;
     font-weight: $font-weight-light;
     font-size: $font-size-normal;
   }
   color: $inactive-text-color;
   padding: 1.5rem;
   background: none;
   background-color: $header-color;
   border-bottom: 1px solid $outline-color;
 }
}

/* Overlay */
.overlay-root {
  user-select:none;
  z-index: 1100;
  position: absolute;
  top: -50px;
  width: 240px;
  height: 40px;
  left: 0;
  margin: auto;
  right: 0;
  display: block;
  background-color: $primary-button-color;
  border-radius: 4px;
  transition: top linear 500ms;

  &.active {
    transition: top linear 1s;
    top: 18px;
  }

  @import "_errors";
}

/* Alerts */
@import "_alerts";

/* Breadcrumb */
@import "_breadcrumbs";

/* Editor */
.editor {
  &.editor-error {
    border-top : 1px solid $danger-button-color;
  }

  &.editor-changed {
    border-top : 1px solid $success-button-color;
  }
}

.status-point {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: .5rem;

  &.default {
    background-color: $info-button-color;
    box-shadow: 0 0 .5rem $info-button-color;
  }

  &.success {
    background-color: $success-button-color;
    box-shadow: 0 0 .5rem $success-button-color;
  }

  &.failure {
    background-color: $danger-button-color;
    box-shadow: 0 0 .5rem $danger-button-color;
  }
}

iframe {
  border: none;
}

#toast-container {
  z-index: 99999;
}

.table-responsive {
  border: none;
}

@import "_header";
