.header-content {
  background-color: $background-color;
  height: $header-height;
  line-height: $header-height;
  border-bottom: 1px solid $outline-color;
  overflow: hidden;
  padding-left: 35px;
}

ol.breadcrumb {
  > li > a:hover {
   cursor: pointer;
 }
}
