ul.menu-list,
ol.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  min-width: 17rem;
  border-radius: 6px;

  & > li {
    padding: 1rem;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:first-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &.disabled {
      & > a {
        color: $inactive-text-color;
      }
      &:hover {
        cursor: not-allowed;
        & > a {
          color: $inactive-text-color;
        }
        background-color: $background-color;
      }
    }

    &:hover {
      background-color: $box-color;

      & > a,
      & > .btn-link {
        color: $text-color;
      }
    }

    & > a,
    & > .btn-link {
      font-weight: $font-weight-light;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
