.popover {
  background-color: $background-color;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  border: none;

  &.top {
    & > .arrow {
      bottom: -10px;

      &::after {
        border-top-color: $background-color;
      }
    }
  }

  &.bottom {
    & > .arrow {
      top: -10px;

      &::after {
        border-bottom-color: $background-color;
      }
    }
  }

  &.left {
    & > .arrow {
      right: -10px;

      &::after {
        border-left-color: $background-color;
      }
    }
  }

  .popover-content {
    padding: 0rem;
  }
}

.tooltip {
  border-radius: 3px;
  background-color: $header-color;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px $outline-color;

  &.in {
    opacity: 1;
  }

  .tooltip-arrow {
    display: none;
  }

  .tooltip-inner {
    background-color: $header-color;
    color: $text-color;
    font-size: 10px;
    font-weight: $font-weight-light;
    max-width: none;
    white-space: nowrap;
  }
}
