.progress {
  margin-bottom: 0;
  background: none;
  background-color: $background-color;

  .progress-bar-success {
    background-color: $success-button-color;
  }
  .progress-bar-danger {
    background-color: $danger-button-color;
  }
  .progress-bar-default {
    background-color: $inactive-icon-color;
    background-image: linear-gradient(to bottom, $inactive-icon-color 0%, darken($inactive-icon-color, 0.5) 100%)
  }
}
