@mixin table-row($table-width) {
  tbody {
    tr {
      td {
        &.col-1 {
          width: calc(1 / 12 * #{$table-width});// 8.33333333%;
        }
        &.col-2 {
          width: calc(2 / 12 * #{$table-width}); //16.66666667%;
        }
        &.col-3 {
          width: calc(3 / 12 * #{$table-width}); //25%;
        }
        &.col-4 {
          width: calc(4 / 12 * #{$table-width});//33.33333333%;
        }
        &.col-5 {
          width: calc(5 / 12 * #{$table-width});//41.66666667%;
        }
        &.col-6 {
          width: calc(6 / 12 * #{$table-width});//50%;
        }
        &.col-7 {
          width: calc(7 / 12 * #{$table-width});//58.33333333%;
        }
        &.col-8 {
          width: calc(8 / 12 * #{$table-width});//66.66666667%;
        }
        &.col-9 {
          width: calc(9 / 12 * #{$table-width});//75%;
        }
        &.col-10 {
          width: calc(10 / 12 * #{$table-width});//83.33333333%;
        }
        &.col-11 {
          width: calc(11 / 12 * #{$table-width});//91.66666667%;
        }
        &.col-12 {
          width: calc(#{$table-width});//100%;
        }
      }
    }
  }
}

table.table.v2 {
  font-weight: $font-weight-light;
  font-size: $font-size-normal;

  @include table-row(100%);

  &.selection-enabled {
    @include table-row(calc( 100% - 5rem ));
  }

  thead {
    tr {
      border: 1px solid $outline-color;

      th {
        border: none;
        height: 5rem;
        line-height: 5rem;
        padding: 0 0 0 2.5rem;
        background-color: $header-color;
        color: $inactive-text-color;
        font-weight: $font-weight-light;
        font-size: $font-size-tiny;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr {
      td {
        background-color: $box-color;
        height: 6rem;
        line-height: 6rem;
        padding: 0 0 0 2.5rem;
        border-bottom: 1px solid $header-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:last-child {
          padding-right: 2.5rem;
        }

        &.row-selection {
          width: 5rem;
        }

        .row-action {
          color: $text-color;
          cursor: pointer;

          &.disabled {
            cursor: not-allowed;
            &:hover {
              & > label {
                cursor: not-allowed;
                color: $inactive-text-color;
              }
            }
          }

          & > label {
            cursor: pointer;
            color: $inactive-text-color;
            font-weight: $font-weight-light;
            font-size: $font-size-tiny;
            text-transform: uppercase;
            margin-left: 5px;
            margin-bottom: 0;
          }

          svgicon {
            margin-left: 15px;
            vertical-align: middle;
          }

          &:hover {
            & > label {
              color: $text-color;
            }
            svgicon {
              svg {
                fill: $active-icon-color;
                g, path {
                  fill: $active-icon-color;
                }
              }
            }
          }
        }
      }

      &:hover {
        .clickable {
          text-decoration: underline;
        }
      }
    }
  }

  .center-content {
    text-align: center;
    vertical-align: middle;
  }
}
