table.table.v2 {
  font-weight: $font-weight-light;
  font-size: $font-size-normal;

  thead {

    tr {
      border: 1px solid $night-sky;

      th {
        border: none;
        height: 5rem;
        line-height: 5rem;
        padding: 0 0 0 2.5rem;
        background-color: $panel;
        font-weight: $font-weight-light;
        font-size: $font-size-tiny;
      }
    }
  }

  tbody {
    tr {
      td {
        background-color: $night-sky;
        height: 6rem;
        line-height: 6rem;
        padding: 0 0 0 2.5rem;
        border-bottom: 1px solid $panel;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.col-1 {
          width: 8.33333333%;
        }
        &.col-2 {
          width: 16.66666667%;
        }
        &.col-3 {
          width: 25%;
        }
        &.col-4 {
          width: 33.33333333%;
        }
        &.col-5 {
          width: 41.66666667%;
        }
        &.col-6 {
          width: 50%;
        }
        &.col-7 {
          width: 58.33333333%;
        }
        &.col-8 {
          width: 66.66666667%;
        }
        &.col-9 {
          width: 75%;
        }
        &.col-10 {
          width: 83.33333333%;
        }
        &.col-11 {
          width: 91.66666667%;
        }
        &.col-12 {
          width: 100%;
        }
      }
    }
  }
}
