ul.nav-tabs {
  position: relative;
  border-bottom: 1px solid $header-color;

  li {
    user-select : none;
    & > a {
      cursor: pointer;
      border: 1px solid $header-color;
      color: $inactive-text-color;
      background-color: $header-color;
      padding: 2rem;
      font-weight: $font-weight-light;
      font-size: $font-size-normal;

      & > i {
        margin-right: 0.5rem;
      }

      &:hover {
        border: 1px solid $header-color;
        background-color: $header-color;
        color: $hover-text-color;
      }
    }

    &.active {
      z-index: 1;

      &:not(:first-child) {
        & > a {
          margin-left: 1.5rem;
        }
      }

      & > a {
        font-weight: $font-weight-bold;
        border: 1px solid $header-color;
        color: $text-color;
        background-color: $header-color;
        margin-right: 1.5rem;

        &:hover,
        &:focus {
          color: $text-color;
          background-color: $header-color;
          border: 1px solid $header-color;
        }
      }
    }
  }
}

.tab-content {
  position: relative;
  background-color: $header-color;
  box-shadow: 0px -3px 5px $shadow-color;

  .tab-pane {
    padding-bottom:1.5rem;

    .tab-pane-header {
      padding: 1rem 0;
    }
  }
}
