<div class="dropdownButton">
    <div class="main-button">
        <button class="button" ng-click="vm.selectedOption.onClick()">
            <i ng-if="vm.selectedOption.icon" class="fa fa-{{vm.selectedOption.icon}}"></i>
            &nbsp;
            {{vm.selectedOption.name}}
        </button>
        <div class="toggle-dropdown" ng-click="vm.toggleDropdown()">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
    </div>
    <div class="dropdown" ng-show="vm.dropdownActive">
        <div    class="dropdown__item" 
                ng-click="vm.clickedFromDropdown(key, option)" 
                ng-repeat="(key, option) in vm.dropdownOptions"
                ng-if="key">
            <i ng-if="option.icon" class="fa fa-{{option.icon}}"></i>
            &nbsp;
            {{option.name}}
        </div>
    </div>
</div>