<div class="inmodal">
    <div class="modal-header bg-danger">
        <i class="fa fa-times"></i>       
        <span>Deleting Blueprint: {{deleteBlueprint.id}}</span>
    </div>
    <div class="modal-body">
      <p>
        You are about to delete a blueprint with the name:&nbsp;<strong>{{deleteBlueprint.id}}</strong>
      </p>

      <p>
        Are you compleatly sure you want to delete this Blueprint? Deleted bluprints are gone forever and can never be retreived.
      </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger ladda-button" 
                ladda="deleteBlueprint.busyDeletingBlueprint" 
                type="button" ng-click="deleteBlueprint.deleteIt(deleteBlueprint.id)">DELETE</button>

        <button class="btn btn-warning" type="button" ng-click="deleteBlueprint.cancel()">Cancel</button>
    </div>
</div>