<div class="vamp-page-header {{ $ctrl.clazz }}">
  <div class="container-fluid">
    <div class="row header-row">
      <div class="col-md-5 hidden-xs hidden-sm header-column title">
          <div class="pull-left" ng-transclude="main">{{ $ctrl.title }}</div>
      </div>
      <div class="col-md-2 header-column text-center">
          <div style="display:inline-block" ng-transclude="controls"></div>
      </div>
      <div class="col-xs-7 col-md-5 header-column buttons">
        <div class="info-button pull-right">
            <i class="icon-info" aria-hidden="true"
               ng-click="$ctrl.toggleInfoPanel()"></i>
        </div>
        <div class="help-button pull-right">
            <i class="icon-question" aria-hidden="true"
               ng-click="$ctrl.toggleHelpPanel()"></i>
        </div>
        <div class="pull-right" ng-transclude="buttons"></div>
      </div>
    </div>
  </div>
</div>
