<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 header-content">
      <div ncy-breadcrumb></div>
    </div>
    <div class="col-md-1 header-content">
      <div class="info-button pull-right">
          <i class="icon-info" aria-hidden="true"
             ng-click="$ctrl.toggleInfoPanel()"></i>
      </div>
      <div class="help-button pull-right">
          <i class="icon-question" aria-hidden="true"
             ng-click="$ctrl.toggleHelpPanel()"></i>
      </div>
    </div>
  </div>
</div>
