<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">VAMP.io</strong>
                             </span>
           <!--                      <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span> -->
                    </a>
         <!--            <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul> -->
                </div>
                <div class="logo-element">
                    Vamp
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.dashboard"><i class="fa fa-desktop"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.blueprints"><i class="fa fa-file-o"></i> <span class="nav-label">Blueprints</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.deployments"><i class="fa fa-server"></i> <span class="nav-label">Deployments</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.gateways"><i class="fa fa-road"></i> <span class="nav-label">Gateways</span></a>
            </li>
        </ul>

    </div>
</nav>
