<artifacts kind="breeds">
    <div class="artifact-properties" ng-controller="ArtifactsController as $ctrl">
        <div class="list">
            <p>deployable :</p>
            <ul>
                <li>{{ $ctrl.artifact.deployable.type }}</li>
                <li ng-if="$ctrl.artifact.deployable.type !== 'application/javascript'">{{ $ctrl.artifact.deployable.definition }}</li>
            </ul>
        </div>
        <div class="list" ng-if="!($ctrl.artifact.ports | isEmpty)">
            <p>ports :</p>
            <ul>
                <li ng-repeat="(name, value) in $ctrl.artifact.ports">{{ name }} : {{ value }}</li>
            </ul>
        </div>
    </div>
</artifacts>
