<div id="blueprint-panels" class="panels">
    <div class="panel" ng-repeat="blueprint in vm.data">
        <div class="panel__header">
            <div class="row">
                <div class="letter-icon">
                    <p class="letter">
                        {{blueprint.viewData.letter}}
                    </p>
                </div>
            </div>
            <div class="row">
                <p class="name">
                    {{blueprint.viewData.name}}
                </p>
            </div>
        </div>
        <div class="panel__content">
            <div class="blueprint-data-table">
                <div class="blueprint-data-table__row" ng-repeat="(clustername, cluster) in blueprint.viewData.clusters">
                    <div class="blueprint-data-table__label" >
                        {{clustername}}
                    </div>
                    <div class="blueprint-data-table__data-point" >
                        <div class="tag" ng-repeat="service in cluster.services">{{service.breed.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel__footer">
            <button class="button button--ghost">Show Blueprint</button>
        </div>
    </div>
</div>



<!-- <div id="blueprints-panels" class="panels">
    <div class="panel" ng-repeat="blueprint in vm.data">
        <div class="panel__header">
            <i class="fa fa-lg fa-file-text-o"></i>&nbsp;&nbsp;
            <h2 class="title">{{blueprint.name}}</h2>    
        </div>
        <div class="panel__content">
            <div class="subheader">
                This blueprint describes: 
            </div>
            <div class="data-points">
                <div class="data-point">
                    <div class="circle">
                        <div class="number">
                            {{blueprint.numberOfClusters}}
                        </div>
                    </div>
                    <div class="label">
                        Cluster(s)
                    </div>
                </div>
                <div class="data-point">
                    <div class="circle">
                        <div class="number">
                            {{blueprint.numberOfServices}}
                        </div>
                    </div>
                    <div class="label">
                        Service(s)
                    </div>
                </div>
                <div class="data-point">
                    <div class="circle">
                        <div class="number">
                            {{blueprint.numberOfGateways}}
                        </div>
                    </div>
                    <div class="label">
                        Gateway(s)
                    </div>
                </div>
            </div>
        </div>

        <div class="panel__footer">
            <button class="button button--ghost">
                Show Blueprint
            </button>
        </div>
    </div>
    <div class="panel panel--create-new">
        <p class="text">Add Blueprint</p>
        <div class="options">
            <div class="option">
                <div class="circle">
                    <i class="fa fa-upload"></i>
                </div>
                <p class="option__text">
                    Upload File
                </p>
            </div>
            <div class="option">
                <div class="circle">
                    <i class="fa fa-keyboard-o"></i>
                </div>
                <p class="option__text">
                    Type in editor
                </p>
            </div>
        </div>

    </div>
</div> -->