@import "_revisions";

.main-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: $font-size-normal;
  font-weight: $font-weight-light;

  .content-header {
    margin: 2rem 1rem;

    .header-title {
      font-size: $font-size-xl;
      color: $text-color;
    }
  }
}

.artifacts-panel {
  padding-bottom: 1.5rem;
  margin: 0 .5rem;
}

main {
  display: flex;
  align-items: center;
}
.artifacts-search-box {
  display: inline-block;
  max-width: 24rem;
  vertical-align: middle;
}

.vamp-btn-group {
  align-items: center;

  .btn.vamp-btn {
    font-size: $font-size-large ;
    border: none ;
    line-height: 1 ;
    text-shadow: none ;
    padding: 5px ;
    color: $inactive-text-color ;
    font-weight: $font-weight-bold ;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: transparent;

    height:4rem;
    width: 4rem;

    &.vamp-btn-selected {
      background-color: $background-color;
    }

    &:hover:not(.vamp-btn-selected) {
      background-color: $box-color;
    }
  }
}

.vamp-pagination {
  li {
    text-align: center;
    user-select:none;

    & > a {
      user-select:none;
      cursor: pointer;
      font-size: $font-size-large ;
      border: none ;
      line-height: 1 ;
      background-color: $background-color;
      text-shadow: none ;
      padding: 10px ;
      color: $inactive-text-color;
      font-weight: $font-weight-regular;
      letter-spacing: 2px;
      text-transform: uppercase;
      height: 4rem;
      width: 4rem;

      &:hover {
        background-color: $box-color;
        color: $hover-text-color;
      }

      &:active {
        color: $text-color;
      }

      &.vamp-page-selected {
        text-decoration: underline;
        font-weight: $font-weight-bold;
        color: $inactive-text-color;

        &:hover {
          background-color: $background-color;
          color: $hover-text-color;
        }
      }

      &.vamp-page-disabled {
        cursor: default;
        opacity: 0.3;

        &:hover {
          background-color: $background-color;
          color: $text-color ;
        }
      }
    }
  }
}

.artifacts-table {
  margin-left: 10px;
  margin-right: 10px;
}

table.vamp-lv {
  border-collapse: separate;
  border-spacing: 0 1rem;

  & > thead {
    font-weight: $font-weight-light;
    color: $info-button-color;
    font-size: $font-size-normal;

    & > tr {
      & > td,
      & > th {
        text-transform: uppercase;
        font-weight: $font-weight-light;
      }

      & > th {
        background-color: $box-color;
        box-shadow: 0px 3px 5px $shadow-color;
        border-bottom:none;
      }
    }

  }

  tbody {

    .table .text {
      position: relative;
    }
    .table .text span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: absolute;
      left: 0;
      right: 0;
    }
    .text:before {
      content: '';
      display: inline-block;
    }

    tr {
      &.vamp-lv-data-row {
        background: $box-color;
        font-size: $font-size-normal;

        &:hover {
          .clickable {
            text-decoration: underline;
          }
        }

        td {
          vertical-align: middle !important;
          white-space: nowrap;
          height: 6rem;
          padding: .5rem;

          &[field-name='Name'] {
            font-size: $font-size-large;
          }

          .vamp-lv-col-tags {
            height: 3rem;
            line-height: 3rem;
          }

          &.row-select {
            width: 4rem;
          }

          &.actions {
            width: 2rem;
            background-color: $background-color;
          }
        }

        td:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        td:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  tr {
    td {
      .vamp-lv-checkbox {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.vamp-tag {
    font-size: $font-size-small !important;
    font-weight: $font-weight-light;
    color: $text-color;
    border-radius: 2px;
    margin-right: 5px;
    background-color: $pill-background-color;

    &.label-success {
      color: white;
      background-color: $success-button-color;
    }

    &.label-primary {
      color: white;
      background-color: $primary-button-color;
    }

    &.label-warning {
      color: black;
      background-color: $warning-button-color;
    }

    &.label-danger {
      color: white;
      background-color: $danger-button-color;
    }

    &.label-info {
      color: white;
      background-color: $info-button-color;
    }
}

.artifacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.artifacts-list {
  display:table-row-group;
  margin: 0;
  color: $text-color;
}

.artifact-card {
    flex: 1 0 26rem;
    margin-right: 1rem;
    margin-left: 1rem;

    &:empty {
      height: 0;
      border: none;
    }
}

.artifact {
  position:relative;
  //overflow:hidden;
  padding-bottom:100%;
  margin: 15px 0;
  //height: 31rem;
  //width: 31rem;
  //border-radius: 5px;
  //margin: 10px;
  //padding: 15px;
  //cursor: pointer;
  position: relative;
  //border: 2px solid transparent;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  //transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  .artifact-content {
    position:absolute;
    width: 100%;
    height: 100%;

    &:hover {
      //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      .artifact-title {
        text-decoration: underline;
      }
    }

    &.selected {
      border-color: $outline-color;
    }

    input[type="checkbox"] {
      margin-right: 1.5rem;
      -moz-transform: scale(1.25, 1.25);
      &:hover {
        cursor: pointer;
      }
    }

    .artifact-header {
      position: relative;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      background-color: $background-color;
      height: 6rem;
      line-height: 6rem;
      padding-left: 2rem;
      color: $text-color;
      font-size: $font-size-large;

      display: flex;
      flex-direction: row;

      .artifact-selection {
        flex: 0 0 3rem;
        -moz-flex: 0 0 3rem;
      }

      .artifact-title {
        flex: 1 1 0;
        -moz-flex: 1 1 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .header-context {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        opacity: 0;
        transition: opacity 300ms ease-in;

        &.deploying {
          transition: opacity 300ms ease-in;
          opacity: 1;
          background-color: $primary-button-color;
          background-size: 30px 30px;
          background-image: linear-gradient(
            135deg,
            rgba(white, 0.1)  25%,
            transparent       25%,
            transparent       50%,
            rgba(white, 0.1)  50%,
            rgba(white, 0.1)  75%,
            transparent       75%,
            transparent
          );
          animation: barberpole 1s linear infinite;
        }
      }

      .artifact-actions {
        flex: 0 0 3rem;
        -moz-flex: 0 0 3rem;

        .artifact-actions-button {
          border-top-right-radius: .5rem;
          padding: 0 2rem;
          background: none;
          cursor: pointer;
          display: inline-block;
        }
      }

    }

    .artifact-body {
      width: 100%;
      height: calc(100% - 6rem);
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      background: $box-color no-repeat url('/styles/resources/app/crud/images/background-pattern-alpha.png');
      background-size: cover;
      padding: .5rem;
    }
  }


}

@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: -60px -30px; }
}

.has-error .help-block {
  color: $danger-button-color;
}

.artifact-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
  right: 1.6rem;

  & > button.btn {
    margin-top: .5rem;
    text-align: center;
    margin-left: 0px !important;
    background-color: $box-color !important;
  }
}

.artifact-properties {
  .artifact-labels {
    width: 100%;
    padding: 1.5rem;
  }

  .list {
    margin: 0.5rem 0;
    font-weight: $font-weight-light;
    border-radius: 2px;
    padding: 1.5rem;
    color: $text-color !important;

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    .v-label {
      color: $inactive-text-color !important;
      margin-bottom: 2px;
    }
  }
}

.panel.editor-panel {
  display: flex;
  flex-direction: column;
  height: 100%;

  .panel-heading {
    color: $text-color;
    font-weight: $font-weight-light;
    line-height: 3.5rem;
    min-height: 6.5rem;

    .panel-title {
      display: inline-flex;

      .error-icon {
        height: 1.4rem;
        margin: .6rem;
        margin-right: 1.6rem;
      }

      .error-message-container {
        display: inline-block;
        width:90%;

        .error-message {
          width: inherit;
          white-space: pre;

          &.first-line {
            display: inline-flex;
            align-items: center;
            width: inherit;

            .message {
              width:inherit;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            i {
              cursor: pointer;
              margin-left: .5rem;
            }
          }
        }
      }
    }
  }

  .panel-body {
    padding:0;
    flex: 1 1 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: $background-color;

    .editor {
      transition: flex 300ms ease;
      flex: 0 0 0rem;
      width: 0;
      position: relative;

      &.visible {
        flex: 1 1 0;

        &:not(:first-child) {
          border-left: 1px solid $outline-color;
        }
      }

      .editor-buttons {
        padding: 1.5rem;
      }
    }
  }
}

.popover-data {
  font-size: $font-size-normal;
  min-width: 16rem;
  padding: 1rem;
  text-align: left;
}
