.artifacts-panel {
  padding-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

main {
  display: flex;
  align-items: center;
}
.artifacts-search-box {
  display: inline-block;
  max-width: 24rem;
  vertical-align: middle;
  margin-left: 20px;
}

.vamp-btn-group {
  //display: flex;
  align-items: center;

  .btn.vamp-btn {
    font-size: $font-size-large ;
    border: none ;
    line-height: 1 ;
    text-shadow: none ;
    padding: 5px ;
    color: $medium-blue ;
    font-weight: $font-weight-bold ;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: transparent;

    height:40px;
    width: 40px;

    &.vamp-btn-selected {
      background-color: $gray-base;
      color: $medium-blue;
    }

    &:hover:not(.vamp-btn-selected) {
      background-color: $dark-blue;
    }
  }
}

.vamp-pagination {

  li {
    text-align: center;
    user-select:none;

    & > a {
      user-select:none;
      cursor: pointer;
      font-size: $font-size-large ;
      border: none ;
      line-height: 1 ;
      background-color:  $gray-base;
      text-shadow: none ;
      padding: 10px ;
      color: $medium-blue;
      font-weight: $font-weight-regular;
      letter-spacing: 2px;
      text-transform: uppercase;
      height: 40px;
      width: 40px;

      &:hover {
        background-color: $dark-blue;
        color: $medium-blue;
      }

      &:active {
        color: $medium-blue;
      }

      &.vamp-page-selected {
        text-decoration: underline;
        font-weight: $font-weight-bold;
        color: $off-white;

        &:hover {
          background-color: $gray-base;
          color: $gray-lighter ;
        }
      }

      &.vamp-page-disabled {
        cursor: default;
        opacity: 0.3;

        &:hover {
          background-color: $gray-base;
          color: $gray-lighter ;
        }
      }
    }
  }
}

.artifacts-table {
  margin-left: 10px;
  margin-right: 10px;
}

table.vamp-lv {
  border-collapse: separate;
  border-spacing: 0px 10px;

  & > thead {
    font-weight: $font-weight-light;
    color: $brand-info;
    font-size: $font-size-normal;

    & > tr {
      & > td,
      & > th {
        text-transform: uppercase;
        font-weight: $font-weight-light;
      }

      & > th {
        background-color: $night-sky;
        box-shadow: 0px 3px 5px $shadow;
        border-bottom:none;
      }
    }

  }

  tbody {

    .table .text {
      position: relative;
    }
    .table .text span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: absolute;
      left: 0;
      right: 0;
    }
    .text:before {
      content: '';
      display: inline-block;
    }

    tr.demi-row td div{
        width: 100%;
        height: 28px;
        margin: 0 0 -28px 0;
        background: transparent repeat-y top left;
        color: #FFF;
        background-size: 100%;
        padding:0;
    }

    tr {
      &.vamp-lv-data-row {
        /*background: rgba($gray-base, 0.75) no-repeat url('img/background-pattern-alpha.png');*/
        background: $night-sky;
        font-size: $font-size-normal;

        &:hover {
          td[field-name='Name'] {
            text-decoration: underline;
          }
        }

        td {
          vertical-align: middle !important;
          white-space: nowrap;
          height: 6rem;
          cursor: pointer;
          padding: 5px;

          &[field-name='Name'] {
            font-size: $font-size-large;
          }

          &.vamp-lv-row-actions   {
            /*button {
              background-color: $blue;
              padding:5px 20px;
              height: $button-size-small;
              color: $white;
              font-size: $font-size-small;

              &:hover {
                background-color: darken($blue, 8%);
                color: darken($white, 8%);
              }

              &:active {
                background-color: darken($blue, 16%);
                color: darken($white, 16%);
              }

              &.vamp-red {
                background-color: $vamp-red;
                color: $white;

                &:hover{
                  background-color: darken($vamp-red, 8%);
                  color: darken($white, 8%);
                }

                &:active {
                  background-color: darken($vamp-red, 16%);
                  color: darken($white, 16%);
                }
              }
            }*/

            button.vamp-lv-row-action {
              float: left;
            }
          }
        }

        td:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        td:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  tr {
    td {
      .vamp-lv-checkbox {
        margin-left: 26px;
      }
    }
  }
}

.vamp-tag {
    font-size: $font-size-small !important;
    font-weight: $font-weight-light;
    color: $gray-lighter;
    border-radius: 2px;
    margin-right: 5px;
    background-color: $gray-light;

    &.label-success {
      color: white;
      background-color: $brand-success;
    }

    &.label-primary {
      color: white;
      background-color: $brand-primary;
    }

    &.label-warning {
      color: white;
      background-color: $brand-warning;
    }

    &.label-danger {
      color: white;
      background-color: $brand-danger;
    }

    &.label-info {
      color: white;
      background-color: $brand-info;
    }
}

.artifact-properties {

  .list {
    margin: 0.5rem 0;
    font-weight: $font-weight-light;
    border-radius: 2px;
    padding: 1.5rem;
    background-color: rgba($gray-base, 0.75);
    color: $gray-lighter !important;

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    .v-label {
      color: $gray-light !important;
      margin-bottom: 2px;
    }
  }
}

.panel.editor-panel {
  display: flex;
  flex-direction: column;
  height: 100%;

  .panel-heading {
    color: $off-white;
    font-weight: $font-weight-light;
    line-height: 3rem;

    .panel-title {
      display: inline-flex;

      .error-icon {
        height: 1.4rem;
        margin: .6rem;
        margin-right: 1.6rem;
      }

      .error-message-container {
        display: inline-block;

        .error-message {
          white-space: pre;

          &.first-line {
            display: inline-flex;
            align-items: center;

            i {
              cursor: pointer;
              margin-left: .5rem;
            }
          }
        }


      }
    }
  }

  .panel-body {
    padding:0;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
