<div ng-class="{'show': $ctrl.show}" class="event-panel-content">
    <div class="head" ng-click="$ctrl.toggle()">
        <div class="category"><i class="fa fa-ellipsis-v"></i>&nbsp;&nbsp;Events</div>
        <div class="event-head-filters" ng-show="$ctrl.show">
            <label ng-click="filter($event, 'health')">
              <input type="checkbox" ng-model="$ctrl.filters.health" > Health
            </label>
            <!--<button type="button" class="btn btn-ghost btn-primary"
                    ng-model="$ctrl.filters.health" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                    ng-class="{red: $ctrl.filters['health']}" ng-click="filter($event, 'health')" >
                <i class="fa fa-fw fa-check" ng-if="!$ctrl.filters['health']"></i>
                <i class="fa fa-fw fa-times" ng-if="$ctrl.filters['health']"></i>
                <span class="btn-text">Health</span>
            </button>-->
            <label ng-click="filter($event, 'health')">
              <input type="checkbox" ng-model="$ctrl.filters.metrics" > Metrics
            </label>
            <label ng-click="filter($event, 'health')">
              <input type="checkbox" ng-model="$ctrl.filters.allocation" > Allocation
            </label>
            <!--<button type="button" class="btn btn-ghost btn-primary"
                    ng-model="$ctrl.filters.metrics" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                    ng-class="{red: $ctrl.filters['metrics']}" ng-click="filter($event, 'metrics')" >
                <i class="fa fa-fw fa-check" ng-if="!$ctrl.filters['metrics']"></i>
                <i class="fa fa-fw fa-times" ng-if="$ctrl.filters['metrics']"></i>
                <span class="btn-text">Metrics</span>
            </button>
            <button type="button" class="btn btn-ghost btn-primary"
                    ng-model="$ctrl.filters.allocation" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                    ng-class="{red: $ctrl.filters['allocation']}" ng-click="filter($event, 'allocation')" >
                <i class="fa fa-fw fa-check" ng-if="!$ctrl.filters['allocation']"></i>
                <i class="fa fa-fw fa-times" ng-if="$ctrl.filters['allocation']"></i>
                <span class="btn-text">Allocation</span>
            </button>-->
        </div>
        <div class="stats" ng-show="$ctrl.connected && $ctrl.jvm">
            <div class="stat-value">
                <span class="stat-label">LOAD:</span>
                {{ $ctrl.jvm.systemLoad | number: 2 }}%
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="stat-value">
              <span class="stat-label">MEM:</span>
                <span class="stat-content">
                  {{ ($ctrl.jvm.heapCurrent / $ctrl.jvm.heapMax) * 100 | number: 1 }}%
                  <span class="detail">
                    &nbsp;({{ $ctrl.jvm.heapCurrent | number: 0}}/{{ $ctrl.jvm.heapMax | number: 0 }}MB)
                </span>
              </span>
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-if="$ctrl.show">
        <table class="table table-condensed">
            <tr>
                <th>TIME</th>
                <th>TYPE</th>
                <th>TAGS</th>
                <th>VALUE</th>
            </tr>
            <tr ng-repeat="event in $ctrl.events | orderBy: 'timestamp':true">
                <td>
                    <span class="label timestamp">
                        {{ event.timestamp | date:'HH:mm:ss.sss'}}
                    </span>
                <td>
                    <span class="label label-success">
                        {{ event.type}}
                    </span>
                </td>
                <td>
                  <span ng-repeat="tag in event.tags">
                    <span class="label label-primary">{{ tag}}</span>
                  </span>
                </td>
                <td>{{ event.value}}</td>
            </tr>
        </table>
    </div>
</div>
