<div class="modal-header">
  <h3 class="modal-title">Edit weights</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <h4 class="pull-right">Total value:</h4>
    </div>
    <div class="col-md-6 bar-fix">
      <uib-progressbar max="100" value="getTotal()" type="{{getTotal() === 100 ? 'success' : 'danger'}}"><span
          style="color:white; white-space:nowrap;">{{getTotal()}} / 100%</span></uib-progressbar>
    </div>
  </div>

  <div class="row row-centered" ng-repeat="(weightName, weightValue) in newWeightValues">
    <div class="col-md-6">
      <h5 class=" slider-fix">
        {{weightName}}:&nbsp;
      </h5>
    </div>
    <div class="col-md-6">
      <rzslider
          rz-slider-model="newWeightValues[weightName]"
          rz-slider-options="sliderOptions">
      </rzslider>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-disabled="getTotal() !== 100" type="button" ng-click="ok()">Save</button>
  <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>