<header title="Gateways">
  <buttons>
    <button ui-sref="createGateway" class="btn btn-default" type="submit">Create</button>
  </buttons>
</header>

<div class="container-fluid">
  <table class="table">
    <tr ng-repeat="gateway in $ctrl.gateways">
      <td class="col-md-6" title="'Name'" filter="{name: 'text'}" sortable="'name'">
        <a ui-sref="readOneGateway({id: gateway.name})">{{gateway.name}}&nbsp;<span ng-if="!gateway.inner"
                                                                                    class="label label-primary">External</span></a>
      </td>
      <td class="col-md-2" title="'Port'" filter="{port: 'text'}" sortable="'port'">
        {{gateway.port}}
      <td>
        <div class="pull-right">
          <button ui-sref="updateGateway({id: gateway.name})" class="btn btn-default">Edit</button>
          <button ng-if="!gateway.inner" ng-click="$ctrl.openDeleteModal(gateway.name)" class="btn btn-default">Delete
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>