<header title="Gateways">
  <buttons>
    <button ui-sref="createGateway" class="btn ghost" type="submit"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create</button>
  </buttons>
</header>

<div class="container-fluid">
  <table class="table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Port</th>
      <th></th>
    </tr>
    <tr ng-repeat="gateway in $ctrl.gateways">
      <td>
        <span ng-if="!gateway.inner"
              class="label label-primary">External</span>
      </td>
      <td class="col-md-6" title="'Name'" filter="{name: 'text'}" sortable="'name'">
        <a ui-sref="readOneGateway({id: gateway.name})">{{gateway.name}}</a>
      </td>
      <td class="col-md-2" title="'Port'" filter="{port: 'text'}" sortable="'port'">
        {{gateway.port}}
      <td>
        <div class="pull-right">
          <button ui-sref="updateGateway({id: gateway.name})" class="btn blue"><i class="fa fa-lg fa-pencil"></i>&nbsp;&nbsp;Edit</button>
          <button ng-if="!gateway.inner" ng-click="$ctrl.openDeleteModal(gateway.name)" class="btn red"><i class="fa fa-lg fa-trash"></i>&nbsp;&nbsp;Delete
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>