<div class="artifact-properties">
  <div class="artifact-labels">
      <tag value="item.deployed ? 'port : ' + item.port : 'deploying'" has-progress="true"
        success="item.deployed" in-progress="!item.deployed"
      ></tag>

      <tag value="item.internal ? 'internal' : 'external'"></tag>
    </div>
    <p></p>
    <div class="list" ng-if="!(item.virtual_hosts | isEmpty)">
        <p class="v-label">virtual hosts :</p>
        <ul>
            <li ng-repeat="host in item.virtual_hosts | limitTo: 2 | orderBy:'length'">
                <p ng-if="host.length <= 25">{{ host }}</p>
                <p ng-if="host.length > 25">{{ host | limitTo: 25 }} ...</p>
            </li>
            <li><i ng-if="item.virtual_hosts.length > 2" class="fa fa-ellipsis-h"></i></li>
        </ul>
    </div>
    <div class="list">
        <p class="v-label">routes :</p>
        <ul>
            <li ng-repeat="route in item.routes | limitTo: 3 | orderBy:'name'">
                <p ng-if="(route.metadata.title && route.metadata.title.length <= 25) || route.name.length <= 25">{{ route.metadata.title || route.name }}</p>
                <p ng-if="(route.metadata.title && route.metadata.title.length > 25) || route.name.length > 25">{{ (route.metadata.title || route.name) | limitTo: 25 }} ...</p>
            </li>
            <li><i ng-if="(item.routes | countKeys) > 3" class="fa fa-ellipsis-h"></i></li>
        </ul>
    </div>
</div>
