<div class="artifact-properties">
    <tag value="artifact.deployed ? 'port : ' + artifact.port : 'deploying'" has-progress="true"
      success="artifact.deployed" in-progress="!artifact.deployed"
    ></tag>
    <!--<span class="label" ng-class="{'label-info': !$ctrl.gateway.deployed, 'label-success': $ctrl.gateway.deployed}">
        {{$ctrl.gateway.deployed ? 'port : ' + $ctrl.gateway.port : 'deploying'}}&nbsp;
        <i ng-if="$ctrl.gateway.deployed" class="fa fa-check"></i>
        <i ng-if="!$ctrl.gateway.deployed" class="fa fa-cog fa-spin"></i>
    </span>-->
    <tag value="artifact.internal ? 'internal' : 'external'"></tag>
    <!--<span class="label label-primary">{{ $ctrl.gateway.internal ? 'internal' : 'external'}}</span>-->
    <p></p>
    <div class="list" ng-if="!(artifact.virtual_hosts | isEmpty)">
        <p class="v-label">virtual hosts :</p>
        <ul>
            <li ng-repeat="host in artifact.virtual_hosts | limitTo: 2 | orderBy:'length'">
                <p ng-if="host.length <= 25">{{ host }}</p>
                <p ng-if="host.length > 25">{{ host | limitTo: 25 }} ...</p>
            </li>
            <li><i ng-if="artifact.virtual_hosts.length > 2" class="fa fa-ellipsis-h"></i></li>
        </ul>
    </div>
    <div class="list">
        <p class="v-label">routes :</p>
        <ul>
            <li ng-repeat="route in artifact.routes | limitTo: 3 | orderBy:'name'">
                <p ng-if="route.name.length <= 25">{{ route.name }}</p>
                <p ng-if="route.name.length > 25">{{ route.name | limitTo: 25 }} ...</p>
            </li>
            <li><i ng-if="(artifact.routes | countKeys) > 3" class="fa fa-ellipsis-h"></i></li>
        </ul>
    </div>
</div>
