<td class="clickable col-3" ng-click="$explorer.view(item)">
  {{ item.name }}
</td>
<td>
    <tag value="item.deployed ? 'deployed' : 'deploying'" has-progress="true"
         success="item.deployed" in-progress="!item.deployed"
    ></tag>
</td>
<td class="col-1">
    {{ item.port }}
</td>
<td class="col-2">
    <span ng-if="item.internal">internal</span>
    <span ng-if="!item.internal">external</span>
</td>
<td class="col-3">
    <span ng-repeat="host in item.virtual_hosts | orderBy:'length'">
        {{ host }}
    </span>
</td>
<td class="col-3">
  <span ng-repeat="route in item.routes | orderBy:'name'">
      {{ route.metadata.title || route.name }}
  </span>
</td>
<td>
    <span class="row-action" ng-click="!$explorer.readOnly && $explorer.view(item)" ng-class="{disabled: $explorer.readOnly}"><svgicon type="edit" uib-tooltip="EDIT" tooltip-placement="bottom-right"></svgicon></span>
    <span class="row-action" ng-click="!$explorer.readOnly && $explorer.delete(item)" ng-class="{disabled: $explorer.readOnly}"><svgicon type="remove" uib-tooltip="DELETE" tooltip-placement="bottom-right"></svgicon></span>
</td>
