<div class="modal-header">
    <h4 class="modal-title">EDIT WEIGHTS</h4>
</div>
<div class="modal-body">
    <div class="row" ng-if="routeCount > 2">
        <div class="col-md-4">
            <h4 class="pull-right">Total value:</h4>
        </div>
        <div class="col-md-6 bar-fix">
            <uib-progressbar max="100" value="total()" type="{{ valid() ? 'success' : 'danger' }}">
                <span style="color:white; white-space:nowrap;">{{ total() }} / 100%</span>
            </uib-progressbar>
        </div>
    </div>
    <div class="row row-centered" ng-repeat="(name, weight) in weights | orderByKeys">
        <div class="col-md-12 rz-slider">
            <span class="label label-success slider-label">{{name}}</span>
            <rzslider rz-slider-model="weights[name]" rz-slider-options="sliderOptions"></rzslider>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-disabled="!valid()" ng-click="$ctrl.save()">Save</button>
    <button class="btn ghost" type="button" ng-click="$ctrl.dismiss()">Cancel</button>
</div>