<div class="container-fluid gateway">
  <div class="row section">
    <div class="col-md-12">
      <span class="gateway-title">{{ $ctrl.name}}</span>
      <button class="btn btn-primary pull-right" title="View source" type="submit" ng-click="$ctrl.edit()">
          View source
      </button>
      <button class="btn btn-danger pull-right" type="submit" title="Delete"
                ng-disabled="!$ctrl.gateway || $ctrl.gateway.internal"
                ng-click="$ctrl.delete()"
                ng-if="!$ctrl.readOnly()">
            Delete
      </button>
    </div>
  </div>
  <div class="row gateway-header">
        <div class="col-md-3 gateway-row">
            <p>HOST - PORT/TYPE</p>
            <span ng-if="!$ctrl.proxy()">
                {{$ctrl.gateway.service.port}}
            </span>
            <span ng-if="$ctrl.proxy()">
                <a class="proxy-anchor"
                   ng-click="$ctrl.proxy($event)">
                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
                    {{ $ctrl.gateway.service.host ? $ctrl.gateway.service.host + ':' : ''}}{{$ctrl.gateway.service.port}}
                </a>
            </span>
        </div>
        <div class="col-md-3 gateway-row">
            <p>VIRTUAL HOSTS</p>
            <p ng-repeat="host in $ctrl.gateway.virtual_hosts | orderBy:'length'">
                <span class="label label-success">{{host}}</span>
            </p>
        </div>
        <div class="col-md-3 gateway-row">
            <p>DEPLOYED</p>
            <span ng-if="$ctrl.gateway.deployed" class="label label-success">deployed&nbsp;<i
                    class="fa fa-check"></i></span>
            <span ng-if="!$ctrl.gateway.deployed" class="label label-info">not deployed&nbsp;<i
                    class="fa fa-cog fa-spin"></i></span>
        </div>
        <div class="col-md-3 gateway-row">
            <p>STICKY</p>
            <editable-drop-down ng-if="$ctrl.gateway && $ctrl.gateway.deployed && $ctrl.gateway.service.port.endsWith('/http')" active="!$ctrl.readOnly()"
                                values="$ctrl.stickyValues" selected="$ctrl.sticky(value)">
                <span highlighter="$ctrl.gateway.sticky" class="label gateway-sticky"
                      ng-class="{'label-success': $ctrl.gateway.sticky, 'label-primary': !$ctrl.gateway.sticky}">
                    {{ $ctrl.gateway.sticky || 'not sticky'}}
                </span>
            </editable-drop-down>
            <span ng-if="$ctrl.gateway && $ctrl.gateway.deployed && !$ctrl.gateway.service.port.endsWith('/http')"
                  class="label label-default gateway-sticky">
                not HTTP
            </span>
        </div>
    </div>
    <div class="row gateway-charts">
        <div class="col-md-4 gateway-row">
            <p>HEALTH&nbsp;
                <span ng-if="$ctrl.last['health'] != null" class="label"
                      ng-class="{'label-success': $ctrl.last['health'].value != 'none', 'label-red-alert': $ctrl.last['health'].value == 'none'}">
                    {{ $ctrl.last['health'].value == 'none' ? 'none' : $ctrl.last['health'].value + ' %' }}
                </span>
            </p>
            <canvas class="chart" id="health" width="330"></canvas>
        </div>
        <div class="col-md-4 gateway-row">
            <p>REQUESTS / SECOND&nbsp;
                <span ng-if="$ctrl.last['rate'] != null" class="label"
                      ng-class="{'label-primary': $ctrl.last['rate'].value != 'none', 'label-red-alert': $ctrl.last['rate'].value == 'none'}">
                    {{ $ctrl.last['rate'].value == 'none' ? 'none' : $ctrl.last['rate'].value }}
                </span>
            </p>
            <canvas class="chart" id="rate" width="330"></canvas>
        </div>
        <div class="col-md-4 gateway-row">
            <p>RESPONSE TIME&nbsp;
                <span ng-if="$ctrl.last['responseTime'] != null" class="label"
                      ng-class="{'label-primary': $ctrl.last['responseTime'].value != 'none', 'label-red-alert': $ctrl.last['responseTime'].value == 'none'}">
                    {{ $ctrl.last['responseTime'].value == 'none' ? 'none' : $ctrl.last['responseTime'].value + ' ms' }}
                </span>
            </p>
            <canvas class="chart" id="responseTime" width="330"></canvas>
        </div>
    </div>

    <div class="row gateway-route-header">
        <div class="col-md-4 gateway-route-header-column">
            <div class="col-sm-8 gateway-route-header-column">ROUTE</div>
            <div class="col-sm-4 gateway-route-header-column">
                <editable on-click="$ctrl.editWeights()" active="!$ctrl.readOnly() && ($ctrl.gateway.routes | countKeys) > 1">
                    WEIGHT
                </editable>
            </div>
        </div>
        <div class="col-md-4 gateway-route-header-column">
            <div class="col-sm-4 gateway-route-header-column">HEALTH</div>
            <div class="col-sm-4 gateway-route-header-column">REQUESTS / SECOND</div>
            <div class="col-sm-4 gateway-route-header-column">RESPONSE TIME</div>
        </div>
        <div class="col-md-4 gateway-route-header-column">
            <div class="col-sm-8 gateway-route-header-column">CONDITION</div>
            <div class="col-sm-4 gateway-route-header-column">STRENGTH</div>
        </div>
    </div>

    <div class="row gateway-route-row" ng-repeat="(name, route) in $ctrl.gateway.routes | orderByKeys">
        <div class="col-md-4 gateway-row">
            <div class="col-sm-8 gateway-row gateway-route-name">
                <span class="label" ng-class="{'highlight': $ctrl.addedRoute(route)}">{{ route.metadata.title || name }}</span>
            </div>
            <div class="col-sm-4 gateway-row gateway-route-weight">
                <span highlighter="route.weight" class="label label-success">{{route.weight}}</span>
            </div>
        </div>
        <div class="col-md-4 gateway-row gateway-route-sparklines">
            <div class="col-sm-4 gateway-row">
                <canvas class="chart" id="health-{{route.lookup_name}}" width="100" height="40"></canvas>
                <p>
                    <span ng-if="$ctrl.last['health-' + route.lookup_name] != null" class="label"
                          ng-class="{'label-success': $ctrl.last['health-' + route.lookup_name].value != 'none', 'label-red-alert': $ctrl.last['health-' + route.lookup_name].value == 'none'}">
                    {{ $ctrl.last['health-' + route.lookup_name].value == 'none' ? 'none' : $ctrl.last['health-' + route.lookup_name].value + ' %'}}
                    </span>
                </p>
            </div>
            <div class="col-sm-4 gateway-row">
                <canvas class="chart" id="rate-{{route.lookup_name}}" width="100" height="40"></canvas>
                <p>
                    <span ng-if="$ctrl.last['rate-' + route.lookup_name] != null" class="label"
                          ng-class="{'label-primary': $ctrl.last['rate-' + route.lookup_name].value != 'none', 'label-red-alert': $ctrl.last['rate-' + route.lookup_name].value == 'none'}">
                    {{ $ctrl.last['rate-' + route.lookup_name].value == 'none' ? 'none' : $ctrl.last['rate-' + route.lookup_name].value}}
                    </span>
                </p>
            </div>
            <div class="col-sm-4 gateway-row">
                <canvas class="chart" id="responseTime-{{route.lookup_name}}" width="100" height="40"></canvas>
                <p>
                    <span ng-if="$ctrl.last['responseTime-' + route.lookup_name] != null" class="label"
                          ng-class="{'label-primary': $ctrl.last['responseTime-' + route.lookup_name].value != 'none', 'label-red-alert': $ctrl.last['responseTime-' + route.lookup_name].value == 'none'}">
                    {{ $ctrl.last['responseTime-' + route.lookup_name].value == 'none' ? 'none' : $ctrl.last['responseTime-' + route.lookup_name].value + ' ms'}}
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-sm-8 gateway-row gateway-route-condition">
                <editable-text active="!$ctrl.readOnly()" text="{{route.condition.condition}}"
                               edited="$ctrl.saveCondition(name, value)">
                    <span highlighter="route.condition.condition" class="label"
                          ng-class="{'label-success': route.condition.condition, 'label-primary': !label-default}">
                        {{route.condition.condition || 'none'}}
                    </span>
                </editable-text>
            </div>
            <div class="col-sm-4 gateway-row gateway-route-condition-strength">
                <editable-number-slider active="!$ctrl.readOnly() && route.condition.condition"
                                        options="$ctrl.sliderOptions"
                                        number="route.condition_strength"
                                        edited="$ctrl.saveConditionStrength(name, value)">
                    <span highlighter="route.condition_strength" class="label label-success">
                        {{route.condition_strength}}
                    </span>
                </editable-number-slider>
            </div>
        </div>
    </div>
</div>
