<artifacts kind="gateways">
    <div class="artifact-properties" ng-controller="GatewaysController as $ctrl">
        <span ng-if="!$ctrl.gateway.deployed" class="label label-primary">not deployed</span>
        <span ng-if="$ctrl.gateway.deployed" class="label label-primary">port : {{ $ctrl.gateway.port }}</span>
        <span ng-if="$ctrl.gateway.inner" class="label label-primary">inner</span>
        <p></p>
        <div class="list" ng-if="!($ctrl.gateway.virtual_hosts | isEmpty)">
            <p>virtual hosts :</p>
            <ul>
                <li ng-repeat="host in $ctrl.gateway.virtual_hosts | limitTo: 2 | orderBy:'length'">{{ host }}</li>
                <li><i ng-if="$ctrl.gateway.virtual_hosts.length > 2" class="fa fa-ellipsis-h"></i></li>
            </ul>
        </div>
        <div class="list">
            <p>routes :</p>
            <ul>
                <li ng-repeat="route in $ctrl.gateway.routes | namify | limitTo: 3 | orderBy:'name'">{{ route.name }}</li>
                <li><i ng-if="($ctrl.gateway.routes | countKeys) > 3" class="fa fa-ellipsis-h"></i></li>
            </ul>
        </div>
    </div>
</artifacts>
