<div class="modal-header">
    <h4 class="modal-title">DEPLOY BLUEPRINT</h4>
</div>
<form novalidate name="form" ng-submit="ok()">
    <div class="modal-body">
        <p>You are about to deploy the blueprint '{{ blueprint.name }}'.</p>
        <p>Provide a deployment name, e.g. without any version:</p>
        <br>
        <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
            <input name="name" type="text" class="form-control" id="deployment-name" placeholder="name"
                   ng-model="name" ng-pattern="/^[^\s\/]*$/" required>
            <span class="help-block" ng-show="form.name.$error.required">Deployment must have a name.</span>
            <span class="help-block" ng-show="form.name.$error.pattern">Deployment must not contain whitespace or slash characters.</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="form.$invalid" type="submit">Deploy</button>
        <button class="btn ghost" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
