<div class="panel-body">
  <div class="editor visible" ng-class="{'editor-error' : ($ctrl.isModified() && !$ctrl.valid)}">
    <div class="editor-buttons clearfix">
      <button ng-if="!$ctrl.inEdit && !$ctrl.readOnly() && !activeRevision.source" class="btn btn-small btn-primary pull-right" type="submit" ng-click="$ctrl.startEdit()">
        Edit
      </button>
      <button class="btn btn-small btn-primary pull-right" type="submit" ng-hide="!$ctrl.inEdit" ng-click="$ctrl.save()">Save</button>
      <button class="btn btn-small btn-primary pull-right" type="submit" ng-show="activeRevision.source && !$ctrl.inEdit" ng-click="$ctrl.save()">Use Revision</button>
      <button ng-if="$ctrl.inEdit" class="btn btn-small btn-primary pull-right" type="submit" ng-click="$ctrl.cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
<div class="container-fluid form-container">

  <form novalidate name="form" class="form-horizontal vamp-form" ng-submit="$ctrl.save()">
    <div class="row">

      <div class="col-sm-12">
        <h4 class="section">BLUEPRINT<span></span></h4>
      </div>
      <div class="col-sm-6">

        <div class="row">
          <div class="form-group col-sm-12" ng-class="{'has-error': form.name.$invalid && form.$submitted}">
            <label for="name" class="col-sm-3 control-label">NAME</label>
            <div class="col-sm-9">
              <input id="name" name="name" class="form-control" type="text" ng-readonly="!$ctrl.inEdit" ng-model="$ctrl.blueprint.name" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">

        <div class="row">
          <div class="form-group col-sm-12" ng-class="{'has-error': (form.gateway_name.$invalid || form.gateway_port.$invalid) && form.$submitted}">
            <label for="gateway_name" class="col-sm-3 control-label">GATEWAY PORT</label>
            <div class="col-sm-3">
              <input id="gateway_port" name="gateway_port" placeholder="port" class="form-control" type="number" ng-model="$ctrl.blueprint.gateways.port" required ng-readonly="!$ctrl.inEdit">
            </div>
            <label for="gateway_name" class="col-sm-3 control-label">PORT NAME</label>
            <div class="col-sm-3">
              <input id="gateway_port" name="gateway_port" placeholder="port" class="form-control" type="text" ng-model="$ctrl.blueprint.gateways.name" required ng-readonly="!$ctrl.inEdit">
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="section">BREED<span></span></h4>
          </div>
          <div class="form-group col-sm-12" ng-class="{'has-error': form.breed_image.$invalid && form.$submitted}">
            <label for="breed_image" class="col-sm-3 control-label">IMAGE</label>
            <div class="col-sm-9">
              <input id="breed_image" name="breed_image" class="form-control" type="text" ng-model="$ctrl.blueprint.breed.deployable" required ng-readonly="!$ctrl.inEdit">
            </div>
          </div>
          <div class="form-group col-sm-12" ng-repeat="port in $ctrl.blueprint.breed.ports">
            <label for="breed_ports" class="col-sm-3 control-label"> <span ng-show="$index == 0">PORTS</span></label>
            <div class="col-sm-3">
              <input id="breed_ports" name="breed_ports" placeholder="name" class="form-control" type="text" ng-model="$ctrl.blueprint.breed.ports[$index].name" ng-readonly="!$ctrl.inEdit">
            </div>
            <div class="col-sm-3">
              <input id="breed_port" name="breed_port" placeholder="port" class="form-control" step="1" type="number" min="0" ng-model="$ctrl.blueprint.breed.ports[$index].port" ng-readonly="!$ctrl.inEdit">
            </div>
            <div class="col-sm-3">
              <input id="breed_port_protocol" name="breed_protocol" placeholder="protocol" class="form-control" type="text" ng-model="$ctrl.blueprint.breed.ports[$index].protocol" ng-readonly="!$ctrl.inEdit">
            </div>
          </div>
          <div class="form-group col-sm-12" ng-class="{'has-error': form.instances.$invalid}">
            <div class="col-sm-3 text-right col-sm-offset-9">
              <div class="btn" ng-click="$ctrl.addPort()" ng-hide="!$ctrl.inEdit">+ ADD</div>
            </div>
          </div>
          <div class="form-group col-sm-12" ng-repeat="param in $ctrl.blueprint.breed.variables">
            <label for="instances" class="col-sm-3 control-label"> <span ng-show="$index == 0">ENVIRONMENT VARIABLES</span></label>
            <div class="col-sm-5">
              <input id="variables" placeholder="name" class="form-control" type="text" ng-model="$ctrl.blueprint.breed.variables[$index].key" ng-readonly="!$ctrl.inEdit">
            </div>
            <div class="col-sm-4">
              <input id="variables-value" placeholder="value" class="form-control" type="text" ng-model="$ctrl.blueprint.breed.variables[$index].value" ng-readonly="!$ctrl.inEdit">
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="col-sm-3 text-right col-sm-offset-9">
              <div class="btn" ng-click="$ctrl.addVar()" ng-hide="!$ctrl.inEdit">+ ADD</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="section">SCALE<span></span></h4>
          </div>
          <div class="form-group col-sm-12" ng-class="{'has-error': (form.cpu.$invalid || form.memory.$invalid || form.instances.$invalid) && form.$submitted }">
            <label for="scale_cpu" class="col-sm-3 control-label">ALLOCATION</label>
            <div class="col-sm-3">
              <input id="scale_cpu" name="cpu" placeholder="cpu" class="form-control" step="0.1" type="number" min="0" ng-model="$ctrl.blueprint.scale.cpu" required ng-readonly="!$ctrl.inEdit">
            </div>
            <div class="col-sm-3">
              <input id="scale_memory" name="memory" placeholder="memory" class="form-control" type="text" ng-model="$ctrl.blueprint.scale.memory" required ng-readonly="!$ctrl.inEdit">
            </div>
            <div class="col-sm-3">
              <input id="scale_instances" name="instances" placeholder="instances" class="form-control" step="1" type="number" min="0" ng-model="$ctrl.blueprint.scale.instances" required ng-readonly="!$ctrl.inEdit">
            </div>
          </div>

          <div class="col-sm-12">
            <h4 class="section">DIALECTS<span></span></h4>
          </div>
          <div class="form-group col-sm-12" ng-class="{'has-error': form.pullimage.$invalid}">
            <label for="pullimage" class="col-sm-3 control-label">FORCE IMAGE PULL</label>
            <div class="col-sm-9">
              <switch id="pullimage" name="enabled" ng-model="$ctrl.blueprint.dialects.forceimage" class="switch green" disabled="!$ctrl.inEdit"></switch>
            </div>
          </div>

          <div class="form-group col-sm-12" ng-class="{'has-error': form.instances.$invalid && form.$submitted}" ng-repeat="param in $ctrl.blueprint.dialects.params">
            <label for="instances" class="col-sm-3 control-label"><span ng-show="$index == 0">PARAMETERS</span></label>
            <div class="col-sm-5">
              <input id="param_key" placeholder="key" class="form-control" type="text" ng-model="$ctrl.blueprint.dialects.params[$index].key" ng-readonly="!$ctrl.inEdit">
            </div>
            <div class="col-sm-4">
              <input id="param_val" placeholder="value" class="form-control" type="text" ng-model="$ctrl.blueprint.dialects.params[$index].value" ng-readonly="!$ctrl.inEdit">
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="col-sm-3 text-right col-sm-offset-9">
              <div class="btn" ng-click="$ctrl.addParams()" ng-hide="!$ctrl.inEdit">+ ADD</div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </form>

</div>
