<td class="clickable col-6" ng-click="$explorer.view(item)">
  {{ item.name }}
</td>
<td class="col-6">
  <span class="pull-right">
    <span class="row-action" ng-click="$artifactCtrl.deploy($event)">
      <svgicon type="deploy_as"></svgicon>
      <label>deploy as</label>
    </span>
    <span class="row-action" ng-if="!($artifactCtrl.mergeWith | isEmpty)" ng-click="$artifactCtrl.merge($event)">
      <svgicon type="merge_to"></svgicon>
      <label>merge to</label>
    </span>
    <span class="row-action" ng-if="!($artifactCtrl.removeFrom | isEmpty)" ng-click="$artifactCtrl.remove($event)">
      <svgicon type="remove_from"></svgicon>
      <label>remove from</label>
    </span>
    <span class="row-action" ng-click="$explorer.view(item)"><svgicon type="edit" uib-tooltip="EDIT" tooltip-placement="bottom-right"></svgicon></span>
    <span class="row-action" ng-click="$explorer.delete(item)"><svgicon type="remove" uib-tooltip="DELETE" tooltip-placement="bottom-right"></svgicon></span>
  </span>
</td>
