<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="nav-logo" src="img/logo.svg">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $ctrl.isActive(artifact)}" ng-repeat="artifact in $ctrl.artifacts">
                    <a ui-sref="{{ artifact.kind }}" href="#">
                        {{artifact.kind | capitalize}}&nbsp;<i class="fa fa-flash" ng-show="artifact.deployable"></i>
                    </a>
                </li>
            </ul>
            <!-- disconnected -->
            <ul class="nav navbar-nav navbar-right" ng-show="!$ctrl.connected">
                <li class="disconnected">
                    DISCONNECTED FROM VAMP
                </li>
            </ul>
            <!-- connected -->
            <ul class="nav navbar-nav navbar-right" ng-show="$ctrl.connected">
                <li class="stats" ng-show="$ctrl.jvm">
                    <div class="CPU">
                        <span class="stat-label">System Load:</span>
                        {{ $ctrl.jvm.systemLoad | number: 2 }}%
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="memory">
                        <span class="stat-label">Memory:</span>
                        <span class="stat-content">
              {{ ($ctrl.jvm.heapCurrent / $ctrl.jvm.heapMax) * 100 | number: 1 }}%
              <span class="detail">
                &nbsp;({{ $ctrl.jvm.heapCurrent | number: 0}}MB/{{ $ctrl.jvm.heapMax | number: 0 }}MB)
              </span>
            </span>
                    </div>
                </li>
                <li class="clickable" ng-click="$ctrl.toggleInfoPanel()">
                    <a class="info-button">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
