<div class="overlay" ng-class="{'active': $ctrl.uiStates.infoPanel || $ctrl.uiStates.helpPanel}" ng-click="$ctrl.closePanel()">
</div>
<div class="info-panel hidden-xs hidden-sm" ng-class="{'active': $ctrl.uiStates.infoPanel || $ctrl.uiStates.helpPanel}">
    <div class="" ng-show="$ctrl.uiStates.infoPanel">
        <i class="fa fa-arrow-right clickable pull-right" aria-hidden="true" ng-click="$ctrl.closePanel()"></i>
        <br>
        <span class="info-message">{{info.message}}</span>
        <br><br>
        <table class="table">
            <tr>
                <td>RUNNING SINCE</td>
                <td>{{info.running_since | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
            </tr>
            <tr>
                <td>VERSION</td>
                <td>{{info.version}}</td>
            </tr>
            <tr ng-if="info.ui_version !== info.version">
                <td>UI VERSION</td>
                <td>{{info.ui_version}}</td>
            </tr>
            <tr>
                <td>PERSISTENCE</td>
                <td>{{info.persistence}}</td>
            </tr>
            <tr>
                <td>PULSE</td>
                <td>{{info.pulse}}</td>
            </tr>
            <tr>
                <td>KEY VALUE STORE</td>
                <td>{{info.key_value_store}}</td>
            </tr>
            <tr>
                <td>GATEWAY DRIVER</td>
                <td>{{info.gateway_driver}}</td>
            </tr>
            <tr>
                <td>CONTAINER DRIVER</td>
                <td>{{info.container_driver}}</td>
            </tr>
            <tr>
                <td>WORKFLOW DRIVER</td>
                <td>{{info.workflow_driver}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="$ctrl.uiStates.helpPanel">
        <i class="fa fa-arrow-right clickable pull-right" aria-hidden="true" ng-click="$ctrl.closePanel()"></i>
        <br>
        <span class="info-message">{{ help.title | uppercase }}</span>
        <br><br>
        <span class="help-description">{{ help.description }}</span>
        <br><br>
        <table class="table">
            <tr ng-repeat="link in help.links">
                <td><a class="help-link" href="{{ link.url }}" target="_blank">
                    {{ link.title | uppercase }}&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
                </a></td>
            </tr>
        </table>
    </div>
</div>
