<div class="artifact-properties">
    <div class="list">
        <p class="v-label">deployable :</p>
        <ul>
            <li>{{ item.deployable.type }}</li>
            <li ng-if="item.deployable.type !== 'application/javascript'">
                {{ item.deployable.definition }}
            </li>
        </ul>
    </div>
    <div class="list" ng-if="!(item.ports | isEmpty)">
        <p class="v-label">ports :</p>
        <ul>
            <li ng-repeat="port in item.ports | limitTo: 5">
              {{ port.name }} : {{ port.value }}
            </li>
            <li ng-if="(item.ports | countKeys) > 5"><i class="fa fa-ellipsis-h"></i></li>
        </ul>
    </div>
</div>
