<td class="clickable col-4" ng-click="$explorer.view(item)">
  {{ item.name }}
</td>
<td class="col-2">
  {{ item.deployable.type }}
</td>
<td class="col-5">
  <span ng-repeat="port in item.ports">{{ port.name }} : {{ port.value }}</span>
</td>
<td class="col-2">
  <span class="pull-right">
    <span class="row-action" ng-click="!$explorer.readOnly && $explorer.view(item)" ng-class="{disabled: $explorer.readOnly}"><svgicon type="edit" uib-tooltip="EDIT" tooltip-placement="bottom-left"></svgicon></span>
    <span class="row-action" ng-click="!$explorer.readOnly && $explorer.delete(item)" ng-class="{disabled: $explorer.readOnly}"><svgicon type="remove" uib-tooltip="DELETE" tooltip-placement="bottom-left"></svgicon></span>
  </span>
</td>
