<div class="info-panel" ng-class="{'active': infoPanelActive}">
  <h3>Info</h3>
  <p>{{info.message}}</p>

  <label>Running since</label>
  <p>{{info.running_since | date: 'HH:mm:ss dd-MM-yyyy'}}</p>

  <label>Version:</label>
  <p>{{info.version}}</p>

  <label ng-if="info.ui_version !== info.version">UI version:</label>
  <p ng-if="info.ui_version !== info.version">{{info.ui_version}}</p>

  <label>Persistence:</label>
  <p>{{info.persistence}}</p>

  <label>Key value store:</label>
  <p>{{info.key_value_store}}</p>

  <label>Gateway driver:</label>
  <p>{{info.gateway_driver}}</p>

  <label>Container driver:</label>
  <p>{{info.container_driver}}</p>

  <label>Workflow driver:</label>
  <p>{{info.workflow_driver}}</p>

</div>