<section class="space">

  <header class="row">
    <h2 class="artifactHeader grid-content half">{{ selectedResource }}</h2>

    <div class="grid-content half  text-right" *ngIf="selectedResource != 'deployments'">
      <a class="btn btn--contrast" [routerLink]="[ 'add' ]">create {{ selectedResource | slice:0:-1 }}</a>
    </div>
  </header>

  <ul class="list-clear">
    <li class="card  row" *ngFor="let item of resource.items | async">
      <div class="grid-content half">
        <a [routerLink]="['/' , selectedResource , item.name ]">{{ item.name }}</a>
        <a [routerLink]="['/' , selectedResource , encode( item.name ) , 'edit' ]">edit</a>
      </div>

      <div class="grid-content half  actions  text-right">
        <a class="btn btn--contrast" *ngIf="editedResource.name == item.name && editedResource.modified" (click)="save( item , editedResource.modified )">save</a>

        <a class="btn btn--contrast" *ngIf="selectedResource == 'blueprints'" (click)="resource.deploy( item )">deploy</a>
        <a class="btn" *ngIf="selectedResource == 'deployments'" (click)="resource.undeploy( item )">undeploy</a>
        <a class="btn btn--destructive" *ngIf="selectedResource != 'deployments'" (click)="delete( item )">delete</a>
      </div>

      <div class="grid-full  space vertical large" *ngIf="editedResource.name == item.name">
        <vamp-editor [initialContent]="editedResource.original" (change)="updateEditedResource( $event )"></vamp-editor>
      </div>
    </li>
  </ul>

</section>
