<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Blueprints</h2>
      <ol class="breadcrumb">
          <li>
              <a ui-sref="index.blueprints">Blueprints</a>
          </li>
          <li>
              <a ui-sref="index.editBlueprint"><strong>Edit Blueprint</strong></a>
          </li>
      </ol>
    </div>
    <div class="col-lg-2">
      <button 
        class="ladda-button btn btn-primary title-button pull-right" 
        type="submit" 
        ng-click="blueprint.editBlueprint(blueprint.id, blueprint.sourceCode)"
        ladda="blueprint.busyEditingBlueprint">
          Save
      </button>
    </div>
  </div>
</div>

<div class="row" ng-if="blueprint.successMessage">
  <div class="alert alert-success">
    {{blueprint.successMessage}}
  </div>
</div>

<div class="row" ng-if="blueprint.errorMessage">
  <div class="alert alert-danger">
    Could not create blueprint: {{blueprint.errorMessage}}
  </div>
</div>
<div class="row" style="overflow: hidden">
  <ui-codemirror 
    ui-codemirror-opts="blueprint.editorOptions" 
    ng-model="blueprint.sourceCode">
    </ui-codemirror>

</div>