<div ng-class="{'show': $ctrl.showPanel}" class="event-panel-content">
  <div class="head">
    <p class="category" ng-click="$ctrl.toggle()">Events</p>
    <a class="closeButton" ng-show="$ctrl.showPanel" ng-click="$ctrl.closeMe()">
      <i class="fa fa-times" ></i>
    </a>
  </div>

  <div class="container-fluid" ng-if="$ctrl.showPanel">
    <table class="table">
      <tr>
        <th>Time</th>
        <th>Tags</th>
        <th>Value</th>
      </tr>
      <tr ng-repeat="event in $ctrl.events track by $index">
        <td>{{event.timestamp | date:'HH:mm:ss'}}</td>
        <td>
          <span ng-repeat="tag in event.tags">
            <span class="label label-primary">{{tag}}</span>
            &nbsp;
          </span>
        </td>
        <td>{{event.value}}</td>
      </tr>
    </table>
  </div>
</div>