$blue:       #14283C;
$pink:       #FF3775;
$orange:     #F15A24;

$black:      darken( $blue , 10% );
$blue-mid:   #6C8098;
$blue-light: lighten( $blue-mid , 25% );

$light-grey: #485365;
$dark-grey: #313746;


@import
  'shared/styles/buttons',
  'shared/styles/icons',
  'shared/styles/panels',
  'shared/styles/page',

  'components/navigation/navigation',
  'components/editOne/editOne',
  'components/readAllTable/readAllTable',
  'pages/defaultResource/defaultResource',
  'components/navigation/navigation',
  'components/readAllBlueprintsPanels/readAllBlueprintsPanels',
  'components/readOneBlueprint/readOneBlueprint';​

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: inherit;

    /* this disables font boosting on mobile chrome... */
    max-height: 10000vh;

    /* this might also do the same thing one day... */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html {
    font-size: 12px;
    box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  // border: 1px solid red;
  position: relative;
}

.main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding-top: 5.6rem;
  z-index: 10;
}
