*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: inherit;

    /* this disables font boosting on mobile chrome... */
    max-height: 10000vh;

    /* this might also do the same thing one day... */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

​
html {
    font-size: 10px;
    box-sizing: border-box;
}

.button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    min-height: 2rem;
    cursor: pointer;
    
    border: none;
    border-left: 1px solid black;
    

    &.button--icon {
        height: 3rem;
        width: 3rem;

        .fa {
            color: rgba(black, 0.5);
            line-height: 0.5;
        }
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row--table {
    height: 3rem;
    border-bottom: 1px solid black;
    display: flex;
}

.row--table-head {
    height: 2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: normal;
}

.row--data {
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
}

.table {
    font-family: 'Muli', sans-serif;

    .data {
        display: flex;
        width: 70%;

        .column {
            width: 33%;
            padding: 0 0.4rem;
            display: flex;
            align-items: center;
            line-height: 1.3;
        }
    }

    .actions {
        display: flex;
    }
}