<header title="Gateway" title-addition="{{$ctrl.gateway.name}}">
</header>


<div class="container-fluid" ng-if="$ctrl.gateway">

  <div class="row">
    <div class="col-md-4">
      <h4>Host</h4>
      <p>{{$ctrl.gateway.service.host}}</p>
    </div>

    <div class="col-md-4">
      <h4>Port</h4>
      <p>{{$ctrl.gateway.service.port}}</p>
    </div>

    <div class="col-md-2">
      <h4>Deployed </h4>
      <span ng-if="$ctrl.gateway.deployed" class="label label-success"><i class="fa fa-check"></i>&nbsp;Deployed</span>
      <span ng-if="!$ctrl.gateway.deployed" class="label label-default">Not Deployed</span>
    </div>

    <div class="col-md-2">
      <h4>Sticky</h4>
      <span ng-if="$ctrl.gateway.sticky !== 'none'" class="label label-success"><i class="fa fa-check"></i>&nbsp;Is sticky</span>
      <span ng-if="$ctrl.gateway.sticky === 'none'" class="label label-default">Is not sticky</span>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.gateway._$stats">
    <!--Health Chart-->
    <div class="col-md-4">
      <h4>&nbsp;Health (%)</h4>
      <canvas id="bar" class="chart chart-bar"
              chart-data="[$ctrl.gateway._$stats.health.data.getAll()]" chart-options="$ctrl.healthChart.options"
              chart-labels="$ctrl.gateway._$stats.health.labels.getAll()" chart-series="$ctrl.healthChart.series"
              chart-colors="$ctrl.healthChart.colors">
      </canvas>
    </div>

    <div class="col-md-4 chart-fix">
      <div>
        <h4>{{$ctrl.currentRate}}&nbsp;Requests per second</h4>
        <canvas id="line" class="chart chart-line"
                chart-data="$ctrl.rateData"
                chart-labels="$ctrl.rateLabels"
                chart-series="['test']"
                chart-options="$ctrl.chartOptions">
        </canvas>
      </div>
    </div>

    <div class="col-md-4 chart-fix">
      <h4>{{$ctrl.currentResponseTime}}&nbsp;Response time (ms)</h4>
      <canvas id="line" class="chart chart-line"
              chart-data="$ctrl.responseTimeData"
              chart-labels="$ctrl.responseTimeLabels"
              chart-series="['test']"
              chart-options="$ctrl.chartOptions">
      </canvas>
    </div>
  </div>

  <table class="table">
    <tr>
      <th>Name:</th>
      <th>Health (%)</th>
      <th>Req./sec</th>
      <th>Response time (ms)</th>
      <th>
        <editable-label on-click="$ctrl.openWeightsModal()" active="$ctrl.getObjectLength($ctrl.gateway.routes) > 1">
          Weight
        </editable-label>
      </th>
      <th>Conditions</th>
      <th>Condition Strength</th>
    </tr>
    <tr ng-repeat="(routename, route) in $ctrl.gateway.routes">
      <td>{{routename}}</td>
      <td>
        <div class="sparkchart-container">
          <bar-chart class="sparkchart" data="route._$stats.health.values.getAll()"
                     options="{fill: ['#15D9B2'],height: 30, width: 60}"></bar-chart>

        </div>
          <span>
            {{route._$stats.health.values.getLast() * 100}}%
          </span>
      </td>
      <td>
        <div class="sparkchart-container">
          <line-chart class="sparkchart" data="route._$stats.rate.values.getAll()"
                      options="{stroke: '#4d89f9', height: 30, width: 60}"></line-chart>
        </div>
        <span>
            {{route._$stats.rate.values.getLast()}} req/sec
          </span>
      </td>
      <td>
        <div class="sparkchart-container">
          <line-chart class="sparkchart" data="route._$stats.responseTime.values.getAll()"
                      options="{stroke: '#4d89f9', height: 30, width: 60}"></line-chart>
        </div>
        <span>
            {{route._$stats.responseTime.values.getLast()}} ms
          </span>
      </td>
      <td>
        <span highlighter="route.weight">{{route.weight}}</span>
      </td>
      <td>
        <editable-text active="true" text="{{route.condition.condition}}"
                       edited="$ctrl.conditionsChanged(routename, newConditions)"></editable-text>
      </td>
      <td>
        <editable-number active="true"
                         postfix="%"
                         min="0"
                         max="100"
                         number="route.condition_strength"
                         edited="$ctrl.conditionsWeightChanged(routename, newConditionWeight)">
        </editable-number>
      </td>
    </tr>
  </table>
</div>