.letter-icon {
  $icon-color: rgba($orange, 0.7);

  width: 4rem;
  height: 4rem;
  border: 2px solid $icon-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 1.5rem 0;

  >.letter {
    line-height: 1;
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
    color: $icon-color;
    text-transform: uppercase;
  }
}
