<section class="space">

  <h2 class="artifactHeader">{{ selectedResource }}</h2>

  <ul class="list-clear">
    <li class="card" *ngFor="#item of resource.items | async">
      <div class="content push-left">
        <a [routerLink]="['ArtifactsDetail'       , { resource: selectedResource , id: item.name } ]">{{ item.name }}</a>
        <!-- <a [routerLink]="['ArtifactsDetailAction' , { resource: selectedResource , id: item.name , action: 'edit' } ]">edit</a> -->
        <a class="btn" (click)="edit( item )">edit</a>
      </div>
      <div class="actions push-right">
        <a class="btn" *ngIf="selectedResource == 'blueprints'" (click)="resource.deploy( item )">deploy</a>
        <a class="btn" *ngIf="selectedResource == 'deployments'" (click)="resource.undeploy( item )">undeploy</a>
        <a class="btn btn--destructive" *ngIf="selectedResource == 'blueprints'" (click)="resource.delete( item )">delete</a>
        <a class="btn btn--destructive" *ngIf="selectedResource == 'breeds'" (click)="resource.delete( item )">delete</a>
      </div>

      <router-outlet></router-outlet>
    </li>
  </ul>

</section>
