<header title="Deployment" title-addition="{{$ctrl.data.name}}">

</header>

<div class="container-fluid">
  <div class="row">
    <!--<live-bar-chart class="col-md-8" ng-if="$ctrl.data.name" base="deployments:{{$ctrl.data.name}}" bar-width="60"></live-bar-chart>-->
    <div class="col-md-4">
      <h4>{{$ctrl.currentHealth}}%&nbsp;Health</h4>

      <canvas id="healthbarchart" class="chart chart-bar"
              chart-data="$ctrl.healthChart.data"
              chart-labels="$ctrl.healthChart.labels"
              chart-series="$ctrl.healthChart.series"
              chart-options="$ctrl.barChartOptions">
      </canvas>
    </div>

    <div class="status-col">
      <status value="$ctrl.currentHealth"></status>
      <h3>{{$ctrl.currentHealth | number: 0}}%</h3>
    </div>
  </div>

  <div class="panel panel-default" ng-repeat="(clustername, cluster) in $ctrl.data.clusters">
    <div class="panel-heading">{{clustername}}</div>
    <div class="panel-body">
      <div class="row" ng-repeat="service in cluster.services">
        <div class="col-md-3">
          <h3 class="clear-margin">{{service.breed.name}}</h3>
          <p>{{service.breed.deployable}}</p>
        </div>
        <div class="col-md-3">
          <h4>Scale</h4>
          <p>
            <strong>Instances: </strong>
            {{service.scale.instances}}
          </p>
          <p>
            <strong>CPU: </strong>
            {{service.scale.cpu}}
          </p>
          <p>
            <strong>Memory: </strong>
            {{service.scale.memory}}
          </p>
        </div>
        <div class="col-md-3">
          <h4>Instances</h4>
          <p ng-repeat="instance in service.instances">{{instance.host}}</p>
        </div>
        <div class="col-md-3">
          <div>
            <h4 class="m-b-md">Status</h4>
            <h2 class="text-warning">{{service.state.intention}} {{service.state.step.name}}</h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
