<div class="table-responsive">
  <table class="table v2 selection-enabled">
    <thead>
      <tr>
        <th class="clickable center-content" ng-click="$explorer.toggleSelection($event)">
          <div class="styled-checkbox">
            <input type="checkbox" title="Select all" ng-checked="$explorer.isSelectedAll()" id="select-all">
            <label for="select-all"></label>
          </div>
        </th>
        <th ng-repeat="column in $explorer.itemTypeConfig.artifactsMainView.tableView.columns track by $index">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class=""
        ng-repeat="item in ($explorer.filteredItems | filter:{name:$explorer.searchTerm} | limitTo : $explorer.itemsPerPage : (($explorer.currentPage - 1) * $explorer.itemsPerPage)) track by $index"
        dynamic-controller-as="{{$explorer.itemTypeConfig.artifactsMainView.gridItem.controller}}"
        dynamic-controller-alias="$artifactCtrl">
        <td class="center-content clickable row-selection" ng-click="$explorer.updateSelection($event, item)">
          <div class="styled-checkbox">
            <input type="checkbox" id="{{item.name}}_select" ng-checked="$explorer.isSelected(item)">
            <label for="{{item.name}}_select" ></label>
          </div>
        </td>
        <td ng-include src="$explorer.itemTypeConfig.artifactsMainView.tableView.rowTemplateUrl" include-replace></td>
      </tr>
    </tbody>
  </table>
</div>
