<div class="table-responsive">
  <table class="table v2">
    <thead>
      <tr>
        <th class="clickable center-content" ng-click="$explorer.toggleSelection()">
          <input type="checkbox" title="Select all" ng-checked="$explorer.isSelectedAll()"
            class="checkbox vamp-checkbox vamp-lv-checkbox">
        </th>
        <th ng-repeat="column in $explorer.itemTypeConfig.artifactsMainView.tableView.columns track by $index">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class=""
        ng-repeat="item in ($explorer.filteredItems | filter:{name:$explorer.searchTerm} | limitTo : $explorer.itemsPerPage : (($explorer.currentPage - 1) * $explorer.itemsPerPage)) track by $index"
        dynamic-controller-as="{{$explorer.itemTypeConfig.artifactsMainView.gridItem.controller}}"
        dynamic-controller-alias="$artifactCtrl">
        <td class="col-1 center-content clickable" ng-click="$explorer.updateSelection($event, item)">
          <input type="checkbox" class="checkbox vamp-lv-checkbox"
             ng-checked="$explorer.isSelected(item)">
        </td>
        <td ng-include src="$explorer.itemTypeConfig.artifactsMainView.tableView.rowTemplateUrl" include-replace></td>
      </tr>
    </tbody>
  </table>
</div>
