<div >
  <div class="artifact-properties">
      <div class="artifact-labels">
        <tag value="item.status" has-progress="true"
          success="item.status=== 'deployed'"
          in-progress="item.status === 'updating' ||
            item.status=== 'deploying' || item.status=== 'undeploying'"
          error="item.status === 'failed'"
        ></tag>
      </div>
      <p></p>
      <div class="list">
          <p class="v-label">Scale :</p>
          <ul>
              <li>cpu : {{ item.scale.cpu }}</li>
              <li>memory : {{ item.scale.memory }} MB</li>
              <li>instances : {{ item.scale.instances }}</li>
          </ul>
      </div>
  </div>
</div>
