<div class="modal-header">
    <h4 class="modal-title">{{ title | uppercase }}</h4>
</div>
<div class="modal-body deployment-selection">
    <div>
        <p>{{ text }}</p>
    </div>
    <div id="confirmation-editor"
      ui-ace="editorTemplate"
      ng-model="deployment"
      ng-readonly="true">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" type="button" ng-click="back()">
        Go Back
    </button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()">Save</button>
</div>
