<div class="container-fluid main-view stretch-height instances">
  <div class="row section">
    <div class="col-md-12">
      <div class="instance-title">
        {{ $ctrl.instanceName }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab index="0" ng-if="$ctrl.canAccessLogs" heading="Output log">
          <div class="panel panel-default log-panel">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="form-inline">
                </div>

              </div>
              <div class="pull-right">

                Follow log:&nbsp;

                  <switch id="enabled" name="enabled" ng-change="$ctrl.toggleFollowOnOff()" ng-model="$ctrl.isFollowLog" class="green pull-right"></switch>

              </div>
            </div>
            <div class="panel-body">
              <pre class="container-log">
                {{$ctrl.stdout}}
              </pre>
            </div>
        </uib-tab>
        <uib-tab index="1" ng-if="$ctrl.canAccessLogs" heading="Error log">
          <div class="panel panel-default log-panel">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="form-inline">
                </div>

              </div>
              <div class="pull-right">

                Follow log:&nbsp;
                <switch id="enabled" name="enabled" ng-change="$ctrl.toggleFollowOnOff()" ng-model="$ctrl.isFollowLog" class="green pull-right"></switch>
              </div>
            </div>
            <div class="panel-body">
              <pre class="container-log">
                {{$ctrl.stderr}}
              </pre>
            </div>
        </uib-tab>
        <uib-tab ng-repeat="(portName, port) in $ctrl.instance.ports | orderByKeys" index="$index + 2" heading="{{portName}}">
          <div class="panel panel-default log-panel">
            <div class="panel-heading">
              <div class="pull-right">
                <a class="btn btn-small btn-primary" href="{{ $ctrl.url + 'proxy/deployments/' + $ctrl.name + '/clusters/' + $ctrl.cluster + '/services/' + $ctrl.serviceName + '/instances/' + $ctrl.instanceName + '/ports/' + portName + '/' }}" target="_blank" >Open in new tab</a>
              </div>
            </div>
            <div class="panel-body">
            <iframe ng-src="{{ $ctrl.url + 'proxy/deployments/' + $ctrl.name + '/clusters/' + $ctrl.cluster + '/services/' + $ctrl.serviceName + '/instances/' + $ctrl.instanceName + '/ports/' + portName + '/' | trustUrl}}"></iframe>
            </div>
        </uib-tab>
      </uib-tabset>
      </div>
    </div>
  </div>
</div>
