<div class="container-fluid main-view service">

  <div class="row section">
    <div class="col-md-12">
      <div class="row section">
        <div class="col-md-12">
          <div class="title-row">
            <div>
              <span class="service-title">{{ $ctrl.serviceName }}</span>
              <button class="btn btn-primary pull-right" type="submit" title="Edit scale"
                ng-click="$ctrl.editScale()">
                Scale service
              </button>
            </div>
            <div class="update-time">Last updated : {{ $ctrl.service.status.phase.since | date:'medium' }}</div>
          </div>

        </div>

      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="scale-data">
              <span class="scale-item">
                <span class="scale-lable">CPU</span>
                <span class="scale-value">{{ $ctrl.service.scale.cpu }}</span>
              </span>
              <span class="scale-item">
                <span class="scale-lable">MEMORY</span>
                <span class="scale-value">{{$ctrl.service.scale.memory }}</span>
              </span>
              <span class="scale-item">
                <span class="status-point success"></span>
                <span class="scale-lable">{{ $ctrl.service.health.healthy }} healthy</span>
              </span>
              <span class="scale-item">
                <span class="status-point faliure"></span>
                <span class="scale-lable">{{ $ctrl.service.health.unhealthy }} unhealthy</span>
              </span>
              <span class="scale-item">
                <span class="status-point default"></span>
                <span class="scale-lable">{{ $ctrl.service.health.unknown }} unspecified</span>
              </span>
            </div>

          </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <!--
          <uib-progress max="$ctrl.service.health.running">
            <uib-bar value="$ctrl.service.health.healthy" type="success"><span ng-hide="$ctrl.service.health.healthy == 0">{{ ($ctrl.service.health.healthy / $ctrl.service.health.running ) * 100 }} %</span></uib-bar>
            <uib-bar value="$ctrl.service.health.unhealthy" type="danger"><span ng-hide="$ctrl.service.health.unhealthy == 0">{{ ($ctrl.service.health.healthy / $ctrl.service.health.running ) * 100 }} %</span></uib-bar>
            <uib-bar value="$ctrl.service.health.unknown" type="default"><span ng-hide="$ctrl.service.health.unknown == 0">{{ ($ctrl.service.health.unknown / $ctrl.service.health.running ) * 100 }} %</span></uib-bar>
          </uib-progress> -->
          <uib-progressbar max="100" value="$ctrl.health" type="success">{{$ctrl.health ? $ctrl.health + ' %' : '' }}</uib-progress>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table v2">
          <thead>
            <tr>
              <th>
                INSTANCE
              </th>
              <th>
                HOST
              </th>
              <th>
                PORTS
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="instance in $ctrl.service.instances | orderBy: 'name'">
              <td class="col-8">
                <span class="clickable" ui-sref="artifacts.one.cluster.service.instance({instance: instance.name})">
                  {{instance.name}}
                </span>
              </td>
              <td class="col-2">
                {{instance.host}}
              </td>
              <td class="col-2">
                <span ng-repeat="(portName, port) in (items = instance.ports | orderByKeys) | limitTo:3">
                  <span ng-if="$index < 2">{{port}}<span ng-if="$index < 1">,</span></span>
                  <span ng-if="$index == 2" style="cursor:pointer"
                  uib-popover-template="'app/deployments/templates/portsPopOver.html'"
                  popover-append-to-body="true"
                  popover-placement="bottom"
                  popover-trigger="'outsideClick'">...</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
