<div>
  <editable-label ng-if="!$ctrl.editMode" active="$ctrl.active" on-click="$ctrl.setEditModeActive()">
    <span highlighter="$ctrl.number">{{$ctrl.number}}</span>
  </editable-label>
  <div ng-if="$ctrl.editMode">
    <rzslider
      class="slider"
      rz-slider-model="$ctrl.tempNumber"
      rz-slider-options="$ctrl.sliderOptions">
    </rzslider>

    <button ng-click="$ctrl.edited({newConditionWeight: $ctrl.tempNumber}); $ctrl.setEditModeInactive()">
      <i class="fa fa-check"></i>
    </button>
    <button ng-click="$ctrl.setEditModeInactive()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>