
/* Sidebar Styles */


menu {
  :focus {
    outline: none !important;
  }

  height: 100%;
  width: 100%;
  position: relative;

  .sidebar-nav {
    position: absolute;
    height: calc(100% - 8rem);
    top: 8rem;
    width: 25rem;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
   }

   li.sidebar-brand {
    height: 8rem;
    line-height: 8rem;

    a {
      color: $white;
      background-color: $vamp-red;
      display: flex;
      align-items: center;
      height: 100%;

      &:hover {
      }

      img {
        vertical-align: text-bottom;
      }

      .vamp-logo {
       height : 4rem;
       margin-right: 1.8rem;
      }
      .vamp-title {
       height : 2.9rem;
       margin-top: 1.1rem
      }
    }
   }

   ul {
     list-style: none;
     font-size: $font-size-normal;
     font-weight: $font-weight-light;
		 margin-bottom: 0px;
		 padding:0;
		 width:25rem;
		 margin:0;

		 &.sub-menu {
			 li > a,
			 li > .btn-link {
         padding-left: 4rem;
				 background-color: $night;
			 }
		 }

    li {
			user-select:none;
      line-height: 6rem;
      border-bottom: 2px solid $night;

			&[data-toggle=collapse]:not(.collapsed)
			{
				.btn-link,
				a {
					text-decoration: none;
					background-color: $night;

					&:hover {
						background-color: $night;
					}
				}
			}

      &:focus {
        outline: none !important;
      }



			.btn-link,
      a {
				cursor: pointer;
				background-color: $pitch;
        font-weight: $font-weight-light;
        padding-left: 2rem;
        display: block;
        text-decoration: none;
        color: $medium-blue;

        & > span {
          display: block;

          &::first-letter {
            text-transform: capitalize;
          }
        }

        &:hover {
          color: $medium-blue;
          font-weight: $font-weight-bold;
          text-decoration: none;
        }

        &:focus {
          text-decoration: none;
					font-weight: $font-weight-bold;
					color: $misty;
        }

        &.active {
          text-decoration: none;
          font-weight: $font-weight-bold;
          color: $misty;

          &:hover {
            text-decoration: none;
            font-weight: $font-weight-bold;
            color: $misty;
          }
        }
      }
    }
   }

  .sidebar-nav,
  .sidebar-bottom-docked {

  }
}
