/* Sidebar Styles */

svgicon {
  display: inline-block;
}

menu {
  :focus {
    outline: none !important;
  }

  padding: 0;
  margin: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  position: relative;

  .sidebar-nav {
    position: absolute;
    top: $header-height;
    width: 25rem;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  li.sidebar-brand {
    height: $header-height;
    line-height: $header-height;

    a {
      padding-left: 2rem;
      color: $white;
      display: flex;
      align-items: center;
      height: 100%;

      &:hover {
      }

      img {
        vertical-align: text-bottom;
      }

      .vamp-logo {
        height: 3.5rem;
        margin-right: 1.8rem;
      }
      .vamp-title {
        height: 2.9rem;
        margin-top: 1.1rem
      }
    }
  }

  ul {
    list-style: none;
    font-size: 14px;
    font-weight: $font-weight-light;
    margin-bottom: 0px;
    padding: 0;
    width: 25rem;
    margin: 0;

    li:not(.sidebar-brand):not(.sub-menu-item):nth-of-type(3),
    li:not(.sidebar-brand):not(.sub-menu-item):nth-of-type(7) {
      margin-bottom: 50px;
    }

    li:not(.sidebar-brand):not(.sub-menu-item):last-of-type {
      margin-top: 160px;
    }

    &.sub-menu {
      & > li {
        .btn-link,
        a {
          padding-left: 4.5rem;
          background-color: $night;
        }
      }
    }

    li:not(.sidebar-brand) {
      user-select: none;
      line-height: 6rem;
      cursor: pointer;
      background-color: $pitch;
      border-left: 0 solid $vamp-red;
      transition: border-left-width 200ms ease;

      &:focus {
        outline: none !important;
      }

      &.has-sub-menu.menu-open,
      &.active:not(.sub-menu-item) {
        border-left-width: .5rem;
        background-color: $night;
        text-decoration: none;

        & > .btn-link,
        & > a {
          padding-left: 2rem;
          & > svgicon {
            svg {
              fill: $color-icon-active;
              g, path {
                fill: $color-icon-active;
                stroke: $color-icon-active;
              }
            }
          }
        }

        ul.sub-menu {
          font-size: 12px;
          & > li {
            .btn-link,
            a {
              padding-left: 4rem;
            }

          }
        }
      }

      &.active:not(.has-sub-menu) {
        & > .btn-link,
        & > a {
          text-decoration: none;
          background-color: $night;
          font-weight: $font-weight-bold;
          color: $misty;

          &:hover {
            background-color: $night;
            text-decoration: none;
            font-weight: $font-weight-bold;
            color: $misty;
          }
        }
      }

      .btn-link,
      a {
        font-weight: $font-weight-light;
        color: $medium-blue;
        padding-left: 2.5rem;
        display: block;
        text-decoration: none;
        transition: padding-left 200ms ease;

        & > svgicon {
          padding-right: 16px;
          svg {
            margin-bottom: -6px;
            width: 20px;
            height: 20px;
          }
          &:not(.collapse-btn) {
            svg {
              fill: $color-icon-inactive;
              g, path {
                fill: $color-icon-inactive;
                stroke: $color-icon-inactive;
              }
            }
          }
        }

        & > span {
          display: inline;
          text-transform: capitalize;

          & > .icon-dropdown {
            margin-left: 8rem;
          }
        }

        &:hover {
          color: $medium-blue;
          font-weight: $font-weight-bold;
          text-decoration: none;
          background-color: $night;
        }

        &:focus {
          text-decoration: none;
          font-weight: $font-weight-bold;
          color: $misty;
        }
      }
    }
  }
}
