<header title="Workflows">
  <buttons>
    <button ui-sref="createWorkflow" class="btn ghost" type="submit"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create</button>
  </buttons>
</header>

<div class="container-fluid">
  <table class="table">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <tr ng-repeat="workflow in $ctrl.workflows">
      <td>{{workflow.name}}</td>
      <td>
        <div class="pull-right">
          <button ui-sref="updateWorkflow({id: workflow.name})" class="btn blue"><i class="fa fa-lg fa-pencil"></i>&nbsp;&nbsp;Edit</button>
          <button ng-click="$ctrl.openDeleteModal(workflow.name)" class="btn red"><i class="fa fa-lg fa-trash"></i>&nbsp;&nbsp;Delete</button>
        </div>
      </td>
    </tr>
  </table>
</div>
