<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Blueprints" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <div class="form-group select-page-size-wrap ">
            <button class="btn btn-primary title-button" type="submit" ui-sref="index.createBlueprint">Create Blueprint</button>
          </div>
          <table class="table" st-table="smartTableData">
            <thead>
            <tr class="sortable ">
              <th class="col-md-9" st-sort="name">
               <span class="pull-left">Name</span>
              </th>
              <th>
                <span class="pull-right">
                  Actions
                </span>
                </th>
            </tr>
            <tr>
              <th><input st-search="name" placeholder="Search Blueprint name" class="input-sm form-control search-input">
              </th>
              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="blueprint in blueprints.list">
              <td class="table-id">{{blueprint.name}}</td>
              <td>
                <div class="pull-right">
                  <button class="btn btn-success btn-sm" ng-click="blueprints.deployBlueprint(blueprint.name)">
                    Deploy
                  </button>
                  <button class="btn btn-info btn-sm" ui-sref="index.editBlueprint({id: blueprint.name})">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edit
                  </button>
                  <button class="btn btn-danger btn-sm" 
                    ng-click="blueprints.deleteBlueprint(blueprint.name)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Delete
                  </button>
                </div>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>