<header title="Deployments">

</header>

<div class="container-fluid">
  <table class="table">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <tr ng-repeat="deployment in $ctrl.deployments">
      <td class="col-md-8" title="'Name'" filter="{name: 'text'}" sortable="'name'">
        <a ui-sref="readOneDeployment({id: deployment.name})">{{deployment.name}}</a>
      </td>

      <td>
        <div class="pull-right">
          <button ng-click="$ctrl.openDeleteModal(deployment.name)" class="btn btn-default">Undeploy</button>
        </div>
      </td>
    </tr>
  </table>
</div>