<section class="space">

  <form (ngSubmit)="onSubmit()">

    <header class="row">
      <h2 class="artifactHeader grid-content half">
        <a [routerLink]="['../../']">{{ selectedResource }}</a> ›
        <a [routerLink]="['../']" *ngIf="!isNewArtifact">{{ selectedName }}</a>
        <span *ngIf="isNewArtifact">{{ selectedName }}</span>
      </h2>
    </header>

    <textarea [(ngModel)]="content" name="content" cols="80" rows="48"></textarea>

    <div class="grid-content half  text-right">
      <button type="submit" class="btn btn--contrast">save</button>
      <a class="btn btn--warning" [routerLink]="['../']">cancel</a>
    </div>

  </form>

</section>
