<ul>
    <li class="sidebar-brand">
      <a href="#">
        <img class="vamp-logo" src="styles/resources/img/_logo.svg">
        <img class="vamp-title" src="styles/resources/img/logo-title.svg">
      </a>
    </li>
  </ul>
<ul class="sidebar-nav">
    <li
        ng-repeat="artifact in $ctrl.artifacts">
        <a ui-sref="artifacts({kind : artifact.kind })" ui-sref-active="active" href="#">
          <i></i>
          <span>{{artifact.kind}}</span>
        </a>
    </li>
    <li data-toggle="collapse" data-target="#settings" class="collapsed">
      <a class="btn-link">
        <i></i>
        <span>Admin</span>
      </a>
    </li>
    <ul id="settings" class="sub-menu collapse">
      <li ng-class="{active : $ctrl.isActive('configuration')}">
        <a ui-sref="configuration" href="#">
          <i></i>
          <span>Backend configuration</span>
        </a>
      </li>
      <li ng-class="{active : $ctrl.isActive('vga')}">
        <a ui-sref="vga" href="#">
          <i></i>
          <span>VGA configuration</span>
        </a>
      </li>
      <li ng-class="{active : $ctrl.isActive('info')}">
        <a ui-sref="info" href="#">
          <i></i>
          <span>Extended info</span>
        </a>
      </li>
      <li ng-class="{active : $ctrl.isActive('log')}">
        <a ui-sref="log" href="#">
          <i></i>
          <span>Log</span>
        </a>
      </li>
    </ul>
</ul>
<div class="sidebar-bottom-docked">
</div>
