<div class="panel-body">
  <div id="editor" class="editor visible"
       ng-class="{'editor-error' : ($ctrl.isModified() && !$ctrl.valid)}"
       ui-ace="$ctrl.editor"
       ng-model="$ctrl.source" ng-change="$ctrl.validate($event)"
       ng-readonly="!$ctrl.inEdit">
   </div>
   <div class="editor" ng-class="{'visible' : $ctrl.activeRevisiton.source}"
        ui-ace="$ctrl.editor"
        ng-model="$ctrl.activeRevisiton.source"
        ng-readonly="true">
  </div>
  <button class="btn btn-small btn-primary close-revision" ng-click="$ctrl.closeRevision()" ng-if="$ctrl.activeRevisiton.source">
    Close
  </button>
</div>
