<div class="table-responsive artifacts-table">
  <table class="table table-condensed vamp-lv">
    <thead class="vamp-lv-header-group">
      <tr class="vamp-lv-row">
        <td class="vamp-lv-col clickable" ng-click="$lv.artifactsCtrl.toggleSelection()">
          <input type="checkbox" title="Select all" ng-checked="$lv.artifactsCtrl.isSelectedAll()"
            class="checkbox vamp-checkbox vamp-lv-checkbox">
        </td>
        <td class="vamp-lv-col"
           ng-repeat="field in $lv.artifactData.artifactInfo">
          {{ field.title }}
        </td>
        <td ng-if="$lv.artifactData.actions && $lv.artifactData.actions.length > 0"
          class="vamp-lv-col">
          Actions
        </td>
      </tr>
    </thead>
    <tbody class="artifacts-list">
      <tr class="vamp-lv-row vamp-lv-data-row"
        ng-repeat="artifact in ($lv.items | filter:{name:$lv.artifactsCtrl.searchTerm} | limitTo: $lv.artifactsCtrl.itemsPerPage: (($lv.artifactsCtrl.currentPage - 1) * $lv.artifactsCtrl.itemsPerPage)) track by $index"
        dynamic-controller-as="{{$lv.artifactData.artifactController}}"
        ng-click="$lv.onItemClick(artifact, $event)">
        <td class="vamp-lv-col clickable" ng-click="$lv.artifactsCtrl.updateSelection($event, artifact)">
          <input type="checkbox" class="checkbox vamp-lv-checkbox"
             ng-checked="$lv.artifactsCtrl.isSelected(artifact)">
        </td>
        <td class="vamp-lv-col" ng-repeat="field in $lv.artifactData.artifactInfo" field-name="{{field.title}}">
          <div ng-switch="field.type">
            <div class="vamp-lv-col-tags" ng-switch-when="tags">
              <tag ng-repeat="tag in field.tags" ng-show="tag.visible === undefined ? true : (tag.visible | interpolate:this)" value="tag.value | interpolate:this"
                has-progress="(tag.hasProgress)"
                success="(tag.success | interpolate:this)"
                error="tag.error | interpolate:this"
                in-progress="tag.inProgress | interpolate:this"
                paused="tag.paused | interpolate:this">
              </tag>
            </div>
            <div class="vamp-lv-value vamp-lv-col-array" ng-switch-when="array">
              <div class="vamp-lv-value" ng-repeat="item in (items = $lv.getKeyValue(artifact, field.arrayPath)) | limitTo:3">
                <span ng-if="$index < 2 || items.length <= 3">{{ $lv.getArrayTypeValue(item, field, this) }}</span>
                <a ng-if="$last && items.length > 3"> {{ items.length - 2 }} more...</a>
              </div>
            </div>
            <div class="vamp-lv-col-object" ng-switch-when="object">
              <div class="prop vamp-lv-value" ng-repeat="prop in field.properties">
                <span>{{ prop.title }}</span> :
                {{ prop.expression ? (prop.expression | interpolate:this) : ($lv.getKeyValue(artifact, field.valuePath + '.' + prop.value)) }}
              </div>
            </div>
            <div title="{{ field.expression ? (field.expression | interpolate:this) : ($lv.getKeyValue(artifact, field.valuePath) || '' ) }}"
              class="vamp-lv-value vamp-lv-col-string" ng-switch-default>
              {{ field.expression ? (field.expression | interpolate:this) : ($lv.getKeyValue(artifact, field.valuePath) || "" ) }}
            </div>
          </div>
        </td>
        <td ng-if="$lv.artifactData.actions && $lv.artifactData.actions.length > 0"
          class="vamp-lv-col vamp-lv-row-actions">
          <button ng-repeat="action in $lv.artifactData.actions"
            ng-if="action.active ? (action.active | interpolate:this) : true"
            class="btn btn-ghost {{ action.class }}"
            ng-click="$ctrl[action.action]($event)">
            {{ action.title }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
