<div class="artifact" ng-class="{selected: $ctrl.artifacts.isSelected($ctrl.artifact) || $ctrl.hover}" ng-click="$ctrl.artifacts.edit($ctrl.artifact)">
    <h3 class="artifact-title">
        {{ $ctrl.artifact.name }}
        <input type="checkbox" class="pull-right"
               ng-checked="$ctrl.artifacts.isSelected($ctrl.artifact)"
               ng-click="$ctrl.artifacts.updateSelection($event, $ctrl.artifact)"
               ng-mouseover="$ctrl.hoverIn()" ng-mouseleave="$ctrl.hoverOut()">
    </h3>
</div>
