<header>
    <buttons>
        <button class="btn btn-lg btn-default btn-circle" type="submit" title="Select"
                ng-click="$ctrl.toggleSelection()">
            <i class="fa fa-square-o" ng-show="!$ctrl.isSelectedAll()"></i>
            <i class="fa fa-check-square-o" ng-show="$ctrl.isSelectedAll()"></i>
        </button>
        <button class="btn btn-lg btn-primary btn-circle" type="submit" title="Add">
            <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-lg btn-danger btn-circle" type="submit" title="Delete">
            <i class="fa fa-trash-o"></i>
        </button>
    </buttons>
</header>
<div class="container-fluid">
    <div class="artifacts">
        <artifact ng-repeat="artifact in $ctrl.artifacts" artifact="artifact"></artifact>
    </div>
</div>
