<div class="artifact" ng-class="{selected: $artifact.artifacts.isSelected($artifact.artifact) || $artifact.hover}"
     ng-click="$artifact.artifacts.view($artifact.artifact)">
    <h3 class="artifact-title">
        {{ $artifact.artifact.name }}
        <input type="checkbox" class="pull-right"
               ng-checked="$artifact.artifacts.isSelected($artifact.artifact)"
               ng-click="$artifact.artifacts.updateSelection($event, $artifact.artifact)"
               ng-mouseover="$artifact.hoverIn()"
               ng-mouseleave="$artifact.hoverOut()">
    </h3>
    <div ng-transclude="body"></div>
</div>
