<h2>{{ resource }}</h2>

<ul class="crudList">
  <li *ngFor="#item of _items"
    [class.selected]="item === selectedItem"
    (click)="onSelect(item)">
    {{item.name}}
    <!--a
      [routerLink]="['CrudDetail', { resource: resource, name: item.name }]">
      <strong>{{ item.name }}</strong>
    </a-->
  </li>
</ul>

<!--

We should split this out over several templates!

-->

<div *ngIf="selectedItem && resource === 'deployments'">
  <h2>Deployment: {{selectedItem.name}}</h2>

  <button href="#">Undeploy</button>

  <ul>
    <li *ngFor="#endpoint of selectedItem.gateways | keyValues">Endpoint: {{ endpoint.key }}
  </ul>

  <h3>Clusters and breeds</h3>
  <ul>
    <li *ngFor="#item of selectedItem.clusters | keyValues">
      {{item.key }} (port {{item.value.port_mapping.port }})
      <ul>
        <li *ngFor="#service of item.value.services">
          {{ service.state.step.name }}: {{ service.breed.name }} (port {{ service.breed.ports.port }})
          <editor [initialContent]="service.breed.name"></editor>
        </li>
      </ul>
    </li>
  </ul>

</div>

<div *ngIf="selectedItem && resource === 'gateways'">
  <h2>Gateway: {{selectedItem.lookup_name}}</h2>

  <editor [initialContent]="selectedItem.lookup_name"></editor>

  <ul>
    <li>Port: {{ selectedItem.port }}
    <li>Deployed: {{ selectedItem.deployed }}</li>
    <li>Sticky: {{ selectedItem.sticky }}</li>
  </ul>

  <h3>Routes</h3>
  <ul>
    <li *ngFor="#item of selectedItem.routes | keyValues">
      {{item.key }}
      <ul>
        <li>Weight: {{ item.value.weight }}</li>
        <li>Filters: {{ item.value.filters | json }}</li>
        <li>Rewrites: {{ item.value.rewrites | json }}</li>
        <li *ngIf="item.value.instances">Instances:
          <ul>
            <li *ngFor="#instance of item.value.instances">
              {{ instance.name }} (port {{ instance.port }})
              {{ instance.host }}
            </li>
          </ul>
      </ul>
    </li>
  </ul>

</div>

<div *ngIf="selectedItem && resource === 'breeds'">
  <h2>Breed: {{selectedItem.name}}</h2>

  <editor [initialContent]="selectedItem.name"></editor>

  <ul>
    <li>Deployable: {{ selectedItem.deployable }}</li>
    <li>Port: {{ selectedItem.ports.port }}
  </ul>

  <div *ngIf="selectedItem.environment_variables">
    <h3>Environment variables</h3>
    {{ selectedItem.environment_variables | json }}
  </div>
  <div *ngIf="selectedItem.constants">
    <h3>Constants</h3>
    {{ selectedItem.constants | json }}
  </div>

  <div *ngIf="selectedItem.dependencies">
    <h3>Dependencies</h3>
    {{ selectedItem.dependencies | json }}
  </div>

</div>

<div *ngIf="selectedItem && resource === 'blueprints'">
  <h2>Blueprint: {{selectedItem.name}}</h2>

  <button href="#">Deploy</button>

  <editor [initialContent]="selectedItem.name"></editor>

  <h3>Clusters and breeds</h3>
  <ul>
    <li *ngFor="#item of selectedItem.clusters | keyValues">
      {{item.key }}
      <ul>
        <li *ngFor="#service of item.value.services">
          {{ service.breed.name }} (port {{ service.breed.ports.port }})
        </li>
      </ul>
    </li>
  </ul>

</div>
