<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default editor-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="panel-title col-md-8" ng-if="$ctrl.isModified() && !$ctrl.valid" >
              <img class="error-icon" src="styles/resources/app/common/images/error_triangle.svg">
              <div class="error-message-container">
                <div class="error-message first-line"><!--
                --><span title="{{$ctrl.errorMessage}}" class="message">{{$ctrl.errorMessage}}</span><!--
                --><i ng-if="$ctrl.restOfMessage && !$ctrl.expandError" class="icon-size-fullscreen" title="Show full error message" ng-click="$ctrl.expandError = true"></i><!--
                --><i ng-if="$ctrl.restOfMessage && $ctrl.expandError" class="icon-size-actual" title="Hide full error message" ng-click="$ctrl.expandError = false"></i><!--
             --></div>
                <div class="error-message" ng-if="$ctrl.restOfMessage" ng-show="$ctrl.expandError"><!--
                -->{{$ctrl.restOfMessage}}<!--
            --></div>
              </div>
            </div>
            <div class="col-md-4" ng-class="{'col-md-offset-8' : !($ctrl.isModified() && !$ctrl.valid)}">
              <button
                ng-if="!$ctrl.inEdit"
                class="btn btn-small btn-primary pull-right" type="submit"
                ng-click="$ctrl.startEdit()">
                  Edit
              </button>
              <button
                class="btn btn-small btn-success pull-right" type="submit"
                ng-if="$ctrl.inEdit && !(!$ctrl.isModified() || !$ctrl.valid)" ng-click="$ctrl.save()">
                  Save
              </button>
              <button
                ng-if="$ctrl.inEdit"
                class="btn btn-small btn-primary pull-right" type="submit"
                ng-click="$ctrl.cancel()">
                  Cancel
              </button>
            </div>
          </div>
        </div>
        <div ui-view="editor">

        </div>
      </div>
    </div>
  </div>
</div>
