<header title="{{ $ctrl.title }}" message="{{ $ctrl.headerMessage }}" clazz="{{ $ctrl.headerClass }}">
    <buttons>
        <button class="btn btn-lg btn-circle" type="submit" title="Save" ng-disabled="!$ctrl.isModified()" ng-click="$ctrl.save()">
            <i class="fa fa-floppy-o"></i>
        </button>
        <button class="btn btn-lg btn-circle red" type="submit" title="Cancel" ng-click="$ctrl.cancel()">
            <i class="fa fa-times"></i>
        </button>
    </buttons>
</header>

<div class="fluid-container">
    <div class="editor">
        <div ui-ace="$ctrl.editor"
             ng-model="$ctrl.source"
             ng-change="$ctrl.validate($ctrl.source)"></div>
    </div>
</div>