<header title="Breeds">
  <buttons>
    <button ui-sref="createBreed" class="btn ghost" type="submit"><i class="fa fa-plus"></i>Create</button>
  </buttons>
</header>

<div class="container-fluid">
  <table class="table">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <tr ng-repeat="breed in $ctrl.breeds">
      <td>{{breed.name}}</td>
      <td>
        <div class="pull-right">
          <button ui-sref="updateBreed({id: breed.name})" class="btn blue"><i class="fa fa-lg fa-pencil"></i>Edit</button>
          <button ng-click="$ctrl.openDeleteModal(breed.name)" class="btn red"><i class="fa fa-lg fa-trash"></i>Delete</button>
        </div>
      </td>
    </tr>
  </table>
</div>