.fadeIn-enter {
  opacity: 0.01;
  transition: opacity 0.25s;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
}

.fadeIn-leave {
  opacity: 1;
  transition: opacity 0.25s;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.1;
}

.fadeIn-appear {
  opacity: 0.01;
  transition: opacity 0.25s;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
}

/* The button loading animation */
@keyframes buttonLoading {
    0%, 33%, 66%, 100% {
    	transition-timing-function: ease-out;
	}
	0% {
		padding-left: 1rem;
	}
	53% {
	  	padding-left: 3rem
	}
	86% {
	  	padding-left: 2.7rem;
	}
	100% {
		padding-left: 2.75rem;
	}
}

@keyframes listItemLoader {
	0% {
		left: 0%;
	}
	100% {
		left: 100%;
	}
}