.error-badge {
	&:before {
		content: '';
		position: absolute;
		top: -0.5rem;
		right: 0.5rem;
		display: block;
		width: 1rem;
		z-index: 100;
		height: 1rem;
		pointer-events: none;
		background-color: white;
		background-image: url(/images/alert.svg);
		background-size: 1rem;
	}
}