.button {
	position: relative;
	display: inline-block;
	border: 0px solid transparent;
	line-height: 100%;
	padding: 0.5rem 1rem;
	box-sizing: content-box;
	min-width: 3.5rem;
	color: white;
	font-size: $s-size;
	cursor: pointer;
	outline: none;
	z-index: 1;
	border-radius: 3px;
	overflow: hidden;
	margin-left: 0.5rem;
	transition: background-color 0.2s, opacity 0.2s;

	&.active {
		background-image: url('/images/spinner.svg');
		background-position: 1rem center;
		background-repeat: no-repeat;
		background-size: 1rem;
		padding-left: 2.75rem;
		
		animation-name: buttonLoading;
		animation-duration: 0.2s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
	}
	&.disabled {
		opacity: 0.2;
		cursor: default;
	}
}
.button-red {
	background-color: $red;
	border-color: $red;
	
	&:hover {
		background-color: darken( $red, 12% );
		border-color: darken( $red, 12% );
	}
}
.button-pink {
	background-color: $pink;
	border-color: $pink;
	
	&:hover {
		background-color: lighten( $pink, 8% );
		border-color: lighten( $pink, 8% );
	}
}
.button-green {
	background-color: $green;
	border-color: $green;
	
	&:hover {
		background-color: darken( $green, 12% );
		border-color: darken( $green, 12% );
	}
}
.button-blue {
	background-color: $blue;
	border-color: $blue;
	
	&:hover {
		background-color: darken( $blue, 12% );
		border-color: darken( $blue, 12% );
	}
}
.button-ghost {
	background-color: darken( $grey-light, 5% );
	border-color: white;
	color: lighten( $grey, 10% );

	&:hover {
		background-color: darken( $grey-light, 15% );
	}
	&:active {
		background-color: darken( $grey-light, 25% );
	}
}

.upload-button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	vertical-align: bottom;

	input {
		display: inline-block;
		margin: 0;
		padding: 0;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: transparent;
	    cursor: inherit;
	}
}