.button {
	position: relative;
	display: inline-block;
	border: none;
	padding: 0.5rem 1rem;
	color: white;
	cursor: pointer;
	outline: none;
	z-index: 1;
	border-radius: 3px;
	overflow: hidden;
	margin-left: 0.5rem;
	transition: all 0.15s;
}
.button-pink {
	background-color: $pink;
	&:hover {
		background-color: darken( $pink, 10% );
	}	
}
.button-red {
	background-color: $red;
	&:hover {
		background-color: darken( $red, 10% );
	}
}
.button-green {
	background-color: $green;
	&:hover {
		background-color: darken( $green, 5% );
	}	
}
.button-yellow {
	background-color: $yellow;
	&:hover {
		background-color: darken( $yellow, 5% );
	}	
}
.button-blue {
	background-color: $blue;
	&:hover {
		background-color: darken( $blue, 10% );
	}	
}