.dialog {
	padding: 1rem 1rem 0;
	transition: padding 0.2s;
}

.dialog-danger {
	padding-left: 2.5rem;
	padding-right: 0;
	box-sizing: border-box;
	color: $red;
	background-image: url(/images/alert.svg);
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: 1rem 1.35rem;
}

.dialog-empty {
	padding: 0 1rem 0;
}