.search-form {
	display: inline-block;
	width: 25rem;
	box-sizing: border-box;
	input {
		width: 100%;
	}
}
[type="password"],
[type="search"],
[type="text"] {
	display: inline-block;
	background-color: $grey-light;
	border: none;
	outline: none;
	padding: 0.5em 1em;
}