.hidden {
	display: none!important;
	visibility: hidden;
}
.editable {
	cursor: pointer;
	
	&:hover::after {
		content:'';
		display: inline-block;
		margin-left: 0.5rem;
		width: 13px;
		height: 13px;
		background-image: url(/images/edit.svg);
	    background-size: 13px;
	    background-repeat: no-repeat;
	}
}
