.hidden {
	display: none!important;
	visibility: hidden;
}
.invisible {
	opacity: 0!important;
}
.dimmed {
	opacity: 0.2;
}
.clip-textoverflow {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.editable {
	cursor: pointer;
	
	&:hover::after {
		content:'';
		display: inline-block;
		margin-left: 0.5rem;
		width: 13px;
		height: 13px;
		background-image: url(/images/edit.svg);
	    background-size: 13px;
	    background-repeat: no-repeat;
	}
}
input.editable {
	color: inherit;
	background-color: white;
	padding: 0.5rem;

	&:hover {
		cursor: text;
	}	
}
input.editable[disabled] {
	background-color: transparent;
	border: 1px solid transparent;
	cursor: text;
}
#deployment-single {
	will-change: scroll-position; 
}