.container-status-message {
	position: absolute;
	z-index: 10;
  	top: 50vh;
  	width: 100%;
  	text-align: center;
}
.error-status-message {
	color: $red;
}
.empty-list {
	position: absolute;
	top: 50vh;
	width: 100%;
	text-align: center;
}