// GENERAL CLASSES
.section-full {
	padding: 0 1rem 1rem;
	width: 100%;
	box-sizing: border-box;	
	background-color: $off-white;
}
.section-half {
	padding: 1rem;
	width: 50%;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}
.section-third {
	padding: 1rem;
	width: percentage(1/3);
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}
.section-fifth {
	padding: 1rem;
	width: percentage(1/5);
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	
	&.double {
		width: percentage(2/5);
	}
	&.triple {
		width: percentage(3/5);
	}
	&.quadruple {
		width: percentage(4/5);
	}	
}
.section-sixth {
	padding: 1rem;
	width: percentage(1/6);
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}

// DETAIL SECTIONS
.detail-section {	
	div {
		position: relative;
	}

	.export-links {
		width: auto;
		position: absolute;
		right: 0;

		li {
			cursor: pointer;
		}
		.first-item {
			font-weight: 600;
			text-transform: lowercase;

			&:hover {
				background-color: white;
			}
		}
	}
}

// SERVICE SECTIONS
.service-section .clock-icon {
	margin-bottom: -2px;
	margin-right: 0.2rem;
}