.service {
  .service-title {
    font-size: $font-size-xxl;
  }
  .service-description {
    color: $medium-blue;
    font-size: $font-size-tiny;
  }
  .update-time {
    color: $medium-blue;
    font-size: $font-size-tiny;
  }
}
