<div class="read-all-table">
  <div class="table__filter">
    <input type="text" ng-model="dataFilter">
  </div>

  <table class="table" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="header in vm.headers">{{header.name}}</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dataRow in vm.dataRows">
        <th><button>See details</button>
        </th>
        <td ng-repeat="columnContent in dataRow">
          {{columnContent}}
        </td>
        
        <td>
          <div ng-transclude="actions"> </div>
          
          <button class="edit" ui-sref="root.update({resource: vm.resource, id: dataRow.name})">
            Edit
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
