<div class="eaa">
  <div class="table">
    <div class="row row--table row--table-head">
      <div class="data">
        <div class="column" ng-repeat="(headerName, headerFunction) in vm.parameters">
          {{headerName}}
        </div>
      </div>  
      <div class="actions">
        
      </div>
    </div>

    <div  id="{{dataPoint.name}}" 
          class="row row--table row--table--content"
          ng-repeat="dataPoint in vm.data"
          ng-class="{'edit-active': editActive}">
          
      <div class="row row--data">
        <div class="data">
          <div class="column" ng-repeat="headerFunction in vm.parameters">
            {{headerFunction(dataPoint)}}
          </div>
        </div>  
        
        <div class="actions">
          <button ng-click="editActive = !editActive" class="button button--icon hvr-radial-out">
            <i class="fa fa-lg fa-pencil"></i>
          </button>
          <button class="button button--icon hvr-radial-out">
            <i class="fa fa-lg fa-times"></i>
          </button>
        </div>
      </div>

      <div class="row row--edit">
        <edit-one yaml="{{vm.yaml}}"> </edit-one>
      </div>

    </div>



  </div>


</div>