<div class="read-all-table">
  <table class="table" cellspacing="0">
    <thead>
      <tr>
        <th ng-repeat="headerName in vm.headers">{{headerName}}</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dataPoint in vm.data">
        <td ng-repeat="columnContent in dataPoint.reduced">{{columnContent}}</td>
        <td>
          <button>
            Edit
          </button>
          <button>
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>