<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Deploying Blueprint: {{deployBlueprint.name}}</h3>
    </div>
    <div class="modal-body">
      <p>
        You are about to deploy a blueprint
      </p>

      <p>
       You can give this deployment a custom name. The default name is the name of the blueprint.
      </p>

      <form role="form">
        <div class="form-group">
          <label>Deployment name</label> 
          <input type="text" placeholder="Type deployment name here" class="form-control" ng-model="deployBlueprint.newName">
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success ladda-button" 
                ladda="deployBlueprint.busyDeployingBlueprint" 
                type="button" ng-click="deployBlueprint.deployBlueprint(deployBlueprint.newName, deployBlueprint.data)">Deploy</button>

        <button class="btn btn-default" type="button" ng-click="deployBlueprint.cancel()">Cancel</button>
    </div>
</div>