.edit-one {
    width: 100%;
    height: 100%;

    position: relative;

    .ide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3rem;
        background-color: black;
    }

    .ace_editor {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 3rem;
        right: 0;
    }

    .row-buttons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3rem;

        // width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}