<div class="artifact-properties">
    <div class="artifact-labels">
      <tag
        value="artifact.status"
        has-progress="true"
        success="artifact.status === 'running'"
        in-progress="updating()"
        paused="artifact.status === 'suspended'">
      </tag>
      <p></p>
      <tag ng-if="artifact.breed.name" value="'breed: ' + artifact.breed.name"></tag>
      <tag ng-if="artifact.breed.reference" value="'breed: ' + artifact.breed.reference"></tag>

      <p></p>

      <tag ng-if="artifact.schedule === 'daemon'" value="'schedule : daemon'"></tag>
      <tag ng-if="!(artifact.schedule.event | isEmpty)" value="'schedule : event'"></tag>
      <tag ng-if="!(artifact.schedule.time | isEmpty)" value="'schedule : time'"></tag>
    </div>

    <div class="list" ng-if="artifact.instances && artifact.instances.length > 0">
        <p class="v-label">Ports :</p>
        <ul>
            <li ng-repeat="instance in artifact.instances">
              <div ng-repeat="(portName, port) in instance.ports | orderByKeys"
                        ng-if="proxy(artifact, instance, portName)">
                  <span class="clickable"
                     ng-click="proxy(artifact, instance, portName, $event)">
                      {{instance.name | limitTo: 20 }} : {{port}}
                  </span>
              </div>
            </li>
        </ul>
    </div>

</div>
