<div class="artifact-properties" ng-controller="WorkflowController as $ctrl">
    <tag
      value="artifact.status"
      has-progress="true"
      success="artifact.status === 'running'"
      in-progress="$ctrl.updating()"
      paused="artifact.status === 'suspended'">
    </tag>
    <p></p>
    <tag ng-if="artifact.breed.name" value="'breed: ' + artifact.breed.name"></tag>
    <tag ng-if="artifact.breed.reference" value="'breed: ' + artifact.breed.reference"></tag>
    <p></p>

    <tag ng-if="artifact.schedule === 'daemon'" value="'schedule : daemon'"></tag>
    <tag ng-if="!(artifact.schedule.event | isEmpty)" value="'schedule : event'"></tag>
    <tag ng-if="!(artifact.schedule.time | isEmpty)" value="'schedule : time'"></tag>

    <div class="artifact-card-actions">
        <button class="btn btn-ghost btn-success" ng-if="artifact.status === 'suspended'" ng-click="$ctrl.start($event)">
            <i class="fa fa-play"></i>&nbsp;&nbsp;Start
        </button>
        <button class="btn btn-ghost btn-primary" ng-if="artifact.status === 'running'" ng-click="$ctrl.suspend($event)">
            <i class="fa fa-pause"></i>&nbsp;&nbsp;Suspend
        </button>
        <button class="btn btn-ghost btn-primary" ng-if="artifact.status === 'running'" ng-click="$ctrl.restart($event)">
            <i class="fa fa-refresh"></i>&nbsp;&nbsp;Restart
        </button>
    </div>

    <div ng-repeat="instance in artifact.instances">
        <span>
            {{instance.name | limitTo: 25 }}
        </span>
        <div ng-repeat="(portName, port) in instance.ports | orderByKeys">
            <span class="v-value v-value--state"
                  ng-if="!proxy(artifact, instance, portName)">
                {{portName}}
            </span>
            <span class="label label-success"
                  ng-if="proxy(artifact, instance, portName)">
                <a class="proxy-anchor"
                   ng-click="proxy(artifact, instance, portName, $event)">
                    {{portName}}
                </a>
            </span>
        </div>
    </div>

</div>
