//RESET
input:focus,
select:focus,
textarea:focus,
button:focus,
span:focus {
  outline: none !important;
}

// COLORS
$light-grey: #F2F2F2;
$purple: #FF405E;
$dark-blue: #1E0A3C;

$green: #15D9B2;

$blue: #4d89f9;

$font-small: 14px;
$font-medium: 18px;
$font-big: 24px;
$font-really-big: 32px;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;

body {
  background-color: $light-grey !important;
}

.the-page {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  position: relative;
}

menu {
  padding: 0;
  margin: 0;

  z-index: 999;
  position: relative;
  background-color: white;

  .navbar {
    margin-bottom: 0;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: none;

    .stats {
      display: flex;
      align-items: center;
      height: 50px;

      .stat-label {
        color: rgba(30, 10, 60, 0.5);
        border-top: none !important;
        font-size: 16px !important;
        font-weight: 500;
      }

      .stat-content {
        .detail {
          font-size: 14px;
          font-weight: bold;
          color: rgba($dark-blue, 0.7);
        }
      }
    }

    .disconnected {
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 16px !important;
      font-weight: 500;
      color: rgba(255, 0, 0, 1);
    }
  }
}

.vamp-page-header {
  margin: 0;
  padding: 20px 0;

  .titles {
    float: left;
    display: flex;
    align-items: center;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      padding: 0;
    }

    .title {
      font-size: 24px;
      text-transform: uppercase;
      color: $purple;
      font-weight: 300;

      &.message {
        text-transform: none;
        margin-left: 10px;
        font-size: 18px;
      }
    }
  }
  .buttons {
    float: right;
  }

  &.error {
    background-color: rgba($purple, 0.2);
  }
}

.editor {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}

.ace_editor {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.alert {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.toast-top-right {
  box-shadow: none;
  top: initial;
  bottom: 15px;
  right: 15px;
}

.bars-container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;

  background-color: rgba(black, 0.1);

  overflow: hidden;
}

.bar {
  transition: all ease-in-out 0.5s;
}

.status-col {
  * {
    margin: 0;
  }

  margin-top: 35px;

  display: flex;
  align-items: center;

  .status-text {
    height: 100%;
    line-height: 1;
    font-size: 24px;
  }

}

.status {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 6px;
}

.table {
  margin-bottom: 0;

  tbody > tr > td {
    vertical-align: middle !important;
    letter-spacing: 0.05em;
    color: $dark-blue;
    padding: 8px 0 8px 0;
    font-size: 14px !important;
    font-weight: 500;
  }
}

.row-centered {
  display: flex;
  align-items: center;
}

.slider-label {
  letter-spacing: 0.05em;
  font-size: 14px;
}

.rz-slider {
  margin-bottom: 22px;
}

.bar-fix {
  padding: 10px 0;
}

.condition-labels {
  .label {
    margin-right: 4px;
  }
}

.condition-form {
  display: inline-block;
}

.info-panel {
  z-index: 999;
  position: fixed;
  top: 52px;
  width: 25%;
  max-width: 400px;
  bottom: 0;
  background-color: white;
  padding: 22px;
  box-shadow: -4px 0 4px 1px rgba(#aaaaaa, 0.3);
  right: -25%;
  transition: right 0.3s ease-in-out;

  &.active {
    right: 0;
  }

  h3 {
    margin: 0 0 20px 0;
  }
}

.clickable {
  cursor: pointer;
}

//Bootstrap overwrite
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, div {
  font-family: 'Roboto', sans-serif;
}

// Navbar text

.navbar-default .navbar-nav > li > a {
  color: $dark-blue !important;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-style: double;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent !important;
  color: $purple !important;
  background-image: none !important;
  box-shadow: none !important;
}

.navbar-default .navbar-nav > .deployable > a {
  text-decoration: overline;
  text-decoration-style: double;
}

.ace_editor {
  div {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  }
}

.panel-default {
  border: none !important;
  box-shadow: none !important;;

  .panel-label {
    font-size: 14px;
    color: rgba($dark-blue, 0.7);
    line-height: 1;
  }

}

.panel-default > .panel-heading {
  background-image: none !important;
  background-color: white !important;
  padding: 0 10px 12px 10px;

  .column {
    height: 40px;
    display: flex;
    align-items: flex-end;
  }

  .head {
    font-size: 28px;
    color: $dark-blue;
    font-weight: normal;
    line-height: 1;
  }

  .category {
    font-size: 12px;
    font-weight: lighter;
    color: rgba($dark-blue, 0.7);
  }
}

.panel-body {
  .head {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 4px;
  }

  .sub-head {
    font-size: 12px;
    color: rgba($dark-blue, 0.7);
    line-height: 1;
    padding-top: 0;
  }

}

.chart-row {
  padding-bottom: 40px;
}

.input-small {
  width: 70px;
  font-size: 12px;
}

.event-panel-content {
  box-shadow: -4px 0 4px 1px rgba(#aaaaaa, 0.3);
  height: 40px;

  position: relative;
  z-index: 9999;

  transition: 0.3s height ease-in-out;

  &.show {
    height: 400px;
  }

  .head {
    height: 40px;
    padding: 0 15px;
    width: 100%;
    border-bottom: 1px solid rgba($dark-blue, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;

    .category {
      cursor: pointer;
      margin: 0;
      line-height: 1;

      &:hover {
        color: $purple;
      }
    }
  }

  .container-fluid {
    background-color: white;
    height: 360px;
    overflow: scroll;
  }
}

.service-row {
  &:first-of-type {
    padding: 10px 0;
  }

  padding: 40px 0;
  border-bottom: 1px solid $light-grey;

  &:last-of-type {
    border-bottom: none;
  }
}

.app-center {
  position: relative;
  overflow: scroll;
  flex: 1;
}

.condition-weights {
  .fa-pencil {
    cursor: pointer;
  }

  .slider {
    width: 70%;
  }

}

a.editable-click {
  color: #337ab7;
  border-bottom: none;
  font-style: normal;
  font-weight: bold;

}

.navbar-nav {
  margin-left: -10px;
}

a.editable-click:hover {
  color: #337ab7;
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
}

.chart-header {
  padding: 8px 0px 2px 8px;
  vertical-align: middle !important;
  color: rgba($dark-blue, 0.5);
  border-top: none !important;
  font-size: 14px !important;
  font-weight: 500;
}

.info-button {
  margin-right: -15px;
  width: 57px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-left: 2px solid $light-grey;
  margin-left: 15px;
}

.fa-info {
  font-size: 22px;
}

.nav-logo {
  height: 20px;
  width: 20px;
}

.deploy-status {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: darkgrey;

  &.red {
    background-color: $purple;
  }

  &.green {
    background-color: $green;
  }

  &.yellow {
    background-color: #f1c40f;
  }

}

//Slider style

.rzslider {
  .rz-bar {
    height: 10px;
    border-radius: 2px;
    background-color: rgba(black, 0.2);
    box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 0.3);
  }

  .rz-bubble {
    color: $dark-blue;
    font-size: 14px;
  }

  .rz-limit {
    color: white !important;
    font-size: 12px;
    background-color: rgba(black, 0.2);
    min-width: 30px;
    text-align: center;
    line-height: 1.5;
    border-radius: 2px;

  }

  .rz-selection {
    background-color: $purple;
    height: 10px;
  }

  .rz-pointer {
    background-color: $purple;
    border: 2px solid $light-grey;
    top: -7px;
    width: 23px;
    height: 23px;

    &:after {
      display: none;
    }
  }

  .rz-selection {
    background-color: $purple !important;
  }

}

input[type=number] {
  width: 34px;
}

.instance {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.not-available {
  color: rgba($dark-blue, 0.3);
  cursor: default;

  &:hover {
    color: rgba($dark-blue, 0.3);
  }
}

.sparkchart-container {
  width: 150px;
  height: 36px;
  position: relative;
  vertical-align: top;

  span {
    position: absolute;
    margin: 10px 0 0 5px;
  }
}

.editable {
  display: flex;

  .editable-icon {
    margin-left: 6px;

    cursor: pointer;

    i {
      transform: translate(0, -1px);
      color: $blue;
    }

    &.disabled {
      cursor: default;
      i {
        color: rgba($dark-blue, 0.2);
      }
    }
  }
}

@keyframes highlightChange {
  0% {
    background-color: #ec971f;
  }
  50% {
    background-color: $dark-blue;
  }
  100% {
    background-color: #ec971f;
  }
}

.highlight {
  animation-name: highlightChange;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

//

.artifacts {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.artifact {
  height: 28rem;
  width: 28rem;
  border: 2px solid lightblue;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: aliceblue url('img/blueprint.png');

  &:hover {
    background-color: rgba(lightblue, 0.2);
  }

  &.selected {
    border: 2px solid $dark-blue;
  }

  input[type="checkbox"] {
    -moz-transform: scale(1.25, 1.25);

    &:hover {
      cursor: pointer;
    }
  }
}

.artifact-title {
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

//

.btn {

  font-size: 14px !important;
  border: none !important;
  border-radius: 20px !important;
  line-height: 1 !important;
  background: $dark-blue none !important;
  text-shadow: none !important;
  padding: 9px 20px 7px 20px !important;
  color: white !important;
  font-weight: $font-weight-light !important;
  letter-spacing: 1px;

  &:hover {
    background-color: rgba($dark-blue, 0.9) !important;
  }

  &.toggle-on {
    background: $dark-blue none !important;
    border: 0 !important;
  }

  &.toggle-off {
    background: $purple none !important;
    border: 0 !important;
  }

  &.toggle-handle {
    background: aliceblue none !important;
  }

  &.btn-circle, &.btn-circle-3d {
    width: 5rem;
    height: 5rem;
    font-size: 18px !important;
    border-radius: 50% !important;
    margin-left: 2rem;
    padding: 0 !important;
  }

  &.red {
    background-color: $purple !important;

    &.btn-circle {
      -webkit-box-shadow: 0px 0px 3px 1px #b92c28;
      -moz-box-shadow: 0px 0px 3px 1px #b92c28;
      box-shadow: 0px 0px 3px 1px #b92c28;
    }

    &:hover {
      background-color: rgba($purple, 0.9) !important;
    }
  }

  &.ghost {
    background-color: transparent !important;
    border: 1px solid $dark-blue !important;
    color: $dark-blue !important;
    font-weight: $font-weight-regular !important;

    &.btn-circle {
      -webkit-box-shadow: 0px 0px 3px 1px #ccc;
      -moz-box-shadow: 0px 0px 3px 1px #ccc;
      box-shadow: 0px 0px 3px 1px #ccc;
    }
  }
}

// blueprints

.blueprint-actions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin: 5px 30px 5px 30px;
    text-align: left;
  }
}

//

.artifact-properties {
  span {
    font-size: 14px !important;
    font-weight: $font-weight-regular;
    background-color: rgba(lightblue, .5);
    color: inherit;
    border-radius: .3em;
  }

  .list {
    margin: .6rem 0 .6rem 0;
    background-color: rgba(lightblue, .5);
    border-radius: .3em;
    font-size: 14px !important;
    font-weight: $font-weight-regular;
    color: inherit;
    padding: .2em .6em 0;

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0 10px;
    }
  }
}

// gateway

.gateway {

  p, span {
    font-size: 14px !important;
    font-weight: $font-weight-regular;
  }
}