// reset

input:focus,
select:focus,
textarea:focus,
button:focus,
span:focus {
  outline: none !important;
}

// colors

$color-blue-dark: #295882;
$color-blue: #29719b;
$color-blue-light: #6991AA;

$color-pink: #FF405E;
$color-pink-dark: #C33750;

$color-white: #F0F5FA;

$color-green: #00ff00;
$color-green-dark: rgba(#00ff00, 0.2);
$color-yellow: #f1c40f;
$color-yellow-dark: #9b790d;

$color-bg: #141e2d;
$color-bg-dark: #0f1523;

$color-text: #b9c8d2;
$color-text-dark: #6991AA;

$font-small: 12px;
$font-medium: 14px;
$font-big: 18px;
$font-really-big: 24px;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;

@mixin box-shadow($color) {
  -webkit-box-shadow: 0 0 4px 2px $color;
  -moz-box-shadow: 0 0 4px 2px $color;
  box-shadow: 0 0 4px 2px $color;
}

body {
  background: linear-gradient(to right bottom, $color-bg, $color-bg-dark);
  color: $color-text;
  overflow: hidden;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

menu {
  padding: 0;
  margin: 0;
  z-index: 999;
  position: relative;
  @include box-shadow($color-blue-dark);

  nav {
    background: $color-bg-dark !important;
    overflow-y: scroll;
  }

  .navbar {
    margin-bottom: 0;
    border: none;

    .stats {
      display: flex;
      align-items: center;
      height: 50px;
      padding-top: 8px;
      font-size: $font-medium;
      font-weight: $font-weight-regular;

      .stat-value {
        color: $color-text;
      }

      .stat-label {
        color: $color-text-dark;
      }

      .stat-content {
        .detail {
          color: $color-text-dark;
        }
      }
    }

    .disconnected {
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 16px !important;
      font-weight: 500;
      color: $color-pink;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: $color-text !important;
  font-size: 16px;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
  padding-top: 18px;
}

.navbar-default .navbar-nav > .active > a {
  background: $color-pink none !important;
  color: ghostwhite !important;
}

.navbar-default .navbar-nav > .deployable > a {
  text-decoration: overline;
  text-decoration-style: double;
}

.vamp-page-header {
  margin: 0;
  padding: 0;
  align-items: center;

  .header-row {
    margin: 0 0 -20px 0;
    padding: 0 !important;
  }

  .header-column {
    margin: 0 -5px;
    padding: 0;
    height: 75px;
    line-height: 75px;

    &.title {
      font-size: $font-really-big;
      text-transform: uppercase;
      color: $color-text;
      font-weight: $font-weight-light;
      letter-spacing: 0.05em;
      margin: 0;
      padding: 0;
    }

    &.message {
      margin: 0;
      padding: 0;
      font-size: $font-big;
    }

    &.buttons {
      margin: 0;
      padding: 0;
    }
  }

  &.error {
    background-color: rgba($color-pink, 0.4);
  }
}

.label-success {
  background-color: $color-green-dark;
  color: $color-white;
}

.label-primary {
  background-color: $color-blue;
}

.label-info {
  color: $color-white;
  background-color: $color-yellow-dark;
}

.editor {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}

edit, add {
  .message-truncated span {
    &:hover {
      cursor: pointer;
    }
  }
  .message-expand-icon {
    margin-left: 15px;
    cursor: pointer;
    color: $color-text-dark;
    &:hover {
      color: $color-text;
    }
  }
}

.ace_editor {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.alert {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.toast-top-right {
  top: initial;
  bottom: 15px;
  right: 15px;
}

.bars-container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;

  background-color: rgba(black, 0.1);
  overflow: hidden;
}

.bar {
  transition: all ease-in-out 0.5s;
}

.status-col {
  * {
    margin: 0;
  }

  margin-top: 35px;

  display: flex;
  align-items: center;

  .status-text {
    height: 100%;
    line-height: 1;
    font-size: $font-really-big;
  }
}

.status {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 6px;
}

.table {
  margin-bottom: 0;

  tbody > tr > td {
    vertical-align: middle !important;
    letter-spacing: 0.05em;
    color: white;
    padding: 8px 0 8px 0;
    font-size: $font-medium !important;
    font-weight: $font-weight-regular;
    border: none;
  }

  tbody > tr > th {
    border: none;
  }
}

.row-centered {
  display: flex;
  align-items: center;
}

.slider-label {
  letter-spacing: 0.05em;
  font-size: $font-medium;
}

.rz-slider {
  margin-bottom: 22px;
}

.bar-fix {
  padding: 10px 0;
}

.condition-labels {
  .label {
    margin-right: 4px;
  }
}

.condition-form {
  display: inline-block;
}

.info-panel {
  z-index: 999;
  position: fixed;
  top: 57px;
  width: 25%;
  max-width: 400px;
  bottom: 0;
  background-color: $color-bg-dark;
  color: $color-text;
  padding: 22px;
  overflow-y: scroll;
  right: -25%;
  transition: right 0.3s ease-in-out;

  .table tbody tr {
    vertical-align: bottom;
    :nth-child(1) {
      color: $color-text-dark;
      font-size: $font-small !important;
      vertical-align: bottom !important;
    }
    td {
      border: none;
      color: $color-text;
    }
  }

  span {
    margin: 0 0 20px 0;
    font-size: $font-big;
  }

  &.active {
    right: 0;
    @include box-shadow($color-blue-dark);
  }
}

.clickable {
  cursor: pointer;
}

// bootstrap overwrite

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, div {
  font-family: 'Roboto', sans-serif;
}

.ace_editor {
  div {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  }
}

.event-panel-content {
  height: 50px;
  position: relative;
  z-index: 888;
  transition: 0.3s height ease-in-out;

  &.show {
    height: 400px;
  }

  .head {
    height: 50px;
    padding: 0 15px;
    margin: 0;
    width: 100%;
    display: flex;
    font-size: $font-medium;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-dark;
    cursor: pointer;
    font-weight: $font-weight-regular;
    overflow-y: scroll;
    @include box-shadow($color-blue-dark);

    .category {
      cursor: pointer;
      margin: 0;
      line-height: 1;
      color: $color-text;
      &:hover {
        color: $color-text-dark;
      }
    }

    a {
      color: $color-text;
      &:hover {
        color: $color-text-dark;
      }
    }
  }

  .container-fluid {
    background-color: linear-gradient(to right bottom, $color-bg, $color-bg-dark);;
    height: 360px;
    overflow-y: scroll;
    color: $color-text !important;

    table tbody tr {
      color: $color-text;
      font-weight: $font-weight-regular;
      th {
        border-top: none;
        font-size: $font-small !important;
        border-bottom: 1px solid $color-bg-dark;
      }
      td {
        border-top: 1px $color-bg-dark solid;
        font-size: $font-medium !important;
        color: $color-text;
        font-weight: $font-weight-light;
        span {
          font-size: $font-medium !important;
          font-weight: $font-weight-light;
        }
      }
    }
  }
}

.service-row {
  &:first-of-type {
    padding: 0;
  }

  padding: 10px 0;
  border-bottom: 1px solid $color-white;

  &:last-of-type {
    border-bottom: none;
  }
}

.app-center {
  position: relative;
  overflow-y: scroll;
  flex: 1;
}

.condition-weights {
  .fa-pencil {
    cursor: pointer;
  }

  .slider {
    width: 70%;
  }
}

a.editable-click {
  color: #337ab7;
  border-bottom: none;
  font-style: normal;
  font-weight: bold;
}

a.editable-click:hover {
  color: #337ab7;
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
}

.chart-header {
  padding: 8px 0 2px 8px;
  vertical-align: middle !important;
  color: rgba($color-yellow, 0.5);
  border-top: none !important;
  font-size: $font-medium !important;
  font-weight: 500;
}

.info-button {
  margin-right: -15px;
  width: 57px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  padding-top: 16px;
}

.fa-info {
  font-size: 22px;
}

.nav-logo {
  height: 24px;
  width: 24px;
}

.deploy-status {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: darkgrey;

  &.red {
    background-color: $color-pink;
  }

  &.green {
    background-color: $color-green-dark;
  }

  &.yellow {
    background-color: $color-yellow;
  }
}

// slider style

.rzslider {
  .rz-bar {
    height: 10px;
    border-radius: 2px;
    background-color: $color-blue-dark;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .rz-bubble {
    color: $color-text;
    font-size: $font-medium;
  }

  .rz-limit {
    color: $color-text !important;
    font-size: 12px;
    background-color: rgba(black, 0.2);
    min-width: 30px;
    text-align: center;
    line-height: 1.5;
    border-radius: 2px;
  }

  .rz-selection {
    background-color: $color-pink;
    height: 10px;
  }

  .rz-pointer {
    background-color: $color-pink;
    border: 2px solid $color-white;
    top: -7px;
    width: 23px;
    height: 23px;

    &:after {
      display: none;
    }
  }

  .rz-selection {
    background-color: $color-pink !important;
  }
}

.instance {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.not-available {
  color: rgba($color-yellow, 0.3);
  cursor: default;

  &:hover {
    color: rgba($color-yellow, 0.3);
  }
}

.editable {
  display: inline-flex;

  .editable-icon {
    margin-left: 6px;
    cursor: pointer;
    i {
      color: $color-text-dark;
      &:hover {
        color: $color-text;
      }
    }
    &.disabled {
      cursor: default;
      i {
        color: rgba($color-text-dark, 0.4);
      }
    }
  }
}

.editable-text {
  color: $color-bg-dark;
  input {
    width: 70%;
    color: $color-text;
    background-color: $color-bg;
    border: 1px solid $color-text-dark;
    border-radius: .3em;
    padding: 2px 4px;
  }
}

.editable-text-buttons, .editable-number-slider-buttons {
  display: inline-flex;
  button {
    background-color: $color-blue;
    border-radius: .25em;
    border: none;
    color: aliceblue;
    margin: 0 2px;
  }
}

.dropdown-menu-list ul {
  background-color: $color-bg;
  margin-top: 10px;
  @include box-shadow($color-blue-dark);
  li a {
    color: $color-text;
    &:hover {
      background: $color-bg-dark none;
      color: $color-text;
    }
  }
}

@keyframes highlightChange {
  0% {
    background-color: #ec971f;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: #ec971f;
  }
}

.highlight {
  animation-name: highlightChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes redAlert {
  0% {
    background-color: red;
    color: $color-white;
    font-weight: $font-weight-regular;
    @include box-shadow(red);
  }
  50% {
    background-color: $color-yellow;
    color: $color-white;
    font-weight: $font-weight-regular;
    @include box-shadow($color-yellow);
  }
  100% {
    background-color: red;
    color: $color-white;
    font-weight: $font-weight-regular;
    @include box-shadow(red);
  }
}

.label-red-alert {
  animation-name: redAlert;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

//

.artifacts {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: $color-text;
}

.artifact {
  height: 28rem;
  width: 28rem;
  border: 2px solid $color-blue-dark;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: $color-bg-dark url('img/blueprint.png');
  @include box-shadow($color-blue-dark);

  &:hover {
    background-color: rgba(black, 0.4);
  }

  &.selected {
    border: 2px solid $color-pink;
    @include box-shadow($color-pink);
  }

  input[type="checkbox"] {
    -moz-transform: scale(1.25, 1.25);
    &:hover {
      cursor: pointer;
    }
  }
}

.artifact-title {
  font-size: $font-big;
  font-weight: $font-weight-light;
  margin: 0 0 1.5rem 0;
}

.artifact-properties {

  span {
    font-size: $font-medium !important;
    font-weight: $font-weight-light;
    background-color: rgba($color-blue-light, .2);
    color: inherit;
    border-radius: .3em;
    margin-right: 5px;

    &.label-success {
      color: $color-white;
      background-color: $color-green-dark;
    }

    &.label-info {
      color: $color-white;
      background-color: $color-yellow-dark;
    }
  }

  .list {
    margin: .6rem 0 .6rem 0;
    font-weight: $font-weight-light;
    background-color: rgba($color-blue-light, .2);
    border-radius: .3em;
    color: inherit;
    padding: 5px 10px 1px 10px;

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0 0 0 10px;
    }
  }
}

//

.btn {
  font-size: $font-small !important;
  border: none !important;
  border-radius: 20px !important;
  line-height: 1 !important;
  background: $color-blue none !important;
  text-shadow: none !important;
  padding: 9px 20px 7px 20px !important;
  color: aliceblue !important;
  font-weight: $font-weight-light !important;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    background-color: $color-blue-dark !important;
  }

  &.toggle-on {
    background: $color-yellow none !important;
    border: 0 !important;
  }

  &.toggle-off {
    background: $color-pink none !important;
    border: 0 !important;
  }

  &.toggle-handle {
    background: aliceblue none !important;
  }

  &.btn-circle, &.btn-circle-3d {
    width: 5rem;
    height: 5rem;
    font-size: $font-big !important;
    border-radius: 50% !important;
    margin: 1rem 0 1rem 2rem;
    padding: 0 !important;
    @include box-shadow($color-blue);
    &:hover {
      @include box-shadow($color-blue-dark);
    }

    &.red {
      @include box-shadow($color-pink);
      &:hover {
        @include box-shadow($color-pink-dark);
      }
    }

    &.ghost {
      @include box-shadow($color-white);
      &:hover {
        @include box-shadow($color-text);
      }
    }
  }

  &.red {
    background-color: $color-pink !important;
    &:hover {
      background-color: $color-pink-dark !important;
    }
  }

  &.ghost {
    background-color: $color-white !important;
    color: $color-bg-dark !important;
    &:hover {
      background-color: $color-text !important;
    }
  }
}

.form-control {
  color: $color-text;
  background-color: $color-bg;
  border-color: $color-text-dark;
}

.has-error .help-block {
  color: $color-pink;
}

//

.blueprint-actions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin: 5px 30px;
    text-align: left;
  }
}

.deployment-actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin: 5px 30px;
    text-align: left;
  }
}

// gateway view

.gateway {
  p, span {
    font-size: $font-medium;
    font-weight: $font-weight-regular;
  }
}

.gateway-header {
  margin: 0 0 15px 0;
  padding: 10px;
  background-color: $color-bg-dark;
  border: 1px solid $color-blue-dark;
  border-radius: 1rem;
  @include box-shadow($color-blue-dark);
}

.gateway-sticky {
  margin-left: 20px;
}

.gateway-row {
  text-align: center;
  padding: 0;
}

.gateway-charts {
  margin: 0 0 15px 0;
  padding: 12px 0 15px 0;
  background-color: $color-bg-dark;
  border: 1px solid $color-blue-dark;
  border-radius: 1rem;
  @include box-shadow($color-blue-dark);
}

.gateway-route-row {
  margin: 0 0 15px 0;
  padding: 10px 0 5px 0;
  background-color: $color-bg-dark;
  border: 1px solid $color-blue-dark;
  border-radius: 1rem;
  @include box-shadow($color-blue-dark);
}

.gateway-route-row-header {
  margin: 0 10px 0 0;
}

.gateway-route {
  padding-top: 10px;
}

.gateway-route-condition {
  padding: 10px 0 0 0;
}

.gateway-route-condition-strength {
  padding: 0 10px 0 0;
}

// deployment

.deployment {
  @extend .gateway;
  padding-top: 10px;
}

.deployment-charts {
  @extend .gateway-charts;
}

.deployment-chart-column {
  text-align: center;
  padding: 0;
}

.deployment-cluster-row-header {
  margin: 15px 0 10px 0;
}

.deployment-cluster-name {
  padding: 0 0 0 15px;
  span {
    font-size: $font-big !important;
    font-weight: $font-weight-light;
    background-color: rgba($color-blue-light, .2);
    color: inherit;
    border-radius: .3em;
    margin: 0;
  }
}

.deployment-cluster-service-row {
  @extend .gateway-route-row;
  margin: 5px 15px 15px 15px;
  padding: 10px 0 0 0;
}

.deployment-row-no-padding {
  padding: 0;
}

.deployment-row {
  text-align: left;
  padding: 0;

  span {
    font-size: $font-medium !important;
    font-weight: $font-weight-light;
    background-color: rgba($color-blue-light, .2);
    color: inherit;
    border-radius: .3em;
    margin-right: 5px;

    &.label-success {
      color: $color-white;
      background-color: $color-green-dark;
    }

    &.label-info {
      color: $color-white;
      background-color: $color-yellow-dark;
    }
  }

  p a {
    color: $color-text-dark;
    &:hover {
      color: $color-text;
      text-decoration: none;
    }
  }
}

.deployment-row-center {
  @extend .deployment-row;
  text-align: center;
}

.deployment-cluster-service-name {
  padding-top: 12px;
}

.deployment-column-sparkline {
  padding: 3px 0 0 0;
}

.deployment-column-scale {
  padding: 0;
}

.deployment-column-instances {
  padding: 3px 0 0 0;
}

.deployment-column-ports {
  padding: 0 0 0 20px;
}

.deployment-float-1 {
  float: left;
}

.deployment-float-2 {
  float: left;
  padding-left: 10px;
}

.deployment-action-icons {
  i {
    cursor: pointer;
    color: $color-text-dark;
    &:hover {
      color: $color-text;
    }
    &.disabled {
      cursor: default;
      color: rgba($color-text-dark, 0.4);
    }
  }
}

.deployment-cluster-list {
  ul {
    list-style-type: none;
    padding: 0 0 0 10px;
    text-align: left;
    font-weight: $font-weight-light;
    font-size: $font-medium;

    li:first-of-type {
      margin: 0 0 0 0;
    }

    li .title {
      background-color: transparent;
      text-transform: uppercase;
      font-size: $font-small !important;
      color: $color-text-dark;
      font-weight: $font-weight-regular;
    }
  }
}

//

.modal-content {
  background-color: $color-bg;
  border: 2px solid $color-text;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  @include box-shadow($color-text);
}

.modal-header {
  font-size: $font-big;
  background-color: $color-bg;
  border-bottom: 1px solid $color-text;
  text-transform: uppercase;
}

.modal-footer {
  background-color: $color-bg;
  border-top: none;
}

.edit-scale {
  .note {
    margin: 10px 40px 25px 0;
    span {
      letter-spacing: 1px;
      font-size: $font-medium;
      font-weight: $font-weight-light;
      background-color: rgba($color-blue-light, .2);
      color: inherit;
      border-radius: .3em;
    }
  }
  label {
    color: $color-text-dark;
    text-transform: uppercase;
    font-size: $font-medium;
  }
}

.deployment-selection {
  button {
    font-size: $font-medium !important;
    text-transform: none;
  }
}

snippet {
  .modal-header {
    border-bottom: none;
  }

  pre {
    color: $color-text;
    background: rgba($color-text, 0.1);
  }
}
