// reset

input:focus,
select:focus,
textarea:focus,
button:focus,
span:focus {
  outline: none !important;
}

// colors

$color-blue-dark: #37647D;
$color-blue: #6991AA;
$color-pink: #FF405E;
$color-pink-dark: #C33750;
$color-white: #F0F5FA;
$color-green: #15D9B2;
$color-yellow: #f1c40f;

$color-bg: #141e2d;
$color-bg-dark: #0f1523;

$color-text: #b9c8d2;
$color-text-dark: #6991AA;

$font-small: 12px;
$font-medium: 14px;
$font-big: 18px;
$font-really-big: 32px;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;

body {
  background: linear-gradient(to right bottom, $color-bg, $color-bg-dark);
  color: $color-text;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

menu {
  padding: 0;
  margin: 0;
  z-index: 999;
  position: relative;
  box-shadow: -4px 0 4px 1px $color-blue-dark;
  -webkit-box-shadow: -4px 0 4px 1px $color-blue-dark;
  -moz-box-shadow: -4px 0 4px 1px $color-blue-dark;

  nav {
    background: $color-bg-dark !important;
    overflow-y: scroll;
  }

  .navbar {
    margin-bottom: 0;
    border: none;

    .stats {
      display: flex;
      align-items: center;
      height: 50px;
      padding-top: 8px;

      .stat-value {
        color: $color-text;
      }

      .stat-label {
        color: $color-text-dark;
        border-top: none !important;
        font-size: 16px !important;
        font-weight: 500;
      }

      .stat-content {
        .detail {
          color: $color-text-dark;
          font-size: $font-medium;
          font-weight: $font-weight-regular;
        }
      }
    }

    .disconnected {
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 16px !important;
      font-weight: 500;
      color: $color-pink;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: $color-text !important;
  font-size: 16px;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
  padding-top: 18px;
}

.navbar-default .navbar-nav > .active > a {
  background: $color-pink none !important;
  color: ghostwhite !important;
}

.navbar-default .navbar-nav > .deployable > a {
  text-decoration: overline;
  text-decoration-style: double;
}

.vamp-page-header {
  margin: 0;
  padding: 15px 0;

  .titles {
    float: left;
    display: flex;
    align-items: center;

    h1, h2, h3, h4, h5, h6 {
      margin: 12px 0;
      padding: 0;
    }

    .title {
      font-size: $font-really-big;
      text-transform: uppercase;
      color: $color-text;
      font-weight: 300;

      &.message {
        text-transform: none;
        margin-left: 10px;
        font-size: $font-big;
      }
    }
  }
  .buttons {
    float: right;
  }

  &.error {
    background-color: rgba($color-pink, 0.5);
  }
}

.editor {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}

.ace_editor {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.alert {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.toast-top-right {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  top: initial;
  bottom: 15px;
  right: 15px;
}

.bars-container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;

  background-color: rgba(black, 0.1);

  overflow: hidden;
}

.bar {
  transition: all ease-in-out 0.5s;
}

.status-col {
  * {
    margin: 0;
  }

  margin-top: 35px;

  display: flex;
  align-items: center;

  .status-text {
    height: 100%;
    line-height: 1;
    font-size: $font-really-big;
  }
}

.status {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 6px;
}

.table {
  margin-bottom: 0;

  tbody > tr > td {
    vertical-align: middle !important;
    letter-spacing: 0.05em;
    color: white;
    padding: 8px 0 8px 0;
    font-size: $font-medium !important;
    font-weight: $font-weight-regular;
    border: none;
  }

  tbody > tr > th {
    border: none;
  }
}

.row-centered {
  display: flex;
  align-items: center;
}

.slider-label {
  letter-spacing: 0.05em;
  font-size: $font-medium;
}

.rz-slider {
  margin-bottom: 22px;
}

.bar-fix {
  padding: 10px 0;
}

.condition-labels {
  .label {
    margin-right: 4px;
  }
}

.condition-form {
  display: inline-block;
}

.info-panel {
  z-index: 999;
  position: fixed;
  top: 57px;
  width: 25%;
  max-width: 400px;
  bottom: 0;
  background-color: $color-bg-dark;
  color: $color-text;
  padding: 22px;
  overflow-y: scroll;
  right: -25%;
  transition: right 0.3s ease-in-out;

  .table {
    tbody > tr > td {
      border: none;
      color: $color-text;
    }
  }

  &.active {
    right: 0;
    box-shadow: 0 0 4px 1px $color-blue-dark;
    -webkit-box-shadow: 0 0 4px 1px $color-blue-dark;
    -moz-box-shadow: 0 0 4px 1px $color-blue-dark;
  }

  h3 {
    margin: 0 0 20px 0;
  }
}

.clickable {
  cursor: pointer;
}

// bootstrap overwrite

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, div {
  font-family: 'Roboto', sans-serif;
}

.ace_editor {
  div {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  }
}

.panel-default {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;

  .panel-label {
    font-size: $font-medium;
    color: rgba($color-yellow, 0.7);
    line-height: 1;
  }
}

.panel-default > .panel-heading {
  background: white none !important;
  padding: 0 10px 12px 10px;

  .column {
    height: 40px;
    font-size: $font-medium;
    display: flex;
    font-weight: $font-weight-regular;
    align-items: flex-end;
  }

  .head {
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
  }

  .category {
    font-size: 12px;
    font-weight: lighter;
    color: rgba($color-yellow, 0.7);
  }
}

.panel-body {
  font-weight: $font-weight-bold;
  .head {
    font-size: $font-big;
    line-height: 1;
    margin-bottom: 4px;
  }

  .sub-head {
    font-size: $font-medium;
    color: rgba($color-yellow, 0.7);
    line-height: 1;
    padding-top: 0;
  }
}

.chart-row {
  padding-bottom: 40px;
}

.input-small {
  width: 70px;
  font-size: 12px;
}

.event-panel-content {
  box-shadow: 0 0 4px 1px $color-blue-dark;
  -webkit-box-shadow: 0 0 4px 1px $color-blue-dark;
  -moz-box-shadow: 0 0 4px 1px $color-blue-dark;

  height: 50px;
  position: relative;
  z-index: 888;
  transition: 0.3s height ease-in-out;

  &.show {
    height: 400px;
  }

  .head {
    height: 50px;
    padding: 15px 15px;
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-dark;
    cursor: pointer;
    font-weight: $font-weight-regular;
    overflow-y: scroll;

    .category {
      cursor: pointer;
      margin: 0;
      line-height: 1;
      color: $color-text;
      &:hover {
        color: $color-text-dark;
      }
    }

    a {
      color: $color-text;
      &:hover {
        color: $color-text-dark;
      }
    }
  }

  .container-fluid {
    background-color: linear-gradient(to right bottom, $color-bg, $color-bg-dark);;
    height: 360px;
    overflow-y: scroll;
    color: $color-text !important;

    table tbody tr {
      color: $color-text;
      font-weight: $font-weight-regular;
      th {
        border-top: none;
        border-bottom: 1px solid $color-bg-dark;
      }
      td {
        border-top: 1px $color-bg-dark solid;
        font-size: $font-medium !important;
        color: $color-text;
        font-weight: $font-weight-light;
        span {
          font-size: $font-medium !important;
          font-weight: $font-weight-light;
        }
      }
    }
  }
}

.service-row {
  &:first-of-type {
    padding: 0;
  }

  padding: 10px 0;
  border-bottom: 1px solid $color-white;

  &:last-of-type {
    border-bottom: none;
  }
}

.app-center {
  position: relative;
  overflow-y: scroll;
  flex: 1;
}

.condition-weights {
  .fa-pencil {
    cursor: pointer;
  }

  .slider {
    width: 70%;
  }
}

a.editable-click {
  color: #337ab7;
  border-bottom: none;
  font-style: normal;
  font-weight: bold;
}

a.editable-click:hover {
  color: #337ab7;
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
}

.chart-header {
  padding: 8px 0px 2px 8px;
  vertical-align: middle !important;
  color: rgba($color-yellow, 0.5);
  border-top: none !important;
  font-size: $font-medium !important;
  font-weight: 500;
}

.info-button {
  margin-right: -15px;
  width: 57px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  padding-top: 16px;
}

.fa-info {
  font-size: 22px;
}

.nav-logo {
  height: 24px;
  width: 24px;
}

.deploy-status {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: darkgrey;

  &.red {
    background-color: $color-pink;
  }

  &.green {
    background-color: $color-green;
  }

  &.yellow {
    background-color: $color-yellow;
  }

}

// slider style

.rzslider {
  .rz-bar {
    height: 10px;
    border-radius: 2px;
    background-color: $color-blue-dark;
    box-shadow: inset 0px 0px 4px -2px $color-blue-dark;
    -webkit-box-shadow: inset 0px 0px 4px -2px $color-blue-dark;
    -moz-box-shadow: inset 0px 0px 4px -2px $color-blue-dark;
  }

  .rz-bubble {
    color: $color-text;
    font-size: $font-medium;
  }

  .rz-limit {
    color: $color-text !important;
    font-size: 12px;
    background-color: rgba(black, 0.2);
    min-width: 30px;
    text-align: center;
    line-height: 1.5;
    border-radius: 2px;
  }

  .rz-selection {
    background-color: $color-pink;
    height: 10px;
  }

  .rz-pointer {
    background-color: $color-pink;
    border: 2px solid $color-white;
    top: -7px;
    width: 23px;
    height: 23px;

    &:after {
      display: none;
    }
  }

  .rz-selection {
    background-color: $color-pink !important;
  }
}

input[type=number] {
  width: 34px;
}

.instance {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.not-available {
  color: rgba($color-yellow, 0.3);
  cursor: default;

  &:hover {
    color: rgba($color-yellow, 0.3);
  }
}

.editable {
  display: inline-flex;

  .editable-icon {
    margin-left: 6px;
    cursor: pointer;
    i {
      color: $color-text-dark;
    }
    &.disabled {
      cursor: default;
      i {
        color: rgba($color-text-dark, 0.5);
      }
    }
  }
}

.editable-text {
  color: $color-bg-dark;
  input {
    width: 70%;
  }
}

.editable-text-buttons, .editable-number-slider-buttons {
  display: inline-flex;
  button {
    background-color: $color-text-dark;
    border-radius: .25em;
    border: none;
    color: aliceblue;
    margin: 0 2px;
  }
}

.editable-drop-down ul li a {
  color: $color-bg-dark;
}

@keyframes highlightChange {
  0% {
    background-color: #ec971f;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: #ec971f;
  }
}

.highlight {
  animation-name: highlightChange;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

//

.artifacts {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: $color-text;
}

.artifact {
  height: 28rem;
  width: 28rem;
  border: 2px solid $color-blue-dark;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: $color-bg-dark url('img/blueprint.png');

  -webkit-box-shadow: 0px 0px 3px 1px $color-blue-dark;
  -moz-box-shadow: 0px 0px 3px 1px $color-blue-dark;
  box-shadow: 0px 0px 3px 1px $color-blue-dark;

  &:hover {
    background-color: rgba(black, 0.4);
  }

  &.selected {
    border: 2px solid $color-pink;
    -webkit-box-shadow: 0px 0px 3px 1px $color-pink;
    -moz-box-shadow: 0px 0px 3px 1px $color-pink;
    box-shadow: 0px 0px 3px 1px $color-pink;
  }

  input[type="checkbox"] {
    -moz-transform: scale(1.25, 1.25);
    &:hover {
      cursor: pointer;
    }
  }
}

.artifact-title {
  font-size: $font-big;
  font-weight: $font-weight-light;
  margin: 0 0 1.5rem 0;
}

.artifact-properties {

  span {
    font-size: $font-medium !important;
    font-weight: $font-weight-light;
    background-color: rgba(lightblue, .1);
    color: inherit;
    border-radius: .3em;
    //margin-top: 30px !important;
  }

  .list {
    margin: .6rem 0 .6rem 0;
    font-weight: $font-weight-light;
    background-color: rgba(lightblue, .1);
    border-radius: .3em;
    color: inherit;
    padding: .2em .6em 0;

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding: 0 10px;
    }
  }
}

//

.btn {
  font-size: $font-medium !important;
  border: none !important;
  border-radius: 20px !important;
  line-height: 1 !important;
  background: $color-blue none !important;
  text-shadow: none !important;
  padding: 9px 20px 7px 20px !important;
  color: aliceblue !important;
  font-weight: $font-weight-light !important;
  letter-spacing: 1px;

  &:hover {
    background-color: $color-blue-dark !important;
  }

  &.toggle-on {
    background: $color-yellow none !important;
    border: 0 !important;
  }

  &.toggle-off {
    background: $color-pink none !important;
    border: 0 !important;
  }

  &.toggle-handle {
    background: aliceblue none !important;
  }

  &.btn-circle, &.btn-circle-3d {
    width: 5rem;
    height: 5rem;
    font-size: $font-big !important;
    border-radius: 50% !important;
    margin-left: 2rem;
    padding: 0 !important;
    -webkit-box-shadow: 0px 0px 3px 1px $color-blue-dark;
    -moz-box-shadow: 0px 0px 3px 1px $color-blue-dark;
    box-shadow: 0px 0px 3px 1px $color-blue-dark;

    &.red {
      -webkit-box-shadow: 0px 0px 3px 1px $color-pink;
      -moz-box-shadow: 0px 0px 3px 1px $color-pink;
      box-shadow: 0px 0px 3px 1px $color-pink;
    }

    &.ghost {
      -webkit-box-shadow: 0px 0px 3px 1px $color-white;
      -moz-box-shadow: 0px 0px 3px 1px $color-white;
      box-shadow: 0px 0px 3px 1px $color-white;
    }
  }

  &.red {
    background-color: $color-pink !important;
    &:hover {
      background-color: $color-pink-dark !important;
    }
  }

  &.ghost {
    background-color: $color-white !important;
    color: $color-bg-dark !important;
    &:hover {
      background-color: $color-text !important;
    }
  }
}

//

.blueprint-actions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin: 5px 30px 5px 30px;
    text-align: left;
  }
}

.gateway {
  p, span {
    font-size: $font-medium;
    font-weight: $font-weight-regular;
  }
}

.gateway-sticky {
  margin-left: 20px;
}

.gateway-row {
  text-align: center;
}

.gateway-route-row {
  border-top: 1px solid rgba($color-blue-dark, 0.3);
  &:last-of-type {
    border-bottom: 1px solid rgba($color-blue-dark, 0.3);
  }
  padding-bottom: 5px;
  &:hover {
    background-color: rgba($color-blue-dark, 0.1);
  }
}

.gateway-route, .gateway-route-condition {
  padding-top: 10px;
}

.deployment {
  p, span {
    font-size: $font-medium;
    font-weight: $font-weight-regular;
  }
}

// modal

.modal-content {
  background-color: $color-bg-dark;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}
