$red: #E54D42;

$pink-light: #FED8E5;
$pink: #FF4081;

$blue-light: #BCDFFA;
$blue: #03A9F4;
$blue-dark: #2E353F;

$green: #23AE8F;

$yellow: #F3C500;

$grey: #3B3B3B;
$grey-medium: #9E9E9E;
$grey-light: #EEE;

$off-white: #F6F6F6;