body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: white;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
	background: $grey-light;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 0 0 1rem;
	border: none;
}
ul, ol, dl {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
pre {
	margin: 0;
}

#page-container {	
	.wrapper {
		//display: inline-block;
		position: relative;
		z-index: 1;
		background-color: white;
		width: 100vw;
		min-height: 100vh;
		transition: transform 0.4s;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	}

	&.options-pane-opened {
		.wrapper {
			transform: translateX(-40vw);
		}
		.options-pane { 
			transform: translateX(-15vw);
		}
	}
}