#general-metrics {
	background-color: $off-white;
	width: 100%;
	padding: 1rem;
	margin: -1rem 0 0 -1rem;

	h1 {
		margin: 0;
	}
	.endpoints-container {
		
	}

	.deployment-metrics-container .metrics-chart {
		background-color: $off-white;
		padding: 1rem 1rem 1rem 0rem;
		box-sizing: border-box;
		border-radius: 3px;
	}
}
.cluster-name {
	// background-color: $off-white;
	// padding: 1rem;
	// width: 100%;
	// margin-left: -1rem;

	// h1 {
	// 	//color: white;
	// 	margin: 0;
	// }
}
.breadcrumbs-bar {
	background-color: white;
}