#general-metrics {
	background-color: white;
	width: 100%;
	padding: 0 1rem;
	margin: -1rem 0 0 -1rem;
	box-sizing: content-box;
	color: $grey;

	h1 {
		//margin: 1rem 0;
		color: inherit;
	}
	.endpoints-container {
		
	}

	.deployment-metrics-container .metrics-chart {
		padding: 0.5rem 1rem 1rem 0rem;
		box-sizing: border-box;
		border-radius: 3px;
	}
}
.cluster-name {
	// background-color: $off-white;
	// padding: 1rem;
	// width: 100%;
	// margin-left: -1rem;

	// h1 {
	// 	//color: white;
	// 	margin: 0;
	// }
}