// Base setting
html {
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
	font-weight: 400;
	color: $grey;
}

// Headings
h1 {
	font-size: 1.705882353em;
  	line-height: 1.3em;
	color: $grey;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.705882353em;
}

h2 {
	font-size: 1.705882353em;
  	line-height: 1.3em;
	color: $red; 
}

h3 {
	font-size: 1em;
	font-weight: 700;
  	line-height: 1.3em;
	color: $red; 
}

p { 
	margin-bottom: 0.7em; 
	line-height: 1.65em;
}

a {
  	color: $blue;
  	text-decoration: none;
}
strong {
	font-weight: 500;
}
// a[target="_blank"]:before {
//   	content: '\2197 \00a0';
// }