// Scale
$h1-size: 1.999rem;
$h2-size: 1.414rem;
$h3-size: 1.2rem;
$s-size: 0.808rem;
$xs-size: 0.707rem;

// Base setting
html {
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
	font-weight: 400;
	color: $grey;
}

// Headings
h1 {
	font-size: $h1-size;
  	line-height: 1.3em;
	color: $grey;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.705882353em;
}
h2 {
	margin: 0 0 ;
	font-size: $h2-size;
  	line-height: 1.3em;

  	small {
		font-weight: 400;
		font-size: $s-size;
  	}
}
h3 {
	margin: 0 0 1em;
	font-size: $h3-size;
	font-weight: 600;
  	line-height: 1.3em;
}
h4 {
	margin: 0 0 1em;
	font-size: $s-size;
	font-weight: 400;
  	line-height: 1.3em;
  	color: $grey-medium;
  	text-transform: uppercase;
}
h5 {
	margin-top: 0;
}

// General
p { 
	margin-bottom: 0.7em; 
	line-height: 1.65em;
}
small {
	font-size: $xs-size;
}
a {
  	color: $blue;
  	text-decoration: none;
}
strong {
	font-weight: 500;
}
.muted {
	color: $grey-medium;
}
.small-caps {
	color: $grey-medium;
	font-size: $xs-size;
	text-transform: uppercase;
}