/**
 * TYPOGRAPHIC SCALE
 */
$h1-size: 1.424em;
$h2-size: 1.266em;
$h3-size: 1.125rem;
$s-size: 0.808rem;
$xs-size: 0.707rem;
$line-height: 1.65rem;


/**
 * BASE
 */
html {
	font-size: 16px;
	line-height: $line-height;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
	font-weight: 400;
	color: $grey;
}

/**
 * HEADINGS
 */
h1 {
	position: relative;
	font-size: $h1-size;
  	line-height: $line-height;
	color: $grey;
	margin-bottom: 0;
}
h2 {
	position: relative;
	margin: 0;
	font-size: $h2-size;
  	line-height: $line-height;

  	small {
		font-weight: 400;
		font-size: $s-size;
  	}
}
h3 {
	position: relative;
	margin: 0 0 $line-height;
	font-size: $h3-size;
	font-weight: 600;
  	line-height: $line-height;

  	small {
  		line-height: 0;
  	}
}
h4, label {
	position: relative;
	margin: 0.65rem 0 0.2rem;
	font-size: $xs-size;
	font-weight: 600;
  	line-height: 1em;
  	color: $grey-medium;
  	text-transform: uppercase;
  	transition: padding-left 0.2s;

  	&.error-badge {
  		padding-left: 1.5rem;
  		&:before {
	  		left: 0;
	  		top: 1rem;
	  	}
  	}
}
h5 {
	position: relative;
	margin: 0.395rem 0 0.225rem;
	font-size: $s-size;
	font-weight: 400;
  	line-height: 1rem;
  	color: $grey-medium;
}



/**
 * GENERAL
 */
p { 
	margin-bottom: 0.7em; 
	line-height: $line-height;
}
small {
	font-size: $xs-size;
}
strong {
	font-weight: 600;
}
.muted {
	color: $grey-medium;
}
.warning {
	color: $red!important;
}
.small-caps {
	color: $grey-medium;
	font-size: $xs-size;
	text-transform: uppercase;
}


/**
 * LINKS
 */
a {
  	color: $blue;
  	text-decoration: none;
  	cursor: pointer;
}
a.add-link {
	font-weight: 600;
	font-size: $s-size;
	color: $blue!important;
	text-transform: lowercase;
}