<header title="Backend configuration">
</header>

<div class="container-fluid">
  <div>
    <ul class="nav nav-tabs">
      <li
        ng-class="{'active' : $ctrl.type === 'applied'}">
        <a class="capitalize" ng-click="$ctrl.setType('applied')">
          applied
        </a>
      </li>
      <li ng-class="{'active' : $ctrl.type === 'dynamic'}">
        <a class="capitalize" ng-click="$ctrl.setType('dynamic')">
          <i class="icon-pencil"></i>
          zookeeper
        </a>
      </li>
      <li ng-class="{'active' : $ctrl.type === 'system'}">
        <a class="capitalize" ng-click="$ctrl.setType('system')">system properties</a>
      </li>
      <li ng-class="{'active' : $ctrl.type === 'environment'}">
        <a class="capitalize" ng-click="$ctrl.setType('environment')">environment variables</a>
      </li>
      <li ng-class="{'active' : $ctrl.type === 'application'}">
        <a class="capitalize" ng-click="$ctrl.setType('application')">application</a>
      </li>
      <li ng-class="{'active' : $ctrl.type === 'reference'}">
        <a class="capitalize" ng-click="$ctrl.setType('reference')">reference</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="container-fluid">
          <div class="row tab-pane-header"
            ng-class="{}">
            <div class="col-md-6">
              <button class="btn bootstrap-btn btn-small btn-transparent"
                ng-class="{'active' : $ctrl.flatten }"
                ng-click="$ctrl.toggleFlatten()">
                  <i class="icon-layers"></i>
                  <span class="btn-text">flatten</span>
              </button>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <button class="btn bootstrap-btn btn-small btn-ghost btn-primary"
                  ng-if="$ctrl.type === 'dynamic' && !$ctrl.inEdit"
                  ng-click="$ctrl.startEdit()">
                    <span class="btn-text">edit</span>
                </button>
                <button class="btn bootstrap-btn btn-small btn-ghost btn-primary"
                  ng-if="$ctrl.type === 'dynamic' && $ctrl.inEdit"
                  ng-click="$ctrl.setType('dynamic')">
                    <span class="btn-text">cancel</span>
                </button>
                <button class="btn bootstrap-btn btn-small btn-ghost btn-success"
                  ng-if="$ctrl.type === 'dynamic' && $ctrl.inEdit && $ctrl.dirty()"
                  ng-click="$ctrl.dirty() && $ctrl.update()">
                    <span class="btn-text">save</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row tab-editor">
            <div class="col-md-12">
                <div id="editor" ui-ace="$ctrl.editor"
                     ng-readonly="$ctrl.type != 'dynamic' || ($ctrl.type == 'dynamic' && !$ctrl.inEdit)"
                     ng-model="$ctrl.source"
                     ng-change="$ctrl.edited()"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
