<div class="container-fluid stretch-height">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default log-panel">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="form-inline">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="$ctrl.filter.error" ng-change="$ctrl.filterUpdate()"> Error
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="$ctrl.filter.info" ng-change="$ctrl.filterUpdate()"> Info
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="$ctrl.filter.debug" ng-change="$ctrl.filterUpdate()"> Debug
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="$ctrl.filter.trace" ng-change="$ctrl.filterUpdate()"> Trace
                </label>
              </div>
              <button class="btn btn-small btn-ghost btn-primary"
                ng-click="$ctrl.clearLog()">
                Clear log
              </button>
            </div>

          </div>
          <div class="pull-right">

            Follow log:&nbsp;
            <toggle ng-model="$ctrl.isFollowLog" style="vamp-toggle"
              ng-change="$ctrl.toggleFollowOnOff()" onstyle="btn-success"
              offstyle="btn-primary" size="btn-xs" ng-model="toggleValue"
              ng-change="changed()"></toggle>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-condensed vamp-lv">
            <thead>
              <tr>
                  <th>time</th>
                  <th>level</th>
                  <th>logger</th>
                  <th>message</th>
              </tr>
            </thead>
            <tbody>
              <tr lass="vamp-lv-data-row"
                ng-repeat="log in ($ctrl.filteredLogs | orderBy:timestamp)"
                on-render-end="$ctrl.scrollToBottom()">
                  <td>
                      <span class="timestamp">
                          {{ log.timestamp | date:'HH:mm:ss.sss'}}
                      </span>
                  </td>
                  <td>
                      <span class="label" ng-class="{'label-danger': log.level == 'ERROR', 'label-success': log.level == 'INFO', 'label-primary': log.level == 'DEBUG' || log.level == 'TRACE'}">{{ log.level }}</span>
                  </td>
                  <td>
                      <span class="label">{{ log.logger }}</span>
                  </td>
                  <td>
                      {{ log.message}}
                  </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
