<div class="live-bar-chart">
  <div class="inner" ng-class="{animate: $ctrl.animate}" ng-style="{'margin-right': $ctrl.overflowMargin, 'padding-right': $ctrl.paddingRight}">
    <div class="bars">
      <div class="bar" style="height:{{bar.height}}; width:{{bar.width}}" ng-repeat="bar in $ctrl.bars track by $index">
        <div class="value">
          {{bar.value | number:2}}
        </div>
      </div>
    </div>

    <div class="labels">
      <div class="label" style="width:{{bar.width}}" ng-repeat="bar in $ctrl.bars track by $index">
        {{bar.label | date: 'hh:mm:ss'}}
      </div>
    </div>
  </div>
</div>