<header title="Deployments">

</header>

<div class="container-fluid">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Instances</th>
      <th>Cpu</th>
      <th>Memory</th>
      <th></th>
    </tr>
    <tr ng-repeat="deployment in $ctrl.deployments">
      <td class="col-md-5" title="'Name'" filter="{name: 'text'}" sortable="'name'">
        <a ui-sref="readOneDeployment({id: deployment.name})">{{deployment.name}}</a>
      </td>
      <td class="col-md-1">
        <span highlighter="deployment.totalInstance">{{deployment.totalInstances}}</span>
      </td>
      <td class="col-md-1">
        <span highlighter="deployment.totalCpu | number:2">{{deployment.totalCpu | number:2}}</span>
      </td>
      <td class="col-md-1">
        <span highlighter="deployment.totalMemory">{{deployment.totalMemory}} MB</span>
      </td>
      <td>
        <div class="pull-right">
          <button ui-sref="updateDeployment({id: deployment.name})" class="btn blue"><i class="fa fa-lg fa-pencil"></i>&nbsp;&nbsp;Edit</button>
          <button ng-click="$ctrl.openDeleteModal(deployment.name)" class="btn btn-defaul red"><i class="fa fa-lg fa-ban"></i>&nbsp;&nbsp;Undeploy</button>
        </div>
      </td>
    </tr>
  </table>
</div>