.navigation {
  height: 5.6rem;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;

  overflow: hidden;
  position: relative;
  z-index: 999;
}

.logo {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;


  &__image {
    height: 40%;
    margin-top: 0.7rem;
  }
}

.navigation-items {
  width: 80%; //temp
  height: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
 
  &__item {
    display: block;
    height: 100%;
  }

  &__link {
    display: block;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $black;
    font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 1;
  }
}


