<div>
    <div class="vamp-page-header">
        <div class="container-fluid">
            <div class="row header-row">
                <div class="col-xs-2 header-column title">
                    <buttons>
                        <button class="btn btn-lg ghost" type="submit"
                                ng-disabled="$ctrl.mode() == 'configuration'"
                                ng-click="$ctrl.mode('configuration')">
                            <i class="fa fa-fw fa-align-justify"></i>&nbsp;generated
                        </button>
                        <button class="btn btn-lg ghost" type="submit"
                                ng-disabled="$ctrl.mode() == 'template'"
                                ng-click="$ctrl.mode('template')">
                            <i class="fa fa-fw fa-fire"></i>&nbsp;template
                        </button>
                    </buttons>
                </div>
                <div class="col-xs-4 header-column title">
                    {{ $ctrl.title() }}
                </div>
                <div class="col-xs-6 header-column buttons">
                    <div class="pull-right">
                        <buttons>
                            <button ng-repeat="marshaller in $ctrl.marshallers" class="btn btn-lg" type="submit"
                                    title="{{ marshaller }}"
                                    ng-click="$ctrl.marshaller(marshaller)"
                                    ng-disabled="$ctrl.marshaller() === marshaller">{{ marshaller }}
                            </button>
                            <button class="btn btn-lg red" type="submit" title="SAVE & UPDATE"
                                    ng-click="$ctrl.update()"
                                    ng-disabled="$ctrl.mode() != 'template' || !$ctrl.dirty()">
                                <i class="fa fa-floppy-o"></i>&nbsp;update
                            </button>
                        </buttons>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="editor">
        <div ui-ace="$ctrl.editor"
             ng-readonly="$ctrl.mode() != 'template'"
             ng-model="$ctrl.source"
             ng-change="$ctrl.edited()"></div>
    </div>
</div>